<template>
	<div>
		<div class="_content0">
			<!-- Main Content -->
			<div class="_2page">
				<div class="_my_container _pro_rel">
					<div class="row justify-content-center">
						<div class="col-12 col-md-9 col-lg-9">
							<div class="_1profileEdit_main _mobile_1profileEdit_main _1box_shadow _border_rad4">
								<div class="_1edit_title_top">
									<h1 class="_2title">Ask your <span class="_1color">Question</span></h1>
								</div>

								<form>
									<div class="row">
										<div class="col-md-12 col-lg-12 col-12">
											<div class="_1input_group">
												<p class="_1edit_card_num_p _padd_b10">Name</p>
												<input class="_1int" type="" name="" placeholder="Name">
											</div>
										</div>

										<div class="col-md-12 col-lg-12 col-12">
											<div class="_1input_group">
												<p class="_1edit_card_num_p _padd_b10">Email</p>
												<input class="_1int" type="" name="" placeholder="something@gmail.com">
											</div>
										</div>

										<div class="col-12 col-md-12 col-lg-12">
											<div class="_1input_group">
												<p class="_1edit_card_num_p _padd_b10">Your question?</p>
												<input class="_1int" type="" name="" placeholder="DD">
											</div>
										</div>

										<div class="col-12 col-md-12 col-lg-12">
											<div class="_1input_group">
												<p class="_1edit_card_num_p _padd_b10">Add tags</p>
												<input class="_1int" type="" name="" placeholder="Add tags">

												<ul class="_input_tag _new_input_tag">
													<li><Tag closable @on-close="handleClose">Tags</Tag></li>
													<li><Tag closable @on-close="handleClose">Tags</Tag></li>
													<li><Tag closable @on-close="handleClose">Tags</Tag></li>
													<li><Tag closable @on-close="handleClose">Tags</Tag></li>
													<li><Tag closable @on-close="handleClose">Tags</Tag></li>
												</ul>
											</div>
										</div>
						
										<div class="col-12 col-md-12 col-lg-12 _mar_t10 _text_center">
											<button type="button" class="_1btn _1edit_btn _1edit_btn2">Submit</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

					<!-- Image bac -->
					<div class="_1star">
						<img src="/static/star.png" alt="" title="">
					</div>
					<!-- Image bac -->
				</div>

				<!-- Image bac -->
				<div class="_1appi">
					<img src="/static/Appify.png" alt="" title="">
				</div>
				<!-- Image bac -->
			</div>
			<!-- Main Content -->
		</div>
	</div>
</template>