<template>
	<div>
		<div class="_content0">
			<!-- Main Content -->
			<div class="_2page answer_main">
				<div class="_my_container _pro_rel">
					<div class="_back_main _mar_b40 _mar_t30">
						<a class="_back" href="">Back to Help Center</a>
						<p class="_id">#123213234: Business verification is required</p>
					</div>
					<div class="row justify-content-center">
						<div class="col-12 col-md-8 col-lg-9">
							<div class="_1answer _1box_shadow _border_rad4 _padd15">
								<div class="_1edit_title_top">
									<h1 class="_2title">Your <span class="_1color">Response</span></h1>
								</div>

								<div class="answer">
									<!-- Items -->
									<div class="_question">
										<div class="_6card">
											<div class="_6card_pic">
												<img class="_6card_img" src="/static/mobile.png" alt="" title="">
											</div>

											<div class="_6card_details">
												<div class="_6card_status">
													<p class="_6card_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
													tempor incididunt ut.</p>

													<!--  <img class="_mar_t20" src="/static/mobile.png" alt="" title=""> -->
												</div>
											</div>

											<p class="_6card_time">10-02-2020 12:00PM</p>
										</div>
									</div>
									<!-- Items -->

									<!-- Items -->
									<div class="_question">
										<div class="_6card">
											<div class="_6card_pic">
												<img class="_6card_img" src="/static/cardTwo.png" alt="" title="">
											</div>

											<div class="_6card_details">
												<div class="_6card_status">
													<p class="_6card_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

													<!--  <img class="_mar_t20" src="/static/mobile.png" alt="" title=""> -->
												</div>
											</div>

											<p class="_6card_time">10-02-2020 12:00PM</p>
										</div>
									</div>
									<!-- Items -->

									<!-- Items -->
									<div class="_question">
										<div class="_6card">
											<div class="_6card_pic">
												<img class="_6card_img" src="/static/cardTwo.png" alt="" title="">
											</div>

											<div class="_6card_details">
												<div class="_6card_status">
													<p class="_6card_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
													tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
													quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
													consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</p>

													<!--  <img class="_mar_t20" src="/static/mobile.png" alt="" title=""> -->
												</div>
											</div>

											<p class="_6card_time">10-02-2020 12:00PM</p>
										</div>
									</div>
									<!-- Items -->

									<!-- Textarea -->
									<div class="_1answer_textarea _text_right _mar_t30 _dis_flex align-items-end">
										<div class="_flex_space">
											<textarea class="_1textarea" placeholder="Send your message" rows="6"></textarea>
										</div>

										<div class="_flex_auto _padd_l15">
											<button class="_1btn" type="button">Submit</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-md-4 col-lg-3">
							<div class="_resources _1box_shadow _border_rad4 _padd15">
								<p class="_resources_title">Resources</p>

								<p class="_resources_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore</p>

								<ul class="_resources_list">
									<li><i class="fas fa-lock"></i> APi Keys</li>
									<li><i class="fas fa-lock"></i> Help center</li>
									<li><i class="fas fa-lock"></i> API documentation</li>
									<li><i class="fas fa-lock"></i> SenderScore</li>
									<li><i class="fas fa-lock"></i> MXTToolBok</li>
									<li><i class="fas fa-lock"></i> HTML email templates</li>
								</ul>

								<a href="" class="_resources_ques">Technical questions?</a>
							</div>
						</div>
					</div>

					<!-- Image bac -->
					<div class="_1star">
						<img src="/static/star.png" alt="" title="">
					</div>
					<!-- Image bac -->
				</div>

				<!-- Image bac -->
				<div class="_1appi">
					<img src="/static/Appify.png" alt="" title="">
				</div>
				<!-- Image bac -->
			</div>
			<!-- Main Content -->
		</div>
	</div>
</template>