<template>
	<div>
		<div class="_content0">
			<!-- Main Content -->
			<div class="_2page answer_main">
				<div class="_my_container _pro_rel">
					<div class="row justify-content-center _mar_t30">
						<div class="col-12 col-md-8 col-lg-9">
							<div class="row">
								<div class="col-12 col-md-6 col-lg-6">
									<div class="_ticket_card _1box_shadow _border_rad4 _padd20 _mar_b30">
										<div class="_ticket_card_top">
											<i class="fas fa-ticket-alt"></i>
											<p class="_ticket_card_title">Ticket</p>
										</div>

										<p class="_1text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>

										<div class="">
											<button class="_1btn" type="button" @click="opneTiketModal">Create Ticket</button>
										</div>
									</div>
								</div>

								<!-- <div class="col-12 col-md-6 col-lg-6">
									<div class="_ticket_card _1box_shadow _border_rad4 _padd20 _mar_b30">
										<div class="_ticket_card_top">
											<i class="fas fa-comments-dollar"></i>
											<p class="_ticket_card_title">Talk to support live</p>
										</div>

										<p class="_1text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>

										<div class="">
											<button class="_1btn" type="button">Upgrade</button>
										</div>
									</div>
								</div> -->
							</div>

							<div class="_1answer _1box_shadow _border_rad4 _padd20">
								<p class="_resources_title">Ticket history</p>

								<!-- Items -->
								<div class="_history">
									<div class="_history_details">
										<div class="_history_title">
											<a href="" class="_history_text">Business verification is requred</a>

											<p class="_closed">Closed</p>
										</div>
										<p class="_history_id">12374375</p>
									</div>

									<p class="_history_date">12/01/2020 6:00PM</p>
								</div>
								<!-- Items -->

								<!-- Items -->
								<div class="_history">
									<div class="_history_details">
										<div class="_history_title">
											<a href="" class="_history_text">Business verification is requred</a>

											<p class="_closed">Closed</p>
										</div>
										<p class="_history_id">12374375</p>
									</div>

									<p class="_history_date">12/01/2020 6:00PM</p>
								</div>
								<!-- Items -->

								<!-- Items -->
								<div class="_history">
									<div class="_history_details">
										<div class="_history_title">
											<a href="" class="_history_text">Business verification is requred</a>

											<p class="_closed">Closed</p>
										</div>
										<p class="_history_id">12374375</p>
									</div>

									<p class="_history_date">12/01/2020 6:00PM</p>
								</div>
								<!-- Items -->

								<!-- Items -->
								<div class="_history">
									<div class="_history_details">
										<div class="_history_title">
											<a href="" class="_history_text">Business verification is requred</a>

											<p class="_closed">Closed</p>
										</div>
										<p class="_history_id">12374375</p>
									</div>

									<p class="_history_date">12/01/2020 6:00PM</p>
								</div>
								<!-- Items -->
							</div>
						</div>

						<div class="col-12 col-md-4 col-lg-3">
							<div class="_resources _1box_shadow _border_rad4 _padd15">
								<p class="_resources_title">Resources</p>

								<p class="_resources_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore</p>

								<ul class="_resources_list">
									<li><i class="fas fa-lock"></i> APi Keys</li>
									<li><i class="fas fa-lock"></i> Help center</li>
									<li><i class="fas fa-lock"></i> API documentation</li>
									<li><i class="fas fa-lock"></i> SenderScore</li>
									<li><i class="fas fa-lock"></i> MXTToolBok</li>
									<li><i class="fas fa-lock"></i> HTML email templates</li>
								</ul>

								<a href="" class="_resources_ques">Technical questions?</a>
							</div>
						</div>
					</div>

					<!-- Image bac -->
					<div class="_1star">
						<img src="/static/star.png" alt="" title="">
					</div>
					<!-- Image bac -->
				</div>

				<!-- Image bac -->
				<div class="_1appi">
					<img src="/static/Appify.png" alt="" title="">
				</div>
				<!-- Image bac -->
			</div>
			<!-- Main Content -->
		</div>
	</div>
</template>

<script>
export default {
    data(){
        return{
            
        }
	},
	mounted() {
		window.scrollTo(0, 0);
	},
}
</script>