<!-- web  -->
                        <div
                          v-if="tab == 'web'"
                          :class="(tab == 'web') ? `_platform_section_process jony` : ''"
                        >
                          <!-- <ul class="_platform_section_inner_content_main">
                            <li v-for="(item, index) in serviceData.web" :key="index">
                              <input type="checkbox" id="one" />
                              <label for="one">{{ item.termName }}</label>
                            </li>
                          </ul>-->
                          <CheckboxGroup v-model="selectedServices">
                            <Checkbox
                              v-for="(item, index) in serviceData.web"
                              :key="index"
                              :label="item.term"
                            >
                              <span>{{ item.termName }}</span>
                            </Checkbox>
                          </CheckboxGroup>
                          <div class="_1input_button">
                            <button type="button" class="_2btn" @click="step = 3">
                              Submit
                              <i class="ivu-icon ivu-icon-ios-arrow-round-forward"></i>
                            </button>
                          </div>
                        </div>
                        <!-- both  -->
                        <div
                          v-if="tab == 'both'"
                          :class="(tab == 'both') ? `_platform_section_process jony` : ''"
                        >
                          <ul class="_platform_section_inner_content_main">
                            <li>
                              <input type="checkbox" id="one" />
                              <label for="one">Android Apps 2</label>
                              <ul class="_platform_section_inner_content_drop">
                                <li>
                                  <input type="checkbox" id="two" />
                                  <label for="two">Zomato 2</label>
                                </li>
                                <li>
                                  <input type="checkbox" id="two" />
                                  <label for="two">Zomato 2</label>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <input type="checkbox" id="three" />
                              <label for="three">IOS Apps</label>
                              <ul class="_platform_section_inner_content_drop">
                                <li>
                                  <input type="checkbox" id="four" />
                                  <label for="four">Zomato</label>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <input type="checkbox" id="five" />
                              <label for="five">Both Apps</label>
                              <ul class="_platform_section_inner_content_drop">
                                <li>
                                  <input type="checkbox" id="six" />
                                  <label for="six">Zomato</label>
                                </li>
                              </ul>
                            </li>
                          </ul>
                          <CheckboxGroup v-model="selectedServices">
                            <Checkbox
                              v-for="(item, index) in serviceData.both"
                              :key="index"
                              :label="item.term"
                            >
                              <span>{{ item.termName }}</span>
                            </Checkbox>
                          </CheckboxGroup>
                          <div class="_1input_button">
                            <button type="button" class="_2btn" @click="step = 3">
                              Submit
                              <i class="ivu-icon ivu-icon-ios-arrow-round-forward"></i>
                            </button>
                          </div>
                        </div>