<template>
  <div>
    <div class="_content0">
      <!-- Main Content -->
      <div class="_2page">
        <div class="_my_container _pro_rel">
          <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-9">
              <div class="_1profileEdit_main _mobile_1profileEdit_main _1box_shadow _border_rad4">
                <div class="_1edit_title_top">
                  <h1 class="_2title">
                    <span class="_1color">Check out {{ data.totalItems }} items</span> in your cart
                  </h1>
                </div>
                <div class="row justify-content-center _new_same_row">
                  <!--====== card ========-->
                  <div
                    v-for="(item, index) in computedCartDetails"
                    :key="index"
                    class="col-lg-6 col-md-6 col-12 _mar_b20"
                  >
                    <div class="_1select_section_all _dis_flex _2box_shadow _cursor_pointer">
                      <div class="_1select_section_left">
                        <img src="/static/cardone.png" alt />
                      </div>
                      <div
                        v-if="item.product && item.product.category"
                        class="_1select_section_right"
                      >
                        <h4 class="_1select_section_h4">{{ item.product.title }}</h4>
                        <p class="_1select_section_p">{{ item.product.category.categoryName }}</p>
                        <span class="_1select_section_dlr">${{ item.product.discounted_price }}</span>
                      </div>
                      <div @click="deleteFromCart(item,index)" class="_1select_remove_icon">
                        <Icon type="md-close" />
                      </div>
                    </div>
                  </div>
                  <!--====== card ========-->
                </div>
                <div class="_1select_btm_section">
                  <h2 class="_1select_btm_h2 _mar_t25 _mar_b25" v-if="order.discount>0" >Coupon Discount -${{ order.discount }}</h2>
                  <h2 class="_1select_btm_h2 _mar_t25 _mar_b25">Total price ${{ totalPrice }}</h2>
                  <button
                    v-if="computedCartDetails.length == 0"
                    @click="isEmptyCart = true"
                    type="button"
                    class="_1btn _1edit_btn _1edit_btn2"
                  >Checkout</button>
                  <button
                    v-else
                    @click="onClickCheckout"
                    type="button"
                    class="_1btn _1edit_btn _1edit_btn2"
                  >Checkout</button>
                  <p
                    v-if="isEmptyCart"
                    class="error_color _mar_t10"
                  >You don't have any produts in you cart.</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Image bac -->
          <div class="_1star">
            <img src="/static/star.png" alt title />
          </div>
          <!-- Image bac -->
        </div>

        <!-- Image bac -->
        <div class="_1appi">
          <img src="/static/Appify.png" alt title />
        </div>
        <!-- Image bac -->
      </div>
      <!-- Main Content -->
    </div>

    <Modal width="900px" v-model="openStripeModal" :footer-hide="true" :mask-closable="false">
      <div ref="content" class="row justify-content-center">
        <div class="col-12 col-md-11 col-lg-11 mar_t40">
          <form id="payment-form">
            <div class="_stype_main">
              <div class="form-row">
                <label for="card-element">Credit or debit card</label>
                <div id="card-element">
                  <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display Element errors. -->
                <div id="card-errors" role="alert"></div>
              </div>

              <button
                class="cart-button"
                :disabled="load_payment"
              >{{load_payment?'Wait..':'Submit Payment'}}</button>
            </div>
          </form>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      openStripeModal: false,
      load_payment: false,
      totalPrice: 0,
      circleLoading: false,
      paymentMethod: "",
      paymentMethod2: "",
      couponData:{
        code:'',
        discount:0,
        id:0
      },
      order:{
        discount:0
      },

      isEmptyCart: false
    };
  },

  middleware: "auth",
  computed: {
    computedCartDetails() {
      let count = 0;
      for (let i of this.data.cartDetails) {
        if (i.product.discount > 0) {
          i.product.discounted_price =
            i.product.license.price -
            i.product.license.price * (i.product.discount / 100);
        } else {
          i.product.discounted_price = i.license.price;
        }
        count += i.product.discounted_price;
      }
      if(this.order.discount>0) count = count - this.order.discount
      this.totalPrice = count;
      return this.data.cartDetails;
    }
  },

  methods: {
    async deleteFromCart(item, index) {
      this.circleLoading = true;
      const loading = this.$vs.loading({
        target: this.$refs.content,
        color: "#3177f1",
        type: "points",
        text: "Please Wait..."
      });

      let obj = {
        id: item.id,
        user_id: this.authUser.id
      };

      const res = await this.callApi("post", `/app/cart/delete`, obj);
      if (res.status == 200) {
        this.data.cartDetails.splice(index, 1);
        this.data.totalItems = this.data.totalItems - 1;
        this.$store.commit("setCartItem", this.data.cartDetails);
        this.$store.commit("setCartItemNumber", this.data.cartDetails.length);
      } else {
        this.e(res.data.message);
      }
      loading.close();
      this.circleLoading = false;
    },

    async onClickCheckout() {
      this.circleLoading = true;
      const loading = this.$vs.loading({
        color: "#3177f1",
        type: "points",
        text: "Please Wait..."
      });

      let ob = {
        ob:this.data.cartDetails,
        discount : this.order.discount,
        code_id : this.couponData.id,
      };

      for (let i of ob.ob) {
        delete i.product;
      }

      const res = await this.callApi("post", `/app/user/checkout`, ob); 
      if (res.status == 200) {
        this.circleLoading = "done";
        loading.close();

        if (res.data.totalPrice == 0) {
          return this.$router.push("/profile/myOrder");
        }

        return this.$router.push(`/payment?id=${res.data.id}`);
      } else {
        this.swr();
        this.circleLoading = "not-done";
      }
      loading.close();
    }
  },
  async created(){
    if(this.$route.query.code){
        this.couponData.code = this.$route.query.code
        const res = await this.callApi('post','/app/user/checkout/checkCoupon',{code:this.couponData.code})
        if(res.status == 202){
            
            let flag = false;
            for(let d of this.data.cartDetails){
              if(res.data.Coupon.product_id == d.product.id){
                if(res.data.Coupon.discount > d.license.price) return this.i('Grand-Total is too low to active this coupon!!')
                flag = true;
                this.couponData = res.data.Coupon
                this.order.discount = res.data.Coupon.discount
                this.s('You get $'+res.data.Coupon.discount+' discount')

              }
            }
            if(flag==false){
              this.i(`this  Coupon '${this.couponData.code}' isn't applicable to your cart products`)
            }
            else if (res.status == 401) {
                this.e(res.data.message) 
            }
            
        }

     
    } 
  },
  mounted() {
    if (this.paymentMethod == "stripe") {
      this.stripe = Stripe(this.$store.state.stripe_publish_key);
      // Create an instance of Elements.
      this.elements = this.stripe.elements();

      // Custom styling can be passed to options when creating an Element.
      // (Note that this demo uses a wider set of styles than the guide below.)
      var style = {
        base: {
          color: "#32325d",
          fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
          fontSmoothing: "antialiased",
          fontSize: "16px",
          "::placeholder": {
            color: "#aab7c4"
          }
        },
        invalid: {
          color: "#fa755a",
          iconColor: "#fa755a"
        }
      };

      // Create an instance of the card Element.
      this.card = this.elements.create("card", { style: style });

      // Add an instance of the card Element into the card-element <div>.
      this.card.mount("#card-element");

      // Create a token or display an error when the form is submitted.
      const form = document.getElementById("payment-form");
      form.addEventListener("submit", async event => {
        event.preventDefault();
        this.load_payment = true;

        let { token, error } = await this.stripe.createToken(this.card);
        // console.log('token',token)

        if (error) {
          this.load_payment = false;
          // Inform the customer that there was an error.
          const errorElement = document.getElementById("card-errors");
          errorElement.textContent = error.message;
        } else {
          error = {};
          // Send the token to your server.
          // console.log(token)
          this.stripeTokenHandler(token);
        }
      });
    }
  },

  async asyncData({ app, redirect }) {
    try {
      let { data } = await app.$axios.get(`/app/cart/getDetails`);

      if (!data) {
        redirect("/");
      }
      return {
        data: data
      };
    } catch (error) {
      return error;
    }
  },

  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>