<template>
  <div>
    <div class="_1login">
      <div class="_content _my_container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="_1login_left">
              <img class="_1login_left_img" src="/static/signimg.png" alt title />

              <div class="_1login_bac_one"></div>
            </div>
          </div>

          <div class="col-12 col-md-5 col-lg-auto">
            <div class="_1login_right _box_shadow _contact_box">
              <h3 class="_1login_title">Send us your query</h3>
              <!-- <form class="_1login_form">
                <div class="_1input_group">
                  <p class="_1label">Full Name</p>

                  <input v-model="form.fullName" class="_1int" type="text" placeholder="Full Name" />
                </div>

                <div class="_1input_group">
                  <p class="_1label">Email Address</p>

                  <input
                    v-model="form.email"
                    class="_1int"
                    type="text"
                    placeholder="email@example.com"
                  />
                </div>

                <div class="_1input_group">
                  <p class="_1label">Message</p>

                  <Input
                    v-model="form.message"
                    class="_1int"
                    type="textarea"
                    placeholder="Message"
                  />
                </div>

                <div class="_1input_group">
                  <p class="_1sign_text">
                    Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other puroses described in our
                    <a
                      href
                      class="_2link"
                    >privacy policy</a>.
                  </p>
                </div>

                <div class="_1input_button">
                  <button @click="onSubmit" :disabled="isLoading" class="_1btn" type="button">Submit</button>
                </div>
              </form>-->
              <Form ref="form" :model="form" :rules="ruleValidate" label-position="top">
                <FormItem prop="fullName" label="Full Name">
                  <Input v-model="form.fullName" placeholder="full name" />
                </FormItem>
                <FormItem prop="email" label="Email">
                  <Input v-model="form.email" type="email" placeholder="email@example.com" />
                </FormItem>
                <FormItem prop="message" label="Message">
                  <Input v-model="form.message" type="textarea" :rows="10" placeholder="message" />
                </FormItem>
                <FormItem>
                  <div class="_1input_button">
                    <button
                      @click="onSubmit"
                      :disabled="isLoading"
                      class="_1btn"
                      type="button"
                    >Submit</button>
                  </div>
                </FormItem>
              </Form>
            </div>
          </div>
        </div>
      </div>

      <div class="_1login_bac">
        <div class="_1login_bac_two"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        fullName: "",
        message: "",
        email: ""
      },

      reg: /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
      isLoading: false,

      ruleValidate: {
        fullName: [
          { required: true, message: "Full name is required", trigger: "blur" }
        ],
        email: [
          {
            required: true,
            message: "Email cannot be empty",
            trigger: "blur"
          },
          { type: "email", message: "Incorrect email format", trigger: "blur" }
        ],
        message: [
          {
            required: true,
            message: "Please type your message",
            trigger: "change"
          }
        ]
      }
    };
  },

  methods: {
    async onSubmit() {
      this.$refs["form"].validate();

      if (this.form.fullName.trim() == "") {
        return this.i("Full Name is required!");
      }

      if (!this.form.email) {
        return this.i("Email is required!");
      }
      if (!this.reg.test(this.form.email)) {
        return this.i("Email is invalid!");
      }

      if (this.form.message.trim() == "") {
        return this.i("Message is required!");
      }

      this.isLoading = true;

      const res = await this.callApi("post", "/app/contactus", this.form);

      if (res.status === 200) {
        this.isLoading = false;
        this.s("Successfully sent! Please Check Your Mail.");
        this.form = {};
      } else if (res.status === 401) {
        for (let i of res.data) {
          this.e(i.message);
          this.isLoading = false;
        }
      } else {
        this.isLoading = false;
        this.swr();
      }
    }
  },

  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>
