<template>
  <div>
    <!--====== Header ========-->
    <div class="_1header">
      <div class="_content _my_container">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-8">
            <h1 class="_1header_title"><span class="_1color">Download</span> amazing free & premium fully-responsive website templates and Flutter mobile app UI</h1>

            <p class="_2text _2color _mobile_black">
              AppifyLab not only provides robust software design & development services, but also offers multi-purpose website templates and mobile app UI which can be used instantly. Our agile team is always ready for your assistance. Explore our best-in-class services and ready-to-use products.
            </p>
          </div>
         <!--  <div class="col-12 col-md-5 col-lg-5">
            <div class="_home_button_top">
              <div class="_home_button_one">
                 <Icon type="ios-call" />
                  <a href="">Contact Us</a>
              </div>
             <div class="_home_button_one">
                  <i class="fas fa-shopping-cart"></i>
                  <a href="">Products</a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!--====== Header ========-->

    <!--====== Latest ========-->
    <div class="_1latest_Section">
      <!-- <Upload
      name="avatar"
      multiple
      type="drag"
      ref="upload"
      :format="['zip']"
      action="/upload/zip"
    >
      <div style="padding: 20px 0">
        <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
        <p>Click or drag files here to upload</p>
      </div>
      </Upload>-->
      <div class="_my_container">

        <h1 class="_1title">
          <span class="_1color">Latest</span> Products
        </h1>
        <p class="_2text _2color">Most recently added to our collection.</p>
        <div class="_center">
            <adsbygoogle  ad-slot="7855974914"   analytics-uacct="UA-67475707-4" analytics-domain-name="appifylab.com"/>
        </div>
        <template v-if="circleLoading">
          <div class="_1latest_card _mar_b20">
            <div ref="content" class="row">
              <cateShimmer></cateShimmer>
            </div>
          </div>
          <div class="_home_button _text_center">
            <button @click="$router.push(`/products`)" class="_2btn" type="button">
              View all themes
              <Icon type="ios-arrow-round-forward" />
            </button>
          </div>
        </template>
        <template v-else>
          <div class="_1latest_card _mar_b20" v-if="latestThemes.length > 0">
            <div ref="content" class="row">
              <!-- Items -->
              <div class="col-12 col-md-6 col-lg-4" v-for="item in latestThemes" :key="item.id">
                <div class="_1card _box_shadow2 _border_radious _mar_b30">
                  <div class="_1card_pic">
                    <nuxt-link :to="`/products/details/${item.slug}`">
                      <img
                        v-if="item.singleImage"
                        class="_1card_img"
                        :src="item.singleImage.imageURL"
                        :alt="item.title"
                      />
                    </nuxt-link>

                    <div v-if="item.discount > 0" class="_off">
                      <p class="_off_text">{{ item.discount }}% off</p>
                    </div>

                    <!-- <div class="_add_card">
                    <button @click="addToCart(item)" class="_add_card_btn">
                      <Icon type="md-cart" />Add to cart
                    </button>
                    </div>-->
                  </div>

                  <div class="_1card_details">
                    <div class="_1card_details_top _flex_row">
                      <div class="_1card_title _flex_space _overflow_hidden">
                        <nuxt-link :to="`/products/details/${item.slug}`">
                          <p class="_card_title _text_overflow">{{ item.title }}</p>
                        </nuxt-link>
                      </div>

                      <div v-if="item.singleLicense" class="_1card_price_main">
                        <p class="_1card_price">
                          ${{ (item.discount > 0) ? item.singleLicense.price - (item.singleLicense.price * item.discount / 100) : item.singleLicense.price }}
                          <del
                            v-if="item.discount > 0"
                            class="_delete _padd_l5"
                          >${{ item.singleLicense.price }}</del>
                        </p>
                      </div>
                    </div>

                    <div class="_1card_bottom">
                      <div class="_1card_status">
                        <p
                          class="_1card_status_text _text_overflow"
                        >{{ item.category.categoryName }}</p>
                      </div>
                      <div class="_1card_rating">
                        <ul class="_1rating">
                          <template v-if="item.avgReview">
                            <li
                              v-if="item.avgReview"
                              :class="(item.avgReview && item.avgReview.averageRating > 0) ?`_1rating_active` : ``"
                            >
                              <Icon type="md-star" />
                            </li>
                            <li
                              v-if="item.avgReview"
                              :class="(item.avgReview && item.avgReview.averageRating > 1) ?`_1rating_active` : ``"
                            >
                              <Icon type="md-star" />
                            </li>
                            <li
                              v-if="item.avgReview"
                              :class="(item.avgReview && item.avgReview.averageRating > 2) ?`_1rating_active` : ``"
                            >
                              <Icon type="md-star" />
                            </li>
                            <li
                              v-if="item.avgReview"
                              :class="(item.avgReview && item.avgReview.averageRating > 3) ?`_1rating_active` : ``"
                            >
                              <Icon type="md-star" />
                            </li>
                            <li
                              v-if="item.avgReview"
                              :class="(item.avgReview && item.avgReview.averageRating > 4) ?`_1rating_active` : ``"
                            >
                              <Icon type="md-star" />
                            </li>
                          </template>
                          <template v-else>
                            <li>
                              <Icon type="md-star" />
                            </li>
                            <li>
                              <Icon type="md-star" />
                            </li>
                            <li>
                              <Icon type="md-star" />
                            </li>
                            <li>
                              <Icon type="md-star" />
                            </li>
                            <li>
                              <Icon type="md-star" />
                            </li>
                          </template>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Items -->
            </div>
          </div>

          <div class="_home_button _text_center">
            <button @click="$router.push(`/products`)" class="_2btn" type="button">
              View all themes
              <Icon type="ios-arrow-round-forward" />
            </button>
          </div>
        </template>
        <div class="_1header_bac_one">
          <img src="/static/Appify.png" alt title />
        </div>
      </div>
    </div>
    <!--====== Latest ========-->

    <!--====== Glance ========-->
    <div class="_1glance">
      <div class="_my_container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-10">
            <div class="_1glance_top _new_1glance_top _box_shadow2 _border_radious">
              <h1 class="_1title _text_center">
                <span class="_1color">AppifyLab</span>
                at A Glance
              </h1>

              <div class="_1glance_main">
                <div class="row">
                  <!-- Items -->
                  <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="_2card">
                      <div class="_2card_pic">
                        <img class="_2card_img" src="/static/group.png" alt title />
                      </div>

                      <div class="_2card_details">
                        <h2 class="_2card_num">25+</h2>

                        <p class="_2card_text _2color">
                          Team
                          <br />Members
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- Items -->
                  <!-- Items -->
                  <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="_2card">
                      <div class="_2card_pic">
                        <img class="_2card_img" src="/static/list.png" alt title />
                      </div>

                      <div class="_2card_details">
                        <h2 class="_2card_num">92+</h2>

                        <p class="_2card_text _2color">
                          Projects
                          <br /> Completed
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- Items -->
                  <!-- Items -->
                  <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="_2card">
                      <div class="_2card_pic">
                        <img class="_2card_img" src="/static/code.png" alt title />
                      </div>

                      <div class="_2card_details">
                        <h2 class="_2card_num">20+</h2>

                        <p class="_2card_text _2color">
                          Languages &
                          <br />Frameworks
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- Items -->
                  <!-- Items -->
                  <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="_2card">
                      <div class="_2card_pic">
                        <img class="_2card_img" src="/static/order.png" alt title />
                      </div>

                      <div class="_2card_details">
                        <h2 class="_2card_num">15+</h2>

                        <p class="_2card_text _2color">
                          Amazing
                          <br />Products

                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- Items -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="_1glance_bottom">
          <p class="_1color _1glance_bottom_title">Testimonials</p>
          <h1 class="_1title _text_center">
            <span class="_1color">People Review</span>
            About Our Products
          </h1>

          <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9">
              <div class="_1glance_bottom_main">
                <img class="_1glance_bottom_main_img" src="/static/pros.png" alt title />

                <div class="_1glance_bottom_main_text">
                  <p class="_2text _2color">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  </p>

                  <div class="_speech">
                    <img class="_speech_img" src="/static/erorw.png" alt title />
                  </div>
                </div>

                <div class="_1glance_profile">
                  <p class="_1color _1glance_pro_name">Jhosnosafd deo</p>

                  <p class="_1text _2color">CEO, MAAC Software</p>
                </div>
              </div>
            </div>
          </div>
        </div>-->

        <div class="_1glance_send _text_center _new_1glance_send">
          <div class="row justify-content-center">
            
            <div class="col-12 col-md-10 col-lg-6 newsl">
              <h1 class="_1title _text_center">Get the latest updates from AppifyLab.</h1>

              <p
                class="_2text _2color"
              > Don’t miss any new products, services and fixes!Your email is safe with us. We assure not to sell the email and spam you. Only relevant updates will be sent :).</p>

              <div class="_1glance_send_main _new_1glance_send_main">
                <form v-on:submit.prevent="addUseremail">
                  <input
                    v-model="form_data_useremail"
                    class="_1glance_send_int"
                    placeholder="Enter your email"
                    type="email"
                  />

                  <button class="_1btn" type="submit">
                    <img class="_1btn_img" src="/static/send.png" alt title />
                    Send
                  </button>
                </form>
              </div>
              <p v-if="isEmailEmpty" class="error_color _mar_t10">{{ errorText }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="_1glance_bottom_pic">
        <img class="_1glance_bottom_img" src="/static/waveBottom.png" alt title />
      </div>
    </div>
    <!--====== Glance ========-->
  </div>
</template>
<script>
import cateShimmer from "~/components/shimmer/cateShimmer.vue";
export default {
  components: {
    cateShimmer
  },
  data() {
    return {
      isEmailEmpty: false,
      errorText: "",
      circleLoading: false,
      form_data_useremail: "",
      mobileApps: [],
      latestThemes: [],
      reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/
    };
  },

  methods: {
    async addUseremail() {
      this.isEmailEmpty = false;
      this.errorText = "";
      let ob = {};
      if (this.form_data_useremail.trim() == "") {
        this.isEmailEmpty = true;
        this.errorText = "*Email is required";
        return;
      }
      if (!this.reg.test(this.form_data_useremail)) {
        this.isEmailEmpty = true;
        this.errorText = "*Email is invalid";
        return;
      }
      ob.email = this.form_data_useremail;
      const res = await this.callApi("post", "/app/home/user/email", ob);
      if (res.status == 200) {
        this.form_data_useremail = "";
        this.s("Your email is sent!");
      } else this.swr();
    },

    addToCart(item) {
      if (!this.authUser) {
        this.i("You need to login before add any item into cart!");
        return this.$router.push("/login?return_url=/");
      }
      this.$store.commit("setAddToCartModal", true);
      this.$store.commit("setSingleCart", item);
    }
  },

  async created() {
    this.circleLoading = true;
    const res = await this.callApi("get", `/app/get/deshboard/alldetails`);
    if (res.status == 200) {
      // this.mobileApps = res.data.mobileApps;
      this.latestThemes = res.data.latestThemes;
    } else {
      this.swr();
    }
    this.circleLoading = false;
  },

  mounted() {
    window.scrollTo(0, 0);
  },

  head() {
    return {
      meta: [
        {
          name: "title",
          content:
            "Find Best premium website HTML templates and flutter app UI templates"
        },
        {
          name: "keywords",
          content:
            "html template ,flutter app, app ui,premium html template,flutter app ui template ,website html template ,website template,premium website template,premium flutter template."
        },
        {
          name: "description",
          content:
            "We create awesome HTML templates and flutter app UI templates and each template can be used for many businesses like job websites, beauty & spa or salon websites, training websites, food websites, e-commerce, or a commercial website, social chat app,hotel booking app ,marketplace app,food delivery app, ecommerce app and social app."
        }
      ],
      title: `Apppifylab | Find Best premium website HTML templates and flutter app UI templates`
    };
  }
};
</script>
