<template>
  <div>
    <div class="_1product _content0">
      <!-- Header -->
      <div class="_new_header_pad">
        <div class="_my_container">
          <!-- <div class="_2header_main">
            <h1 class="_2header_title">
              <span class="_1color">Services</span> we
              <br />Provide
            </h1>
            <p class="_2text _2color">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et
            </p>
          </div> -->
          <div class="row _link_row">
            <div class="col-md-3 col-sm-3 _mar_b30">
              <div class="_company_info">
                <h3>More information</h3>
                <ul>
                  <li><nuxt-link to="/privacy_policy">Privacy & policy</nuxt-link></li>
                  <li><nuxt-link to="/terms">Terms of use</nuxt-link></li>
                  <li class="active"><nuxt-link to="/license">Usage licenses</nuxt-link></li>
                </ul>
              </div>
              <div class="_company_inq">
                <p class="_mar_b30"><b>Looking for service?</b> The fastest way to request service is by sending a <nuxt-link to="/services">service request</nuxt-link>.</p>
                <p><b>General inquiries:</b><br>Feel free to <nuxt-link to="/contact_us">contact with us</nuxt-link>.</p>
              </div>
            </div>
            <div class="col-md-9 col-sm-9">
              <div class="_company_info_details">
                <div class="_company_info_details_title">
                  <h2>Usage Licenses</h2>
                  <p>The use of a product is bound by the license you purchase. A license grants you a non-exclusive and non-transferable right to use and incorporate the product into your personal or commercial projects. There are several licenses available:</p>
                </div>
                <div class="_company_info_details_content">
                  <div class="_company_info_title">
                    <h3>1. Single License</h3>
                  </div>
                  <div class="_company_info_para">
                    <p><strong>1.1</strong> Your use of the product is restricted to a single-use.</p>
                    <p><strong>1.2</strong> You may use the product in work that you are creating for your own purposes or for your client.</p>
                    <p><strong>1.3</strong> You must not incorporate the product in a work which is created for redistribution or resale by you or your client.</p>
                    <p><strong>1.4</strong> The product may not be redistributed or resold.</p>
                    <p><strong>1.5</strong> If the product contains licensed components, those components must only be used within the product and you must not extract and use them on a stand-alone basis.</p>
                  </div>
                </div>
                <div class="_company_info_details_content">
                  <div class="_company_info_title">
                    <h3>2. Multiple License</h3>
                  </div>
                  <div class="_company_info_para">
                    <p><strong>2.1</strong> Your use of the product is restricted to a multiple-use (up to 5 users).</p>
                    <p><strong>2.2</strong> You may use the product in work that you are creating for your own purposes or for your clients.</p>
                    <p><strong>2.3</strong> You must not incorporate the product in a work which is created for redistribution or resale by you or your client.</p>
                    <p><strong>2.4</strong> The product may not be redistributed or resold.</p>
                    <p><strong>2.5</strong> If the product contains licensed components, those components must only be used within the product and you must not extract and use them on a stand-alone basis.</p>
                  </div>
                </div>
                <div class="_company_info_details_content">
                  <div class="_company_info_title">
                    <h3>3. Extended License</h3>
                  </div>
                  <div class="_company_info_para">
                    <p><strong>3.1</strong> Your use of the product may extend to unlimited use.</p>
                    <p><strong>3.2</strong> You may use the product in work that you are creating for your own purposes or for your clients.</p>
                    <p><strong>3.3</strong> You may license, sublicense, redistribute, or resell the product in the following circumstances:</p>
                    <div class="_company_info_para">
                        <p><strong>3.3.1</strong> the product is incorporated into a larger work you have created; or</p>
                        <p><strong>3.3.2</strong> if you modify the product and resell the end product.</p>
                    </div>
                    <p><strong>3.4</strong> If the product contains licensed components, those components must only be used within the product and you must not extract and use them on a stand-alone basis.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header -->

      <!-- Main Content -->
      <!-- Main Content -->
    </div>

    <!-- <Modal v-model="requestServiceModal" width="360" :mask-closable="false" :closable="false">
      <p slot="header" style="color:#3177f1;text-align:center">
        <Icon type="md-cart" />
        <span>Add To Your Cart</span>
      </p>
      <div @click="closeModal" class="modal-close">
        <Icon type="md-close" />
      </div>
      <div style="text-align:center">
        <p>
          Are you sure to add
          <strong>{{ (getSingleCart) ? getSingleCart.title : 'this product' }}</strong> to your cart ?
        </p>
      </div>
      <div slot="footer">
        <button
          class="_1btn"
          type="button"
          style="width: 100%;"
          @click="addToCart(getSingleCart)"
        >Confirm</button>
      </div>
    </Modal> -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      requestServiceModal: false,
      tab: "web"
    };
  },

  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>