<template>
  <div>
    <div class="_1login">
      <div class="_content _my_container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="_1login_left">
              <img class="_1login_left_img" src="/static/signimg.png" alt title />

              <div class="_1login_bac_one"></div>
            </div>
          </div>

          <div class="col-12 col-md-5 col-lg-auto">
            <div class="_1login_right _box_shadow">
              <h3 class="_1login_title">
                <span class="_1color">Login</span> to your Account
              </h3>
              <form class="_1login_form">
                <div class="_1input_group">
                  <p class="_1label">Email</p>

                  <input v-model="form.email" class="_1int" type="text" placeholder="User Email" />
                </div>

                <div class="_1input_group">
                  <p class="_1label">Password</p>

                  <input
                    v-model="form.password"
                    @keyup.enter="onSubmit"
                    class="_1int"
                    type="password"
                    placeholder="Enter Password"
                  />
                </div>

                <div class="_1input_group _check_Box _dis_flex _mobile_flex_wrap">
                  <!-- <div class="_flex_space">
                    <Checkbox v-model="form.remember">Remember me</Checkbox>
                  </div> -->

                  <p class="_forget">
                    <nuxt-link to="/user/reset-password" class="_1link" href>Lost your password?</nuxt-link>
                  </p>
                </div>

                <div class="_1input_button">
                  <button @click="onSubmit" :disabled="isLoading" class="_1btn" type="button">Log in</button>
                </div>
              </form>

              <div class="_1login_bottom _border_color">
                <p class="Never">
                  Don't have any account?
                  <nuxt-link class="_2link" to="/signup">Sign Up Now</nuxt-link>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="_1login_bac">
        <div class="_1login_bac_two"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: "",
        password: "",
        remember: false
      },

      isForgetPasswordClicked: false,

      isLoading: false
    };
  },

  middleware: "loggedIn",

  methods: {
    async onSubmit() {
      if (this.form.email == "") {
        this.i("Email is required!");
        return;
      }

      if (this.form.password == "") {
        this.i("Password is required!");
        return;
      }
      this.isLoading = true;
      const res = await this.callApi("post", "/app/user/login", this.form);
      if (res.status == 200) {
        this.s("Login Successful!");
        this.isLoading = false;
        this.$store.commit("updateAuthUser", res.data);
        if (this.$route.query.return_url) {
          return (window.location.href = this.$route.query.return_url);
        }
        window.location.href = "/";
      } else if (res.status == 401) {
        this.e(res.data.message);
        this.isLoading = false;
      } else {
        this.swr();
        this.isLoading = false;
      }
    }
  },

  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>
