<template>
  <div>
    <div class="_content0">
      <!-- Main Content -->
      <div class="_2page">
        <div class="_my_container _pro_rel">
          <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-9">
              <div class="_1profileEdit_main _mobile_1profileEdit_main _1box_shadow _border_rad4">
                <div class="_1edit_title_top">
                  <h1 class="_2title">
                    <span class="_1color">Complete your payment</span>
                  </h1>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-12 _mar_b30">
                    <p style="margin-bottom: .5rem;">Select Payment Method</p>
                    <Select v-model="paymentMethod">
                      <Option value="stripe">Card</Option>
                      <Option value="paypal">Paypal</Option>
                      <Option value="Bkash">Bkash</Option>
                    </Select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-12 _mar_b30">
                    <div ref="content" v-show="paymentMethod == 'stripe'">
                      <form id="payment-form">
                        <div class="_stype_main">
                          <div class="form-row" style="margin-left: 0;">
                            <label for="card-element">Credit or debit card</label>
                            <div id="card-element">
                              <!-- A Stripe Element will be inserted here. -->
                            </div>

                            <!-- Used to display Element errors. -->
                            <div id="card-errors" role="alert"></div>
                          </div>

                          <button
                            class="cart-button"
                            :disabled="load_payment"
                          >{{load_payment?'Wait..':'Submit Payment'}}</button>
                        </div>
                      </form>
                    </div>
                    <div ref="content" v-show="paymentMethod == 'paypal'">
                      <p>We are working to make <strong>paypal</strong> payment avilable. If you still want to pay us via paypal, you can send the payment to this <strong>paypal</strong> : <a href="http://paypal.me/AMZainal">http://paypal.me/AMZainal</a> and send a screenshot of your payment. We will deliver your item in less than 24hours!</p>
                    </div>
                    <div ref="content" v-show="paymentMethod == 'Bkash'">
                      <p>We are working to make <strong>Bkash</strong> payment avilable. For now, you can send your payment to our personal <strong>Bkash number : +8801756-759-233</strong>. We will deliver your item in less than 24hours!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Image bac -->
          <div class="_1star">
            <img src="/static/star.png" alt title />
          </div>
          <!-- Image bac -->
        </div>

        <!-- Image bac -->
        <div class="_1appi">
          <img src="/static/Appify.png" alt title />
        </div>
        <!-- Image bac -->
      </div>
      <!-- Main Content -->
    </div>
  </div>
</template>

<script>
export default {
  middleware: "auth",

  data() {
    return {
      load_payment: false,
      totalPrice: 0,
      circleLoading: false,
      paymentMethod: "stripe",
      order_id: ""
    };
  },

  methods: {
    async stripeTokenHandler(token) {
      this.load_payment = true;
      let ids = [];
      console.log('this.data')
      console.log(this.order)
      for (let i of this.order.details) {
        ids.push(i.license_id);
      }
      const paymentData = {
        token: token.id,
        ids: ids,
        order_id: this.order_id
      };

      console.log("sd", this.$route.query.id);
      // send the token ID and any other payment data to your server.
      const loading = this.$vs.loading({
        target: this.$refs.content,
        color: "#3177f1",
        type: "points",
        text: "Please Wait..."
      });
      const res = await this.callApi(
        "post",
        "/app/payment/verify",
        paymentData
      );
      if (res.status === 200) {
        this.openStripeModal = false;
        this.s("Order successfull!");
        this.$store.commit("setCartItem", []);
        this.$store.commit("setCartItemNumber", 0);
        return this.$router.push("/profile/myOrder");
        // } else {
        //   if (res.data && res.data.error && res.data.error.message) {
        //     this.e(res.data.error.message);
        //   } else if (res.data && res.data.message) {
        //     this.e(res.data.message);
        //   } else {
        //     this.swr();
        //   }
      }
      if (res.status == 204) {
        this.e(res.data.message);
      }
      loading.close();
      this.load_payment = false;
      return;
    }
  },

  mounted() {
    this.order_id = Number(this.$route.query.id);
    if (this.paymentMethod == "stripe") {
      this.stripe = Stripe(process.env.Stripe_Publishable_key);
      // Create an instance of Elements.
      this.elements = this.stripe.elements();

      // Custom styling can be passed to options when creating an Element.
      // (Note that this demo uses a wider set of styles than the guide below.)
      var style = {
        base: {
          color: "#32325d",
          fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
          fontSmoothing: "antialiased",
          fontSize: "16px",
          "::placeholder": {
            color: "#aab7c4"
          }
        },
        invalid: {
          color: "#fa755a",
          iconColor: "#fa755a"
        }
      };

      // Create an instance of the card Element.
      this.card = this.elements.create("card", { style: style });

      // Add an instance of the card Element into the card-element <div>.
      this.card.mount("#card-element");

      // Create a token or display an error when the form is submitted.
      const form = document.getElementById("payment-form");
      form.addEventListener("submit", async event => {
        event.preventDefault();
        this.load_payment = true;

        let { token, error } = await this.stripe.createToken(this.card);
        // console.log('token',token)

        if (error) {
          this.load_payment = false;
          // Inform the customer that there was an error.
          const errorElement = document.getElementById("card-errors");
          errorElement.textContent = error.message;
        } else {
          error = {};
          // Send the token to your server.
          // console.log(token)
          this.stripeTokenHandler(token);
        }
      });
    }
  },

  async asyncData({ app, redirect, query }) {
    if (!query.id) {
      return redirect("/");
    }
    var order

    try {
      let { data } = await app.$axios.get(
        `/app/user/verify-for-checkout/${query.id}`
      );

      // data = data.toJSON();
      console.log('data-asyncData')
      order = data.order;
      console.log(order)
      if (!data.success) {
        return redirect("/");
      }
      return {
        order:order,
      }
    } catch (error) {
      console.log('error-asyncData')
      console.log(error)
      return error;
    }
  }
};
</script>
