<template>
  <div>
    <div class="_1product _content0">
      <!-- Header -->
      <div class="_new_header_pad">
        <div class="_my_container">
          <!-- <div class="_2header_main">
            <h1 class="_2header_title">
              <span class="_1color">Services</span> we
              <br />Provide
            </h1>
            <p class="_2text _2color">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et
            </p>
          </div> -->
          <div class="row _link_row">
            <div class="col-md-3 col-sm-3 _mar_b30">
              <div class="_company_info">
                <h3>More information</h3>
                <ul>
                  <li class="active"><nuxt-link to="/privacy_policy">Privacy & policy</nuxt-link></li>
                  <li><nuxt-link to="/terms">Terms of use</nuxt-link></li>
                  <li><nuxt-link to="/license">Usage licenses</nuxt-link></li>
                </ul>
              </div>
              <div class="_company_inq">
                <p class="_mar_b30"><b>Looking for service?</b> The fastest way to request service is by sending a <nuxt-link to="/services">service request</nuxt-link>.</p>
                <p><b>General inquiries:</b><br>Feel free to <nuxt-link to="/contact_us">contact with us</nuxt-link>.</p>
              </div>
            </div>
            <div class="col-md-9 col-sm-9">
              <div class="_company_info_details">
                <div class="_company_info_details_title">
                  <h2>Privacy & Policy</h2>
                </div>
                <div class="_company_info_details_content">
                  <div class="_company_info_title">
                    <h3>Our privacy policy</h3>
                  </div>
                  <div class="_company_info_para">
                    <p>AppfyLab does not share personal information of any kind with anyone. We will not sell or rent your name or personal information to any third party. We DO NOT sell, rent or provide outside access to our mailing list or any data we store. Any data that a user stores via our facilities is wholly owned by that user or business. At any time a user or business is free to take their data and leave, or to simply delete their data from our facilities.</p>
                    <p>AppfyLab only collects such personal information that is necessary for you to access and use our services. This personal information includes, but is not limited to, first and last name, physical address, zip code, email address, phone number, social security number, birth date, credit card information, financial information, and other personal information necessary to generate proper legal documents.</p>
                    <p>AppfyLab may release personal information if AppfyLab is required to by law, search warrant, subpoena, court order or fraud investigation. We may also use personal information in a manner that does not identify you specifically nor allow you to be contacted but does identify certain criteria about our Site's users in general (such as we may inform third parties about the number of registered users, number of unique visitors, and the pages most frequently browsed).</p>
                  </div>
                </div>
                <div class="_company_info_details_content">
                  <div class="_company_info_title">
                    <h3>Policy change</h3>
                  </div>
                  <div class="_company_info_para">
                    <p>If we change our privacy policy we will post those changes on this page. Registered users will be sent an email that outlines changes made to the privacy policy.</p>
                    <p><strong>Last updated:</strong> April 14th, 2020</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header -->

      <!-- Main Content -->
      <!-- Main Content -->
    </div>

    <!-- <Modal v-model="requestServiceModal" width="360" :mask-closable="false" :closable="false">
      <p slot="header" style="color:#3177f1;text-align:center">
        <Icon type="md-cart" />
        <span>Add To Your Cart</span>
      </p>
      <div @click="closeModal" class="modal-close">
        <Icon type="md-close" />
      </div>
      <div style="text-align:center">
        <p>
          Are you sure to add
          <strong>{{ (getSingleCart) ? getSingleCart.title : 'this product' }}</strong> to your cart ?
        </p>
      </div>
      <div slot="footer">
        <button
          class="_1btn"
          type="button"
          style="width: 100%;"
          @click="addToCart(getSingleCart)"
        >Confirm</button>
      </div>
    </Modal> -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      requestServiceModal: false,
      tab: "web"
    };
  },

  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>