<template>
  <div>
    <div class="_1login">
      <div class="_content _my_container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="_1login_left">
              <img class="_1login_left_img" src="/static/signimg.png" alt title />

              <div class="_1login_bac_one"></div>
            </div>
          </div>

          <div class="col-12 col-md-5 col-lg-auto">
            <div class="_1login_right _box_shadow">
              <h3 class="_1login_title">
                <template v-if="!isEmailSent">
                  <span class="_1color">Register</span> your account
                </template>
                <template v-else>
                  <span class="_1color">Verify</span> your email
                </template>
              </h3>

              <template v-if="!isEmailSent">
                <Form ref="formCustom" class="_1login_form" :model="form" :rules="ruleValidate">
                  <div class="_1input_group">
                    <p class="_1label">Full Name</p>
                    <FormItem prop="fullName">
                      <Input
                        v-model="form.fullName"
                        class="_1int"
                        type="text"
                        placeholder="Full Name"
                      />
                    </FormItem>
                  </div>
                  <div class="_1input_group">
                    <p class="_1label">Email Address</p>
                    <FormItem prop="email">
                      <Input
                        v-model="form.email"
                        class="_1int"
                        type="text"
                        placeholder="email@example.com"
                      />
                    </FormItem>
                  </div>

                  <div class="_1input_group">
                    <p class="_1label">Password</p>
                    <FormItem prop="password">
                      <Input
                        v-model="form.password"
                        type="password"
                        class="_1int"
                        placeholder="******"
                      />
                    </FormItem>
                  </div>

                  <div class="_1input_button">
                    <FormItem>
                      <Button type="default" :loading="isLoading" @click="onSubmit('data')">
                        <span v-if="!isLoading">Signup</span>
                        <span v-else>Creating account...</span>
                      </Button>
                      <!-- <vue-recaptcha sitekey="6LcOaNMUAAAAAHQnZlcSf9o__1fXP0Frtx_cK6V2">

                      </vue-recaptcha>-->
                    </FormItem>
                  </div>
                </Form>

                <div class="_1login_bottom _border_color">
                  <p class="Never">
                    Already have an AppifyLab account?
                    <nuxt-link to="/login" class="_2link">Log in Now</nuxt-link>
                  </p>
                </div>
              </template>

              <!-- verify email after signup -->
              <!-- <template v-else>
                <p>An verification link has been sent to your email. Please check your email!</p>
              </template> -->
              <!-- verify email after signup -->
            </div>
          </div>
        </div>
      </div>

      <div class="_1login_bac">
        <div class="_1login_bac_two"></div>
      </div>
    </div>
  </div>
</template>

<script>
import VueRecaptcha from "vue-recaptcha";
export default {
  data() {
    return {
      form: {
        email: "",
        password: "",
        confirm_password: "",
        fullName: ""
      },
      isEmailSent: false,
      ruleValidate: {
        fullName: [
          { required: true, message: "Full name is required", trigger: "blur" }
        ],
        email: [
          { required: true, message: "Email is required", trigger: "blur" },
          { type: "email", message: "Incorrect email address", trigger: "blur" }
        ],
        password: [
          { required: true, message: "Password is required", trigger: "blur" },
          {
            type: "string",
            min: 6,
            max: 15,
            message: "Password should be between 6-15 charecters long",
            trigger: "blur"
          }
        ],
        country: [
          { required: true, message: "Country is required", trigger: "blur" }
        ]
      },

      isLoading: false
    };
  },

  middleware: "loggedIn",

  components: { VueRecaptcha },

  methods: {

    async onSubmit() {
      let valid = await this.$refs["formCustom"].validate();
      if (!valid) return console.log("not validated...");
      this.isLoading = true;
      const res = await this.callApi("post", "/app/user/register", this.form);
      if (res.status === 200) {
        this.isLoading = false;

        this.s("Your account has been created successfully! Please login now");
        this.$router.push("/login");
      } else if (res.status === 401) {
        for (let i of res.data) {
          this.w(i.message);
          this.isLoading = false;
        }
      } else {
        this.isLoading = false;
        this.swr();
      }
    }
  },

  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>
