<template>
  <div>
    <div class="_1product _content0">
      <!-- Header -->
      <div class="_new_header_pad">
        <div class="_my_container">
          <!-- <div class="_2header_main">
            <h1 class="_2header_title">
              <span class="_1color">Services</span> we
              <br />Provide
            </h1>
            <p class="_2text _2color">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et
            </p>
          </div> -->
          <div class="row _link_row">
            <div class="col-md-3 col-sm-3 _mar_b30">
              <div class="_company_info">
                <h3>More information</h3>
                <ul>
                  <li><nuxt-link to="/privacy_policy">Privacy & policy</nuxt-link></li>
                  <li class="active"><nuxt-link to="/terms">Terms of use</nuxt-link></li>
                  <li><nuxt-link to="/license">Usage licenses</nuxt-link></li>
                </ul>
              </div>
              <div class="_company_inq">
                <p class="_mar_b30"><b>Looking for service?</b> The fastest way to request service is by sending a <nuxt-link to="/services">service request</nuxt-link>.</p>
                <p><b>General inquiries:</b><br>Feel free to <nuxt-link to="/contact_us">contact with us</nuxt-link>.</p>
              </div>
            </div>
            <div class="col-md-9 col-sm-9">
              <div class="_company_info_details">
                <div class="_company_info_details_title">
                  <h2>Terms of Use</h2>
                </div>
                <div class="_company_info_details_content">
                  <div class="_company_info_title">
                    <h3>1. General terms</h3>
                  </div>
                  <div class="_company_info_para">
                    <p><strong>1.1</strong> By accessing and placing an order with AppifyLab, you confirm that you are in agreement with and bound by the terms and conditions contained in the Terms of use outlined below. These terms apply to the entire website and any email or other type of communication between you and AppifyLab.</p>
                  </div>
                </div>
                <div class="_company_info_details_content">
                  <div class="_company_info_title">
                    <h3>2. Products</h3>
                  </div>
                  <div class="_company_info_para">
                    <p><strong>2.1</strong> All products and services are delivered by AppifyLab electronically to your email address.</p>
                    <p><strong>2.2</strong> AppifyLab is not responsible for any technological delays beyond our control. If your spam blocker blocks our emails from reaching you or you do not provide a valid email address where you can be reachable then you can access your download from the Purchases page.</p>
                  </div>
                </div>
                <div class="_company_info_details_content">
                  <div class="_company_info_title">
                    <h3>3. Security</h3>
                  </div>
                  <div class="_company_info_para">
                    <p><strong>3.1</strong> AppifyLab does not process any order payments through the website. All payments are processed securely through PayPal, a third party online payment provider. Feel free to contact us about our security policies.</p>
                  </div>
                </div>
                <div class="_company_info_details_content">
                  <div class="_company_info_title">
                    <h3>4. Refunds</h3>
                  </div>
                  <div class="_company_info_para">
                    <p><strong>4.1</strong> You have 24 hours to inspect your purchase and to determine if it does not meet with the expectations laid forth by the seller. In the event that you wish to receive a refund, AppifyLab will issue you a refund and ask you to specify how the product failed to live up to expectations.</p>
                  </div>
                </div>
                <div class="_company_info_details_content">
                  <div class="_company_info_title">
                    <h3>5. Ownership</h3>
                  </div>
                  <div class="_company_info_para">
                    <p><strong>5.1</strong> Ownership of the product is governed by the usage license selected by the seller.</p>
                  </div>
                </div>
                <div class="_company_info_details_content">
                  <div class="_company_info_title">
                    <h3>Changes to terms</h3>
                  </div>
                  <div class="_company_info_para">
                    <p>If we change our terms of use we will post those changes on this page. Registered users will be sent an email that outlines changes made to the terms of use.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header -->

      <!-- Main Content -->
      <!-- Main Content -->
    </div>

    <!-- <Modal v-model="requestServiceModal" width="360" :mask-closable="false" :closable="false">
      <p slot="header" style="color:#3177f1;text-align:center">
        <Icon type="md-cart" />
        <span>Add To Your Cart</span>
      </p>
      <div @click="closeModal" class="modal-close">
        <Icon type="md-close" />
      </div>
      <div style="text-align:center">
        <p>
          Are you sure to add
          <strong>{{ (getSingleCart) ? getSingleCart.title : 'this product' }}</strong> to your cart ?
        </p>
      </div>
      <div slot="footer">
        <button
          class="_1btn"
          type="button"
          style="width: 100%;"
          @click="addToCart(getSingleCart)"
        >Confirm</button>
      </div>
    </Modal> -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      requestServiceModal: false,
      tab: "web"
    };
  },

  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>