<template>
  <div>

    <div class="_content0">
      <!-- Main Content -->
      <div class="_2page">
        <div class="_my_container _pro_rel">
          <div class="_1profileEdit_main _mobile_1profileEdit_main _1box_shadow _border_rad4">
            <h1 class="_1title _mar_b30 _text_center"><span class="_1color">Create</span> Tricket </h1>
            <div class="row justify-content-center">
              <div class="col-12 col-md-7 col-lg-6">
                <div class="row">
                  <div class="col-12 col-md-6 col-lg-6 _mar_b20 _ticket_form">
                    <Input v-model="from.title" placeholder="Enter title..."/>
                  </div>
                  <div class="col-12 col-md-6 col-lg-6 _mar_b20 _ticket_form" v-if="from.categoryId==1">
                    <Input v-model="from.otherText" placeholder="Enter other text..." />
                  </div>
                  <div class="col-12 col-md-6 col-lg-6 _mar_b20 _ticket_form" v-if="allCategory.length>0">
                    <Select v-model="from.categoryId">
                      <Option
                        v-for="(option, index) in allCategory"
                        :value="option.id"
                        :key="index"
                      >{{option.name}}</Option>
                    </Select>
                  </div>
                  <div class="col-12 col-md-12 col-lg-12 _mar_b20 _ticket_form">
                    <Select v-model="from.productId" filterable remote :remote-method="remoteMethod1">
                      <Option
                        v-for="(option, index) in products"
                        :value="option.id"
                        :key="index"
                      >{{option.title}}</Option>
                    </Select>
                  </div>
                  <!-- <div class="col-12 col-md-5 col-lg-5">
                        <div
                            style="width: 100%; height: 300px;"
                            :content="from.question"
                            @change="onEditorChange($event)"
                            v-quill:myQuillEditor="editorOption"
                        ></div>
                  </div>-->
                  <div class="col-12 col-md-12 col-lg-12 _mar_b30 _ticket_form">
                    <Input
                      type="textarea"
                      v-model="from.question"
                      placeholder="Enter question body..."
                      :rows="5"
                    />
                  </div>

                  <div class="col-12 col-md-12 col-lg-12 _text_center">
                    <button class="_1btn" type="button"  @click="insertTicket">Create</button>
                    <!-- <Button @click="insertTicket">Create new</Button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Image bac -->
          <div class="_1star">
            <img src="/static/star.png" alt title />
          </div>
          <!-- Image bac -->
        </div>

        <!-- Image bac -->
        <div class="_1appi" style="right: 0;">
          <img src="/static/Appify.png" alt title />
        </div>
        <!-- Image bac -->
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      from: {
        title: "",
        question: "",
        categoryId: "",
        productId: "",
        userId: 1,
        otherText: "",
        data: {}
      },
      editorOption: {
        // some quill options
      },

      model1: "",
      allCategory: [],
      allTicket: [],
      search: "",
      products: []
    };
  },
  methods: {
    onEditorChange({ editor, html, text }) {
      this.description = html;
    },
    async getallCategory() {
      const res = await this.callApi("get", `/app/get/tiket/allCategory`);
      if (res.status == 200) {
        this.allCategory = res.data.TiketCategory;
        console.log(this.allCategory);
      }
    },
    async getallTickets() {
      const res = await this.callApi("get", `/app/get/tiket/allTikets`);
      if (res.status == 200) {
        this.allTicket = res.data.Tiket;
      }
    },
    async remoteMethod1(query) {
      const res = await this.callApi(
        "get",
        `/app/get/productDetailsSearch/${query}`
      );
      if (res.status == 200) {
        this.products = res.data.productDetails;
      }
    },
    async insertTicket() {
      if (this.from.title.trim() == "") {
        return this.i("please fill title field");
      }
      if (this.from.userId == "") {
        return this.i("You are not auth user");
      }
      if (this.from.question.trim() == "") {
        return this.i("please fill description field");
      }
      if (this.from.categoryId == "") {
        return this.i("please select a category");
      }
      if (this.from.categoryId == 1) {
        if (this.from.otherText == "") {
          return this.i("please other category Name ");
        }
      }

      const res = await this.callApi(
        "post",
        `/app/get/tiket/createTicket`,
        this.from
      );
      if (res.status == 200) {
        this.products = res.data.productDetails;
      }
    }
  },
  created() {
    this.getallCategory();
    this.getallTickets();
    this.remoteMethod1()
  },
  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>

<style>
.ok_oK {
  padding: 154px 42px 18px 340px;
  background: #0000;
}
</style>