<template>
  <div>
     <div class="_1header">
      <div class="_content _my_container">
        <div class="row">
           <div class="col-12 col-md-9 col-lg-9">
                <Input type="textarea" v-model="from.replay"  placeholder="Enter question body..." style="width: 300px" />
          </div>
          <Button style="width:200px; color:green;" @click="insertTicket"> Create new</Button>
        </div>
    </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
        from:{
            replay:'',
            userId:1,
        },
        alldata:[]
    };
  },
  methods: {
       
         async getAllReplay(query){
            const res = await this.callApi("get",`/app/get/productDetailsSearch/${query}`);
                if (res.status == 200) {
                     this.products = res.data.productDetails;
                }
         },
         async insertTicket(){
             if(this.from.title.trim()==''){
                 return this.i("please fill title field")
             }
             if(this.from.userId==''){
                 return this.i("You are not auth user")
             }
             if(this.from.question.trim()==''){
                 return this.i("please fill description field")
             }
             if(this.from.categoryId==''){
                 return this.i("please select a category")
             }
             if(this.from.categoryId==1){
                 if(this.from.otherText==''){

                     return this.i("please other category Name ")
                 }
             }
             
            const res = await this.callApi("post",`/app/get/tiket/createTicket`, this.from);
                if (res.status == 200) {
                     this.products = res.data.productDetails;
                }
         }

  },
  created(){
        this.getAllReplay()
        // this.getallTickets()
  },

  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>

<style>
.ok_oK {
  padding: 154px 42px 18px 340px;
  background: #0000;
}
</style>