<template>
  <div>
    <center>
      <table
        style="padding: 0; margin: 0 0 60px 0;"
        border="0"
        align="center"
        cellpadding="0"
        cellspacing="0"
      >
        <tr>
          <td>
            <table width="100%" align="center" bgcolor="#eceff4" style="padding: 0px 20px;">
              <tr>
                <td align="left" width="570">
                  <table width="570">
                    <tr>
                      <td>
                        <img style="width: 40%;" src="assets/img/Bencha1.png" alt />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table
              width="100%"
              align="center"
              bgcolor="#eceff4"
              style="padding: 0px 20px;"
              class="ist-table"
            >
              <tr>
                <td align="right" width="570" class="ist-table-2">
                  <table>
                    <tr>
                      <td>
                        <p>
                          order
                          <span>id</span> :
                          <strong v-if="profileOrderData.length > 0">{{ profileOrderData[0].id }}</strong>
                        </p>
                        <p>
                          order date :
                          <strong
                            v-if="profileOrderData.length > 0"
                          >{{ profileOrderData[0].created_at }}</strong>
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table style="margin: 20px 0px 40px;" width="100%" class="trd-table">
              <thead>
                <tr>
                  <th>
                    <h4>product name</h4>
                  </th>
                  <th>
                    <h4>unit price</h4>
                  </th>
                  <th style="text-align: right;">
                    <h4>total</h4>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in calculatePrice" :key="index">
                  <td>
                    <h3>{{ item.products.title }}</h3>
                  </td>
                  <td>
                    <h3 class="pro-d">${{ item.license.price}}</h3>
                  </td>
                  <td style="text-align: right;">
                    <h3 class>${{ item.license.price }}</h3>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3"></td>
                  <td
                    style="color: #847e7e; font-size: 14px; text-transform: capitalize; border-top: 1px solid #e7e2e2;"
                  >
                    <h3 style="margin-top: 20px;color: #000;">Grand Total</h3>
                  </td>
                  <td
                    style="text-align: right; font-weight: 700; font-size: 16px; border-top: 1px solid #e7e2e2;"
                  >
                    <span class="foot-amount">${{ totalPrice }}</span>
                  </td>
                </tr>
              </tfoot>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </div>
</template>

<script>
export default {
  data() {
    return {
      profileOrderData: [],
      totalPrice: 0
    };
  },

  middleware: "auth",

  computed: {
    calculatePrice() {
      let price = 0;

      for (let i of this.profileOrderData) {
        if (i.discount > 0) {
          i.license.price = i.license.price - i.discount / 100;
        }

        price += i.license.price;
      }
      this.totalPrice = price;
      return this.profileOrderData;
    }
  },

  async created() {
    this.circleLoading = true;
    const loading = this.$vs.loading({
      color: "#3177f1",
      type: "points",
      text: "Please Wait..."
    });

    const res = await this.callApi(
      "get",
      `/app/profile/get/orders/detais/${this.$route.params.id}`
    );
    if (res.status == 200) {
      this.profileOrderData = res.data;
    } else {
      this.swr();
    }
    loading.close();
    this.circleLoading = false;
  },

  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>

<style scoped>
.ist-table tr td p {
  color: #9d9c9c;
  font-size: 14px;
  text-transform: capitalize;
  margin: 9px 0;
}

.ist-table tr td .com-name {
  font-size: 25px;
  font-weight: 800;
  text-transform: capitalize;
  margin: 0;
}

.ist-table tr td p strong {
  color: #000;
}

.ist-table tr td.ist-table-2 p {
  text-align: right;
}

.second-table tr td p {
  font-size: 14px;
  color: #807e7e;
  text-transform: capitalize;
}

.second-table tr td h3 {
  text-transform: capitalize;
  font-size: 21px;
  margin: 0;
}

.trd-table tr th {
  background: #eaebef;
  text-align: left;
  padding: 0px 10px;
  text-transform: capitalize;
  line-height: 5px;
  color: #191b1d;
  font-size: 14px;
}

.trd-table tr td {
  padding: 0px 10px;
}

.trd-table tr td h3 {
  word-spacing: 2px;
  margin: 8px 0 8px;
  font-size: 16px;
}

.trd-table tr td h3.pro-d {
  color: #737373;
  font-size: 15px;
  font-weight: 400;
}

.trd-table tbody tr td {
  border-bottom: 1px solid #e7e2e2;
}

.close-btn button:hover {
  background: rgba(45, 140, 240, 0.5) !important;
}

.close-btn button.active {
  background: rgba(45, 140, 240, 0.5) !important;
}
</style>