/*--------------------
	1.Menu
	2.Footer
	3.Index
	4.Log in
    5.Product
    6.Product Details
    7.Service Page
    8.Profile
    9.ProfileEdit
    10.Service Request
    11.Cart
    12.Cart Edit
    13.Cart Select
    14.Setting
    15.Order page




---------------------*/

/*========= 1.Menu ========*/
._1menu {
    padding: 30px 0;
    transition: .3s all ease;
}
._1menu_main {
    display: flex;
    align-items: center;
}
._1menu_main{}
._1menu_logo_pic {
    flex: 0 0 150px;
    width: 150px;
}
._1menu_logo_pic a {
    display: block;
    width: 100%;
}
._1menu_logo_img {
    width: 100%;
    height: auto;
}
._1menu_list {
    flex: 1 1;
    text-align: center;
}
._1menu_list_ul{}
._1menu_list_ul li {
    display: inline-block;
}
._1menu_list_ul li a:hover:before{
	left: 0px;
	color: #3177f1;
	opacity: 1;
}
._1menu_list_ul li a:hover:after{
	right: 0px;
	color: #3177f1;
	opacity: 1;
}
._1menu_list_ul li a:before {
    position: absolute;
    content: '[';
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    left: 22px;
    transition: .3s all ease;
    opacity: 0;
    color: #b5adad;
}
._1menu_list_ul li a:hover {
	color: #3177f1;
}
._1menu_list_ul li a:after {
	position: absolute;
    content: ']';
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    right: 22px;
    transition: .3s all ease;
    opacity: 0;
}
._1menu_list_ul li a {
    position: relative;
    font-size: 15px;
    color: #b5adad;
    padding: 0 15px 0;
    transition: .3s color ease;
    margin-right: 9px;
}
._1menu_list_ul li:last-child a{
	margin-right: 0px;
}
._1menu_list_active{}
._1menu_list_active a{
	color: #3177f1 !important;
}
._1menu_right {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    /* overflow: hidden; */
    justify-content: flex-end;
}
._1menu_card {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}
._1menu_pro button{
	width: 100%;
}
._1menu_pro button:nth-child(2){
	margin-left: 10px;
}
._1menu_pro {
    flex: 0 0 auto;
    /* overflow: hidden; */
    padding-left: 0;
    margin-left: 32px;
    display: flex;
}
._1menu_pro .ivu-select-dropdown{
    top: 62px !important;
    left: 1208px !important;
}
._1menu_pro .ivu-dropdown-menu{ min-width: 114px !important;}

._1menu_card_img {
    width: 17px;
}
._1menu_card_num {
    position: absolute;
    background: red;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 11px;
    top: -7px;
    right: -7px;
}
.menu_fixed{
	background: #fff;
	padding: 15px 0px;
	-webkit-animation: mymove .3s;
    animation: mymove .3s;
    box-shadow: 0px 3px 9px -5px rgba(149, 149, 247, 0.22);
}
@keyframes mymove {
    from {top: 10px;}
    to {top: 00px;}
}
/*========= 1.Menu end ========*/

/*========= 2.Footer ========*/
._3price {
    font-size: 25px;
    font-weight: bold;
    line-height: 27px;
}
._3price del{
    margin-left: 5px;
    text-decoration: line-through !important;
    opacity: .6;
    font-size: 20px;
}
._3price span{
    margin-left: 5px;
}
._1fotter_all:before {
    position: absolute;
    content: '';
    background: linear-gradient(to top, rgba(237,244,251,1) 0%, rgba(221,235,250,1) 100%);
    left: 0px;
    top: 43px;
    width: 105%;
    height: 100%;
    z-index: 1;
    transform: rotate(-3.7deg);
}
._1fotter {
    position: relative;
    z-index: 9;
    overflow: hidden;
    padding: 67px 0 0;
    /* margin-top: -100px; */
}
.newsl{
  margin-top: 208px;
}
._1fotter_main {
    position: relative;
    z-index: 3;
}
._footer_bac_img {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/static/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 25px right -30px;
    z-index: 1;
    top: -95px;
}
._1fotter_top {
    padding: 78px 0 53px;
}
._1fotter_list{}
._1fotter_list li {
    display: block;
    margin-top: 15px;
}
._1fotter_list li a {
    color: #484646;
    font-size: 15px;
}
._1fotter_list li a i {
    font-size: 16px;
    margin-right: 5px;
}
._1fotter_list li a:hover{}
._1fotter_img {
    width: 130px;
    /* margin-right: 10px; */
}
._1fotter_title_img {
    /* margin-top: -10px; */
}
._1fotter_title {
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 13px;
}
._1fotter_bottom {
    border-top: 2px solid;
    padding: 27px 0px;
}
._1fotter_bottom_main{
	align-items: center;
}
._1fotter_bottom_title {
    font-weight: bold;
    color: #606b7b;
    flex: 0 0 154px;
    font-size: 18px;
}
._1fotter_bottom_text {
    font-size: 15px;
    color: #484646;
}
/*========= 2.Footer end ========*/

/*========= 3.Index ========*/
._1header {
    background-image: url(header.png);
    background-repeat: no-repeat;
    background-position: right 0px top 0px;
    background-size: auto;
    position: relative;
    padding-bottom: 521px;
    padding-top: 72px;
}
._1header_bac_one {
    position: absolute;
    width: 450px;
    top: -165px;
    left: 0;
    z-index: -1;
}
._1header_bac_one img{}
._1header_title {
  color: #000;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 19px;
    line-height: 46px;
}
._1latest_Section {
    position: relative;
    margin-top: -287px;
}
._1latest_card {
    padding: 44px 0 0;
}

/*Card one*/
._1card{
    transition: .3s all ease;
}
._1card:hover{
    /*background: linear-gradient(to top, rgba(237,244,251,1) 0%, rgba(221,235,250,1) 100%);*/
}
._1card_pic {
    padding: 13px;
    height: 310px;
    overflow: hidden;
    position: relative;
}
._1card_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left top;
}
._1card_details {
    padding: 15px 13px 25px;
}
._card_title {
    font-size: 18px;
    font-weight: bold;
}
._1card_price_main {
    flex: 0 0 100px;
    text-align: right;
}
._1card_price {
    font-size: 18px;
    font-weight: bold;
}
._1card_title{}
._1card_bottom {
    display: flex;
    align-items: center;
    margin-top: 11px;
}
._1card_status {
    flex: 1 1;
    padding: 0 23px 0 0;
    overflow: hidden;
}
._1card_status_text{}
._1card_rating{}
._off {
    position: absolute;
    top: -19px;
    left: -48px;
    background: #0063f3;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    height: 56px;
    width: 150px;
    transform: rotate(-45deg);
    padding: 28px 0 0 38px;
    box-shadow: 0px 0px 8px 1px #0404042e;
}
._off_text{}
._delete{
    font-size: 14px;
    font-weight: 400;
    color: #666;
}
._1card:hover ._add_card{
    bottom: 0px;
}
._add_card {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #00000054;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    transition: .3s all ease;
}
._add_card_btn i {
    font-size: 27px;
    padding-right: 10px;
    color: #3177f1;
}
._add_card_btn {
    border: none;
    background: transparent;
    color: #000000;
    font-weight: bold;
    font-size: 17px;
    display: flex;
    align-items: center;
}
/*Card one*/

/*Rating*/
._1rating{}
._1rating li:last-child{
    margin-right: 0px;
}
._1rating li {
    display: inline-flex;
    color: #ccbfbf;
    font-size: 26px;
    margin-right: 3px;
    cursor: pointer;
}
._1rating_active {
    color: #efce4a !important;
}
/*Rating*/

._home_button {
    padding-top: 66px;
}
/*._home_button_top {
    display: flex;
}
*/
._1popular_Section{}
._1popular_Section ._1title {
    border-top: 1px solid;
    padding: 46px 0 0;
    margin-top: 62px;
}
._1popular_Section ._home_button {
    padding-top: 36px;
}
._1amazing_section {
    position: relative;
    padding: 51px 0 0;
    margin: 96px 0 0;
}
._1amazing_bac_pics:before {
    position: absolute;
    content: '';
    background: linear-gradient(to left, #edeef8 0%, #f4f5f9 100%);
    height: 480px;
    width: 107%;
    left: 50%;
    top: 51px;
    transform: translateX(-50%) rotate(-3.7deg);
    z-index: -1;
}
._1amazing_bac_pics_one{}
._1amazing_bac_pics_two{}
._1amazing_bac_pics_three{}
._1amazing_bac_pic_one {
    width: 130px;
    top: 50%;
    position: absolute;
    left: 34px;
}
._1amazing_bac_pics_two {
    width: 95px;
    top: 30%;
    position: absolute;
    left: 233px;
}
._1amazing_bac_pic_three {
    width: 140px;
    right: 56px;
    position: absolute;
    bottom: 208px;
}
._1amazing_bac_pic_four {
    width: 348px;
    position: absolute;
    right: 35px;
    top: -216px;
}
._1amazing_bac_pics_four{}
._1amazing_bac_pics {
    position: absolute;
    height: 600px;
    overflow: hidden;
    top: -61px;
    left: 0;
    right: 0;
    z-index: -1;
}
._1amazing_section_top{}
._1amazing_section_top ._1text {
    margin-top: 10px;
}
._1amazing_titles {
    margin-bottom: 44px;
}
._1amazing_titles ._2text{
  font-size: 17px;
  line-height: 30px;
}
._1amazing_section_top_main{}
._1amazing_android {
    display: flex;
    align-items: center;
    padding: 30px 30px;
    cursor: pointer;
    margin-bottom: 15px;
}
._1amazing_android_pic{}
._1amazing_android_img {
    width: 93px;
    margin-right: 14px;
}
._1glance {
    background-image: url(/static/waveTop.png);
    background-repeat: no-repeat;
    background-size: contain;
}
._1glance_main {
    padding: 23px 0 0;
}
._1glance_top {
    padding: 37px 37px 30px;
    margin-top: -95px;
    margin-bottom: 268px;
}
._1glance_bottom_title {
    font-size: 26px;
    margin: 0 0 9px;
}
._1glance_bottom_main {
    box-shadow: 0px 0px 13px 5px #dddddd24;
    padding: 55px 100px 55px;
    margin-top: 50px;
    background: #fff;
}
._1glance_bottom_main_img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto 28px;
}
._1glance_bottom_main_text {
    padding: 0 35px 0;
    position: relative;
}
._speech {
    background: #3177f1;
    position: absolute;
    top: -17px;
    left: 0;
    padding: 6px 7px 7px;
    border-radius: 6px;
}
._speech_img{
    width: 18px;
}
._1glance_pro_name {
    font-size: 27px;
    font-weight: bold;
    margin: 49px 0 1px;
}
._1glance_bottom {
    text-align: center;
}
._1glance_send ._2text {
    margin: 16px 0 22px;
}
._1glance_send {
    padding: 126px 0 38px;
}
._1glance_send_main ._2text {
    margin: 16px 0 26px;
}
._1glance_send_main {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 57%;
    background: #fff;
    margin: 0 auto 0;
    box-shadow: 0px 0px 13px 5px #dddddd57;
}
._1glance_send_int {
    flex: 1 1;
    height: 45px;
    padding: 0 10px 0;
    border: none;
}
._1glance_send button {
    height: 45px;
}
._1glance_bottom_pic {
    margin-left: -20px;
}
._1glance_bottom_img{}

/*Card Two*/
._2card {
    text-align: center;
    padding: 18px 0 19px;
}
._2card_pic {
    height: 85px;
    width: 85px;
    border-radius: 100%;
    margin: 0 auto 17px;
    box-shadow: 0px 0px 13px 5px #dddddd4d;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
._2card_img {
    width: 32px;
}
._2card_details{}
._2card_num {
    font-weight: 900;
    font-size: 33px;
    margin-bottom: 10px;
}
._2card_text {
    font-size: 19px;
}
/*Card Two*/
/*========= 3.Index end ========*/

/*========= 4.Log in =========*/
._1login {
    background: url(/static/logbac.png);
    background-repeat: no-repeat;
    background-position: right 13px top 47px;
    background-size: auto;
    position: relative;
    padding-bottom: 223px;
}
._1login:before {
    position: absolute;
    content: '';
    background: -o-linear-gradient(top, rgba(237,244,251,1) 0%, rgba(221,235,250,1) 100%);
    background: -ms-linear-gradient(top, rgba(237,244,251,1) 0%, rgba(221,235,250,1) 100%);
    background: linear-gradient(to top, rgba(237,244,251,1) 0%, rgba(221,235,250,1) 100%);
    width: 100%;
    height: 100%;
    z-index: -1;
}
._1login_left_img{}
._1login_title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0px;
    margin: 0 0 27px;
}
._1login_left {
    position: absolute;
    padding: 79px 94px 0 0;
}
._1login_right {
    padding: 32px;
    margin-top: 71px;
    width: 500px;
    position: relative;
    z-index: 100;
}
._check_Box .ivu-checkbox-wrapper {
    font-size: 15px;
    margin-right: 10px;
    color: #7c8990;
}
._forget{}
._forget a:hover{
	color: blue;
}
._forget a{
	color: #333;
}
.Never{}
._1login_bottom {
    border-top: 1px solid;
    text-align: center;
    padding: 18px 0 0;
    margin: 34px 0 0;
}
._1login_bac {

}
._1login_bac_one {
    position: absolute;
    background-image: url(/static/star.png);
    background-repeat: no-repeat;
    bottom: -182px;
    height: 94px;
    width: 94px;
    background-size: cover;
    left: -70px;
}
._1login_bac_two {
    position: absolute;
    background-image: url(/static/Appify.png);
    background-repeat: no-repeat;
    bottom: 150px;
    height: 187px;
    width: 232px;
    background-size: cover;
    right: 60px;
}
._1sign_text {
    font-size: 15px;
    font-weight: bold;
    line-height: 28px;
}
/*========= 4.Log in end =========*/

/*========= 5.Product =========*/
._1product{}

/*Header Two*/
._2header {
    background-image: url(header.png);
    background-repeat: no-repeat;
    background-position: right 20px top 43px;
    background-size: auto;
    position: relative;
    /* padding-top: 149px; */
    /* height: 527px; */
   /* margin-bottom: 50px;*/
    padding-bottom: 421px;
}
.pheader {
    width: 60%;
}
._2header_title {
  font-weight: 900;
  color: #000;
  font-size: 30px;
  line-height: 43px;
}
.ptitle{
  padding-top: 135px;
}
/*Header Two*/

._1product_main {
    position: relative;
    z-index: 1;
    margin-top: -200px;
}

/*Filter Two*/
._2filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
._2filter_items {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 11px 22px 12px;
    border-radius: 4px;
    margin-bottom: 10px;
}
._2filter_items img{
    width: 18px;
}
._2filter_text {
    font-size: 16px;
    color: #555;
}
._2filter_active {
    background: #f2f8ff !important;
    border: 1px solid #98bdff !important;
}
/*Filter Two*/

._1product_all {
    margin-top: 30px;
    padding-bottom: 217px;
}
._1product_all ._1card_pic {
    height: 333px;
}
._1left{}
._1left_main {
    width: 201px;
}

/*Filter One*/
._1filter{}
._1filter_items {
    overflow: hidden;
}
._1filter_title {
    background: #d6e8fb;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    padding: 5px 15px 6px;
}
._1filter_list .ivu-checkbox-wrapper {
    font-size: 16px;
    display: block;
    margin-right: 0;
    width: 100%;
    margin-bottom: 0;
}
._1filter_list {
    padding: 11px 15px;
}
._1filter_list li:last-child {
    margin-bottom: 0px;
}
._1filter_list li {
    display: flex;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 7px;
    align-items: center;
}
._1filter_list li:hover{
    color: #3177f1;
}
/*Filter One*/

._1product_bac_logo {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 73%;
}
._1product_bac_logo_img{}
._1product_star {
    position: absolute;
    bottom: -162px;
    left: 20px;
    width: 115px;
    z-index: -1;
}
._1product_star_img{}
/*========= 5.Product end =========*/

/*========= 6.Product Details =========*/
._1productDetails {
    background-image: url(/static/heaerimg.png);
    background-position: right 20px top 24px;
    background-repeat: no-repeat;
    background-size: 873px;
    padding-bottom: 190px;
    position: relative;
}
._1productDetails ._1title {
    margin-bottom: 31px;
    margin-top: 43px;
}
._1productDetails_left{
    padding-right: 55px;
}
._1productDetails_left_main{}
._1productDetails_pic {
    overflow: hidden;
}
._1productDetails_img{}
._1productDetails_details {
    padding-top: 47px;
}
._1productDetails_menu{
    border-bottom: 1px solid;
}
._1productDetails_menu_list{}
._1productDetails_menu_list li {
    display: inline-block;
    margin-right: 22px;
    font-size: 15px;
    border-bottom: 2px solid transparent;
    padding: 0 0 10px;
    cursor: pointer;
    transition: .3s all ease;
}
._1productDetails_menu_list li:hover{
    color: #000;
}
._1productDetails_menu_active {
    border-bottom: 3px solid #3177f1 !important;
}
._1productDetails_content ._2title {
    margin-bottom: 20px;
}
._1productDetails_content {
    padding: 30px 0 30px;
    position: relative;
}
._1productDetails_comment_box {
    margin-bottom: 36px;
}
._1comment_box {
    display: flex;
    align-items: flex-start;
}
._1comment_pic {
    flex: 0 0 auto;
}
._5back {
    width: 138px;
    /* z-index: -1; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -93px;
    opacity: .4;
}
._5back img{}
._1comment_img {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border: 1px solid #b9c2d0;
    margin-right: 15px;
}
._1comment_box_ratings ._2rating {
    margin-bottom: 7px;
}
._1comment_box_ratings {
    flex: 1 1;
}

/*Rating Two*/
._2rating{}
._2rating_list {
    display: flex;
    align-items: center;
}
._2rating_list li:last-child{
    margin-right: 0px;
}
._2rating_list li {
    display: block;
    margin-right: 5px;
    color: #c9cbce;
    cursor: pointer;
    font-size: 15px;
}
._2rating_list li:hover{}
._2rating_title {
    font-size: 15px !important;
    color: #696464 !important;
    margin-right: 14px !important;
    cursor: inherit !important;
}
._2rating_active{
    color: #efce4a !important;
}
/*Rating Two*/

._1comment_box_main{}
._1comment_box_main_title {
    font-size: 15px;
    color: #696464;
    margin-bottom: 10px;
}
._1comment_textera_all button{
        margin-left: 15px;
    padding: 0px 29px;
}
._1comment_textera_all {
    display: flex;
    align-items: flex-end;
}
._1textera {
    border: 1px solid #c2c1c3;
    border-radius: 3px;
    font-size: 14px;
    line-height: 16px;
    flex: 1 1;
    width: 100%;
    display: block;
    padding: 7px 11px;
    transition: .3s all ease;
}
._1textera:focus {
    border: 1px solid #84a0d2;
    box-shadow: 0px 0px 1px 1px #3177f140;
}
._1all_comments{}
._1all_comments_items {
    display: flex;
    padding: 17px 15px 17px;
    margin-bottom: 10px;
    box-shadow: 1px 0px 11px -5px rgba(149, 149, 247, 0.22);
}
._1comment_details {
    flex: 1 1;
}
._1comment_status {
    font-size: 14px;
    line-height: 18px;
}
._1comment_name {
    font-size: 17px;
    color: #000;
    margin: 0 0 7px;
}
._1comment_rating {
    flex: 0 0 auto;
    margin-left: 15px;
    text-align: right;
}

/*Rating Three*/
._3rating{}
._3rating_list {
    display: flex;
    align-items: center;
}
._3rating_list li:last-child{
    margin-right: 0px;
}
._3rating_list li {
    display: block;
    margin-right: 5px;
    color: #d3d5d8;
    cursor: pointer;
    font-size: 12px;
}
._3rating_active {
    color: #efce4a !important;
}
._3rating_list li:hover{}
._3rating_title {
    font-size: 14px !important;
    color: #696464 !important;
    margin-right: 14px !important;
    cursor: inherit !important;
}
/*Rating Three*/

._1comment_time {
    font-size: 12px;
    color: #9c9c9c;
    margin-top: 4px;
}
._1comment_button{}
._1comment_button button{
    height: 40px;
    padding: 0 30px;
}
._1productDetails_right{}
._1productDetails_right_price {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 15px;
}
._1productDetails_right_main {
    display: flex;
    align-items: center;
}
._1productDetails_right_rating {
    /* border-right: 1px solid; */
    overflow: hidden;
    flex: 0 0 50%;
    max-width: 50%;
}
._1productDetails_right_rating_title {
    font-size: 16px;
    margin-bottom: 11px;
}
._1productDetails_puchases_num {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: 17px;
}
._1productDetails_puchases_num img {
    width: 16px;
    margin-right: 8px;
}
._1productDetails_puchases {
    flex: 0 0 50%;
    padding: 0 3px 0 32px;
    overflow: hidden;
    max-width: 50%;
}
._1productDetails_puchases_title {
    font-size: 14px;
    color: #444;
    margin-top: 5px;
}
._1productDetails_list {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 13px 0 12px;
    margin: 16px 0 25px;
}
._1productDetails_list li:last-child{
    margin-bottom: 0px;
}
._1productDetails_list li {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    line-height: 17px;
    margin-bottom: 11px;
}
._1productDetails_list li img {
    width: 14px;
    margin-right: 8px;
}
._1productDetails_button{}
._1productDetails_button button:last-child {
    margin-bottom: 0px;
}
._1productDetails_button button {
    width: 100%;
    height: 49px;
    margin-bottom: 9px;
}
._1productDetails_right_card {
    padding: 25px 18px 25px;
}
._1productDetails_upload {
    padding: 25px 18px 25px;
}
._1productDetails_upload_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 17px 0 17px;
}
._1productDetails_upload_title {
    font-weight: bold;
}
._1productDetails_upload_num {
    color: #928f8f;
}
._3appi {
    position: absolute;
    bottom: 174px;
    right: 0;
    width: 600px;
    z-index: -2;
    overflow: hidden;
    opacity: .6;
}
._3appi img {
    right: -125px;
    position: relative;
}
._1productDetails_content_two{}
._1productDetails_content_three{}
._1productDetails_content_des:last-child {
    margin-bottom: 0px;
}
._1productDetails_content_des {
    margin-bottom: 40px;
}
._1productDetails_content_des_list{}
._1productDetails_content_des_list li:last-child{
    margin-bottom: 0px;
}
._1productDetails_content_des_list li {
    position: relative;
    font-size: 17px;
    display: block;
    padding-left: 19px;
    margin-bottom: 17px;
}
._1productDetails_content_des_list li:before {
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    background: #606b7b;
    top: 2px;
    left: 0;
}
._1productDetails_content_des_text{
    margin-top: 10px;
}
._1productDetails_content ._2text {
    margin-top: 16px;
}
.cheader{
  padding-top: 145px;
}
/*========= 6.Product Details end =========*/

/*========= 7.Service Page =========*/
._1page {
  position: relative;
  z-index: 1;
  /* padding-bottom: 112px; */
  /* margin-bottom: 141px; */
  overflow: hidden;
  margin-top: -350px;
}

/*Card Three*/
._3card {
    text-align: center;
    padding: 40px 30px 40px;
}
._3card_pic{}
._3card_img {
    width: auto;
    margin: 0 auto;
}
._3card_title {
    font-size: 33px;
    font-weight: bold;
    margin: 24px 0 45px;
}
/*Card Three*/

._1appi{
    position: absolute;
    width:300px;
    bottom: 00px;
    right: -10px;
    opacity: .8;
    z-index: -1;
}
._1star {
    position: absolute;
    width: 130px;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
    z-index: -1;
}
._license {
    width: 100%;
}
._license_main{
    padding: 10px 0 0 3px;
    overflow: auto;
}
._license tr{}
._license tr th {
    border: 1px solid #a3b0c84d;
    padding: 10px 20px;
    white-space: nowrap;
    background: #3177f124;
    font-size: 14px;
    color: #3177f1;
}
._license tr td {
    border: 1px solid #ddd;
    padding: 10px 20px;
    white-space: nowrap;
}
._license tr td i{}
._check{
    color: green;
}
._close{
    color: red;
}
._license_title {
    font-weight: 600;
    color: #333;
    font-size: 14px;
}
._license_icon {
    text-align: center;
    font-size: 15px;
}
._license_button{
    margin-top: 30px;
    text-align: center;
}
.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    flex: 0 0 100%;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.cart-button {
    border: none;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    color: #fff;
    background: #32325d;
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-decoration: none;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    margin-left: 12px;
    flex: 0 0 auto;
    margin-top: 30px;
}

.InputContainer {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

.ElementsApp > * {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.cart-button:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    background-color: #43458b;
}

._stype_main {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    flex: 1 1;
}
/*========= 7.Service end =========*/

/*========= 8.Profile =========*/
._1profile_pro {
    background: linear-gradient(to right, rgb(255, 255, 255) 54%, rgba(255, 255, 255, 0.75) 100%);
    padding: 44px 55px 39px;
    display: flex;
}
._1profile_img {
    height: 100px;
    width: 100px;
    background: rebeccapurple;
    border-radius: 100%;
    position: relative;
    flex: 0 0 auto;
    margin-right: 25px;
}
._1profile_details{}
._1profile_details_top {
    display: flex;
    align-items: center;
}
._1profile_title{
    font-weight: bold;
    font-size: 21px;
}
._1profile_details_name_all {
    flex: 1 1;
    overflow: hidden;
    padding: 0 20px 0 0;
}
._1profile_details_add {
    font-size: 14px;
    color: #888;
    margin: 12px 0 0;
}
._1profile_details_button{}
._1profile_details_status {
    margin-top: 18px;
}

/*Card Four*/
._4card {
    overflow: hidden;
    position: relative;
}
._4card_pic {
    height: 175px;
    overflow: hidden;
}
._4card_img {
    min-width: 100%;
    min-height: 100%;
}
._4card_title {
    min-height: 44px;
    font-size: 16px;
    line-height: 22px;
    color: #000;
}
._4card_details {
    padding: 9px 20px 2px;
}
._4card_by {
    color: #7d7c7c;
    font-size: 12px;
    margin: 8px 0 15px;
}
._4card_price {
    font-size: 23px;
    font-weight: bolder;
}
._4card_rating_price{}
._4card_sales {
    font-size: 14px;
}
._4card_rating {
    font-size: 14px;
}
._4card_rating i {
    font-size: 16px;
    color: #e5c238;
    padding-left: 5px;
}
._4card_rating_sales {
        align-items: center;
    padding: 11px 0 13px;
}
._4card_button_one{}
._4card_bottom {
    border-top: 1px solid;
    padding: 15px 20px 15px;
}
/*Card Four*/
/*========= 8.Profile end =========*/

/*========= 9.ProfileEdit =========*/
._2page {
    position: relative;
    z-index: 1;
    padding-bottom: 112px;
    margin-bottom: 141px;
    overflow: hidden;
    padding-top: 167px;
    background-image: url(heaerimg.png);
    background-repeat: no-repeat;
    background-position: right 20px top 43px;
    background-size: auto;
}
._1profileEdit_main {
    background: linear-gradient(to right, rgb(255, 255, 255) 54%, rgba(255, 255, 255, 0.75) 100%);
    padding: 48px 50px 70px;
}
._1profileEdit_top {
    display: flex;
    align-items: center;
}
._1profileEdit_pic{}
._1profileEdit_img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-right: 25px;
}
._1profileEdit_details {
    flex: 1 1;
}
._1profileEdit_upload {
    flex: 1 1;
    margin-top: 18px;
    margin-bottom: -7px;
}
._1profileEdit_form {
    padding: 53px 78px 0px;
}
/*========= 9.ProfileEdit end =========*/

/*========= 10.Service Request =========*/
/*========= 10.Service Request end =========*/

/*========= 11.Cart =========*/
._1edit_title_top {
    text-align: center;
    margin-bottom: 48px;
}
._1edit_title_top h1 {
    font-size: 25px;}
._1edit_card {
    padding: 30px 0px;
    position: relative;
    cursor: pointer;
}
._1edit_card img {
    width: auto;
    margin: 0 auto;
    height: 48px;
}
._1edit_card:hover:after{width: 100%;}
._1edit_card:after {
    position: absolute;
    content: '';
    height: 3px;
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(255,255,255,1) 100%);
    bottom: 0;
    left: 0;
    width: 0;
    transition: all .3s ease-in;
}
._1edit_card_num {
    margin: 35px 0px 25px 0px;
}
._1edit_card_num input{}
._1edit_card_num_p {
    font-size: 16px;
    color: #000;
}
._1edit_dash {
    margin: 0px 9px;
    display: flex;
    align-items: center;
}
._1edit_box {
    font-size: 15px !important;
    color: #646c6f;
}
._1edit_order_details_all {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
._1edit_order_details{}
._1edit_order_details_text {
    flex: 1;
}
._1edit_order_text {
    font-weight: bold;
    font-size: 20px;
    color: #000;
}
._1edit_order_details_text2 {
    flex: 1;
    padding-left: 103px;
}
._width50 {
    width: 60px;
    text-align: right;
}
._1edit_btn {
    font-weight: normal;
    height: 42px;
    min-width: 109px;
}
/*========= 11.Cart end =========*/

/*========= 12.Cart Edit =========*/
._1edit_btn2{font-size: 13px;
}
/*========= 12.Cart Edit end =========*/

/*========= 13.Cart Select =========*/
._1select_section_all {
    padding: 20px 10px 20px 10px;
    margin: 0px 0px 20px 0px;
    position: relative;
}
._1select_section_left {
    width: 67px;
    margin-right: 15px;
}
._1select_section_left img {
    border: 1px solid #e4e3e3;
}
._1select_section_right{
    flex: 1 1;
}
.checkOut_add {
    display: flex;
    align-items: center;
    flex: 0 0 206px;
    overflow: hidden;
    padding: 0 65px 0 0;
}
.checkOut_add input {
    flex: 1 1;
    overflow: hidden;
    border: 1px solid #d2d1d1;
    padding: 8px 9px;
    border-radius: 3px;
}
.checkOut_add_plus {
    flex: 0 0 auto;
    overflow: hidden;
    font-size: 23px;
    color: #333;
    padding: 3px 6px;
    cursor: pointer;
}
._1select_section_h4 {
    font-size: 14px;
}
._1select_section_p {
    padding: 5px 0px 8px 0px;
    font-size: 14px;
}
._1select_section_dlr{
    font-weight: bold;
}
._1select_remove_icon {
    position: absolute;
    content: '';
    top: -2px;
    right: 0;
}
._1select_remove_icon i {
    background: #e7edfa;
    padding: 2px;
    cursor: pointer;
    border-radius: 2px;
}
._1select_btm_section {
    text-align: center;
    border-top: 1px solid #aba3a3;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
}
._1select_btm_h2 {
    font-size: 20px;
    font-weight: bold;
}
/*========= 13.Cart Select end =========*/

/*========= 14.Setting =========*/
._1setting_title_top{}
._1profile_top_left_text h1 {
    font-size: 25px;
}
._1profile_top_section {
    align-items: center;
}
._1profile_top_left {
    flex: 1;
}
._1setting_title_top h1 {
    font-size: 29px;
}
._1profile_top_left_image{}
._1profile_top_left_image img{}
._1profile_top_left_text{}
._1profile_top_left_text h1{}
._1profile_top_left_btn{}
._1setting_btn {
    font-size: 19px;
    padding: 0px 17px;
}
._1profile_detils{}
._1profile_detils_p {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}
._1profile_detils_p2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}
._1profile_top_left_h3 {
    font-size: 22px;
}
._1profile_btm_logo{}
._1profile_btm_image{}
._1profile_btm_image img {
    width: 70px;
}
/*========= 14.Setting end =========*/

/*========= 15.Order page =========*/
._order_main{
    overflow: auto;
}
._order_table {
    width: 100%;
    margin-top: 10px;
}
._order_table tr{}
._order_table tr th {
    padding: 9px 15px;
    font-weight: 400;
    color: #9c9c9c;
    font-size: 14px;
    white-space: nowrap;
}
._order_table tr td {
    padding: 11px 15px;
    font-weight: 400;
    color: #333;
    font-size: 14px;
    white-space: nowrap;
}
._order_img{
    height: 35px;
    width: 35px;
}
.{}
.{}
.{}
.{}
/*========= 15.Order page end =========*/




@media only screen and (min-width: 1200px){
._my_container {
    max-width: 1180px;
    margin: 0 auto;
}
._1my_container {
    max-width: 1180px;
    margin: 0 auto;
}
._2my_container {
    max-width: 1222px;
    margin: 0 auto;
}




}



.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.no_item_in_cart {
    display: flex;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: auto;
}

._new_flex_box {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}


._platform_section {
    padding: 53px 78px 0px;
  }

._platform_section_cat {
    display: flex;
    flex-flow: row;
    margin: 0 -5px;
}

  ._platform_cat_item {
    flex: 1;
    margin: 0 5px;
    text-align: center;
    padding: 60px 0;
    background: #eaeaea;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s linear;
}

._platform_cat_item span {
    color: #3177f1;
    margin-bottom: 15px;
    display: block;
    font-size: 30px;
    transition: all 0.3s linear;
}

._platform_cat_item:hover {
    background: #3177f1;
}

._platform_cat_item.active {
    background: #3177f1;
}

._platform_cat_item:hover span {
    color: #fff;
}

._platform_cat_item:hover p {
    color: #fff;
}

._platform_cat_item.active span {
    color: #fff;
}

._platform_cat_item.active p {
    color: #fff;
}


._platform_cat_item p {
    transition: all 0.3s linear;
}

._platform_section_cat_inner {
    margin-top: 15px;
}

._platform_section_inner_content {

}

._platform_section_inner_content ._platform_section_inner_content_main {
    margin-top: 20px;
    margin-bottom: 20px;
}

._platform_section_inner_content li {
    padding-left: 30px;
    list-style: none;
    padding-top: 10px;
}

._platform_section_inner_content li input {
    display: none;
}

._platform_section_inner_content li label {
    position: relative;
    cursor: pointer;
}

._platform_section_inner_content li label:before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 17px;
    height: 17px;
    border: 1px solid #3177f1;
    border-radius: 3px;
    transition: all 0.3s linear;
}

._platform_section_inner_content li input:checked ~ label:before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 17px;
    height: 17px;
    background-color: #3177f1;
    border-radius: 3px;
}

._platform_section_process_main {
    overflow: hidden;
    display: flex;
    flex-flow: row;
    position: relative;
    /* z-index: 10000;
    width: 100%;
    min-height: 500px; */
}

._platform_section_process {
    flex: 0 0 100%;
    width: 100%;
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: all 0.3s linear;
    left: 0;
    position: absolute;
    top: 0;
}
._platform_section_timeline {
    width: 100%;
    height: 4px;
    background: #d4d4d4;
    border-radius: 10px;
    margin: 35px 0 20px 0;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

._timeline_item {
    width: 15px;
    height: 15px;
    background: #989898;
    border-radius: 50%;
    margin-top: -5px;
}

._timeline_item._timeline_item_active {
    background: #3177f1;
}
._card_all {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
._card_pkg {
    border: 1px solid #c3c6cc;
    text-align: center;
    padding: 15px 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 230px;
    margin: 0px 10px 10px 0px;
    cursor: pointer;
}
._card_pkg i {
    font-size: 40px;
}
._card_pkg_h2 {
    font-size: 19px;
    color: #013896;
    padding: 10px 0px 15px;
}
._card_pkg_ul{}
._card_pkg_ul li {
    padding-bottom: 5px;
    list-style: none;
}
._card_pkg button {
    margin-top: 15px;
    border-radius: 35px;
}
._card_pckg_price {
    font-weight: 600;
    margin-top: 10px;
}
._active_pckg{
    color: #3177f1;
    border-color: #3177f1;
}
._profile_input_sec {
    margin-top: 30px;
}
._profile_input_sec input {
    border: 1px solid #3177f1;
    border-radius: 5px;
    padding: 5px 5px;
    width: 100%;
    margin-right: 10px;
    height: 35px;
}
._profile_input_sec_input {
    display: flex;
    align-items: center;
    width: 100%;
}
._profile_input_sec button{}
._profile_input__text {
    margin-top: 10px;
}


.filter_category_active {
    color: #3177f1 !important;
}
._load_img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 16px;
}
._load_img img{}

/* product link */

._newProductLink {
    width: 100%;
    display: block;
    text-decoration: none;
    position: relative;
    /* transition: all 0.3s linear */
}

._newProductLink:before {
    content: "\f06e";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all 0.3s linear;
    background: rgba(49, 119, 241, 0.7);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    font-family: "font awesome 5 free";
    font-weight: 600;
    color: #fff;
    font-size: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

._newProductLink:hover:before {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

._liveShareButton {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 25px 15px 0;
    flex-wrap: wrap;
}

._liveButton {
    flex: 0 0 137px;
    width: 137px;
    margin-right: 15px;
    margin-bottom: 10px;
}

._liveButton button {
    background: #e4e4ff;
    display: flex;
    flex-flow: row;
    width: 100%;
    text-align: center;
    justify-content: center;
    border: 0;
    padding: 5px;
    border-radius: 3px;
    color: #3177f1;
    font-size: 14px;
    text-transform: capitalize;
    align-items: center;
    transition: all 0.3s linear;
}

._liveButton button:hover {
    background: #c6c6f5;
    /* color: #fff; */
}

._liveButton i {
    margin-right: 6px;

}

._shareButton {
    margin-bottom: 10px;
}

._shareButton ul {
    display: flex;
    flex-flow: row;
    list-style: none;
}

._shareButton ul li {
    /* background: #9a9a9a; */
    color: #fff;
    margin-right: 1px;
    font-size: 14px;
}

._shareButton ul li {
    margin-right: 1px;
    font-size: 14px;
    overflow: hidden;
}

._shareButton ul li:first-child {
    border-radius: 3px 0 0 3px;
}

._shareButton ul li:last-child {
    border-radius: 0 3px 3px 0;
}

._shareButton ul li span {
    display: block;
    width: 100%;
    color: #fff;
    padding: 5px 12px;
    background: #3177f1;
}

._shareButton ul li a {
    display: block;
    width: 100%;
    color: #fff;
    padding: 5px 12px;
    transition: all 0.3s linear;
    background: #3177f1;
}

._shareButton ul li a:hover {
    background: #125de0;
}

._newProductDetailsRight {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

._newProductDetailsRight ._1productDetails_right_rating {
    flex: 0 0 100%;
    max-width: 100%;
}

._newProductDetailsRight ._1productDetails_right_rating .ivu-rate-star {
    margin-right: 2px;
}

._newRatingNumber {
    color: #414141 !important;
    padding-left: 1px;
    padding-top: 1px;
}

._newProductDetailsRight ._1productDetails_puchases {
    flex: 0 0 29%;
    padding: 0 3px 0 14px;
    overflow: hidden;
    max-width: 29%;
}

._margin_auto {
    margin: auto;
}

._newTabSection {
    padding-top: 47px;
}

._1int_textarea {
    height: auto;
    padding: 8px 15px;
}

._new_fixed_boder {
    border: 1px solid transparent;
    transition: all 0.3s linear;
}

._new_active_border {
    border: 1px solid #3177f194;
    box-shadow: 0 0 15px 0 rgba(49, 119, 241, 0.2);
}

._new_purchases {
    padding: 0;
    max-width: 100%;
    border-top: 1px solid #e7e7e7;
    margin-top: 3px;
    padding-top: 13px;
}

._new_1productDetails_puchases_title {
    font-size: 15px;
    color: #414141;
    margin-top: 0;
    /* margin-left: 5px; */
}

._new_1productDetails_puchases_title span {
    margin-right: 5px;
}

._new_1productDetails_puchases_num {
    font-weight: 400;
    font-size: 15px;
}

._new_1productDetails_puchases_num img {
    width: 14px;
}

._new_1productDetails_list {
    margin-top: 13px;
    padding-bottom: 13px;
    display: flex;
    flex-flow: column;
}

._new_review_rating .ivu-rate-star {
    margin-right: 4px;
}

._new_review_rating .ivu-rate-star:last-child {
    margin-right: 0;
}

._new_card_rating .ivu-rate-star {
    margin-right: 4px;
}

._new_card_rating .ivu-rate-star:last-child {
    margin-right: 0;
}

._new_home_button {
    padding-top: 51px;
}

._new_2rating_list {
    flex-wrap: wrap;
}

._new_2rating_list li {
    margin-bottom: 10px;
}

/* shimmer */

@-webkit-keyframes shimmerAnimation {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

._shimmer {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    background-size: 800px 104px;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: shimmerAnimation;
    -webkit-animation-timing-function: linear;
}

._shimmer1_name {
    width: 300px;
    height: 27px;
}

._shimmer1_det {
    width: 300px;
    height: 23px;
}

._shimmer1_review {
    width: 58px;
    height: 18px;
}

._shimmer1_star {
    width: 112px;
    height: 18px;
}

._shimmer1_star_new {
    width: 125px;
    height: 18px;
}

._shimmer1_pur {
    width: 86px;
    height: 18px;
}

._shimmer1_sup {
    width: 190px;
    height: 17px;
}

._shimmer1_rev_name {
    width: 245px;
    height: 18px;
}

._shimmer1_white {
    background: #ffffff;
    background-image: linear-gradient(to right, #ffffff 0%, #edeef1 20%, #ffffff 40%, #ffffff 100%);
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 800px 104px;
}

._shimmer1_img {
    width: 687px;
    height: 500px;
    /* background: #f6f7f8; */
    background-size: 800px 100%;
}

._shimmer1_price {
    height: 27px;
    width: 50px;
}

._shimmer_1comment_pic .ivu-avatar {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    background-size: 800px 104px;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: shimmerAnimation;
    -webkit-animation-timing-function: linear;
}

._shimmer2_card_img {
    width: 100%;
    height: 100%;
    background-size: 800px 100%;
}


/* mobile menu */

._desktop_container {
    display: block;
}

._mobile_container {
    display: none;
    position: relative;
}

._mobile_menu_top {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

._menu_icon {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
}

._menu_bar {
    margin-left: 25px;
}

._menu_bar span {
    display: block;
    border: 1px solid #3177f1;
    padding: 4px 6px;
    background: #3177f1;
    color: #fff;
    border-radius: 3px;
    transition: .2s all ease;
    cursor: pointer;
    font-size: 18px;
}

._menu_bar span:hover {
    border: 1px solid #125de0;
    background: #125de0;
}

._mobile_menu_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s linear;
}

._mobile_menu_overlay._mobile_menu_active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

._mobile_menu_list {
    background: #343434;
    width: 300px;
    height: 100vh;
    padding: 20px 0;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
}

._mobile_menu_list._side_left {
    transform: translateX(0);
}

._mobile_menu_list ._1menu_list_ul {
    display: flex;
    flex-flow: column;
    padding: 10px 20px;
}

._mobile_menu_list ._1menu_list_ul li {
    display: flex;
}

._mobile_menu_list ._1menu_list_ul li a {
    font-size: 14px;
    display: block;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(255,255,255,.06);
    color: #d4d4d4;
    transition: all 0.3s ease-in-out;
    display: block;
    width: 100%;
}

._mobile_menu_list ._1menu_list_ul li._1menu_list_active a {
    color: #fff !important;
}

._mobile_menu_list ._1menu_list_ul li a:before {
    color: #fff;
}

._mobile_menu_list ._1menu_list_ul li a:after {
    color: #fff;
}

._mobile_menu_list ._1menu_list_ul li._1menu_list_active a:before {
    color: #fff;
}

._mobile_menu_list ._1menu_list_ul li._1menu_list_active a:after {
    color: #fff;
}

._mobile_menu_list ._1menu_list_ul li a:hover {
    font-size: 14px;
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255,255,255,.06);
    color: #fff;
}

._mobile_menu_list ._1menu_pro {
    margin-left: 0;
    display: flex;
    flex-flow: column;
    padding: 0 20px;
}

._mobile_menu_list ._1menu_pro button {
    margin-left: 0;
    width: 175px;
    margin-bottom: 10px;
}

._mobile_menu_close {
    padding: 10px 20px;
    text-align: right;
}

._mobile_menu_close span {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

._1menu_profile {
    position: relative;
}

._1menu_profile button span {
    font-size: 12px;
    margin-left: 5px;
}

._1menu_profile button span i {
    vertical-align: text-bottom;
}

._1menu_profile_dropdown {
    position: absolute;
    width: 150px;
    background: #fff;
    top: 100%;
    left: auto;
    right: 0;
    border-radius: 3px;
    overflow: hidden;
    z-index: 1000;
    transform: translateY(10px);
    /* opacity: 0; */
    /* visibility: hidden; */
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

/* ._1menu_profile_active ._1menu_profile_dropdown {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
} */


._1menu_profile_dropdown ul {
    list-style: none;
    padding: 5px 0;
}

._1menu_profile_dropdown ul li {
    list-style: none;
    display: block;
    width: 100%;
}

._1menu_profile_dropdown ul li a {
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: 15px;
    transition: all 0.3s linear;
    background-color: transparent;
}

._1menu_profile_dropdown ul li a:hover {
    color: #fff !important;
    background-color: #3177f1;
}

._new_1title_38 {
    line-height: 38px;
}

._new_3card {
    min-height: 297px;
    height: 100%;
}

._mobile_flex_wrap {
    flex-wrap: wrap;
}

/* responsive */



@media only screen and (max-width: 1099px) {
    ._1menu_list_ul li a {
        font-size: 13px;
        padding: 0 10px 0;
    }
    /* .hide_in_mobile{
      display: none;
    } */
}


@media only screen and (max-width: 1199px) {
    ._new_1glance_top {
        margin-bottom: 200px;
    }

    ._1menu_pro .ivu-select-dropdown {
        top: 44px !important;
        left: 100% !important;
        transform: translateX(-100%);
    }
    /* .hide_in_mobile{
      display: none;
    } */
}

@media only screen and (max-width: 992px) {
    ._1menu_logo_pic {
        flex: 0 0 95px;
        width: 95px;
    }

    ._1menu_list_ul li a {
        font-size: 11px;
        padding: 0 5px 0;
    }

    ._1menu_right ._1btn {
        height: 29px;
        font-size: 12px;
        min-width: 70px;
    }

    ._new_1glance_top {
        margin-bottom: 160px;
    }

    ._new_mobile_size {
        flex: 0 0 50%;
        width: 50%;
        max-width: 50%;
    }
    ._content{
      padding-top: 10px;
    }
    /* .hide_in_mobile{
      display: none;
    } */
}

@media only screen and (max-width: 767px) {
    ._desktop_container {
        display: none;
    }
    ._1header{
      background-image: none;
    }
    /* .hide_in_mobile{
      display: none;
    } */
    ._content{
      padding-top: 10px;
    }
    ._2card{
      display: flex;
    }
    ._mobile_container {
        display: block;
    }

    ._1menu_logo_pic {
        flex: 0 0 105px;
        width: 105px;
    }

    ._mobile_black {
        color: #000;
    }

    ._new_1glance_top {
        margin-bottom: 50px;
    }

    ._new_1glance_send {
        padding: 60px 0 38px;
    }

    ._1fotter_all:before {
        top: 73px;
        width: 105%;
    }

    ._2header_main {
        width: 100%;
    }

    ._new_1productDetails_left {
        padding-right: 15px;
    }

    ._1login_right {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 499px) {

    ._new_1glance_top {
        margin-bottom: 20px;
    }

    ._1menu_pro {
        margin-left: 12px;
    }

    ._1menu_pro ._1btn {
        height: 32px;
        font-size: 12px;
        min-width: 80px;
    }

    ._1menu_profile button span {
        font-size: 9px;
    }
}

@media only screen and (max-width: 599px) {
  .hide_in_mobile{
    display: none;
  }
  ._1header{
    background-image: none;
  }
    ._new_1glance_send_main {
        width: 70%;
    }

    ._1fotter_all:before {
        top: 72px;
        width: 112%;
    }

    ._new_mobile_size {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
    }

    ._stype_main .form-row {
        flex: 0 0 100%;
    }

    ._stype_main .cart-button {
        flex: 0 0 100%;
        margin-left: 0;
    }

    ._mobile_1profileEdit_form {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media only screen and (max-width: 625px) {

    ._new_1fotter_bottom_text {
        flex: 0 0 100%;
        margin-top: 15px;
    }
    ._1header{
      background-image: none;
    }
}

@media only screen and (max-width: 399px) {

    ._mobile_100 {
        width: 100%;
    }
    ._1header{
      background-image: none;
    }

    ._1login_right {
        width: 100%;
    }

    ._mobile_1profileEdit_main {
        padding-left: 15px;
        padding-right: 15px;
    }

    ._mobile_flex_wrap ._forget {
        flex: 0 0 100%;
    }
}

._new_1glance_send_main form {
    display: flex;
    flex-flow: row;
}

._contact_box form label {
    margin-bottom: 0;
}

._1login_right .ivu-form-item-content ._1int {
    padding-left: 0;
    padding-right: 0;
}

._1login_right .ivu-form-item-content input {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    border: 0 !important;
    background-color: transparent !important;
}

.ivu-form-item-error-tip {
    font-size: 10px;
}

._new_input_tag {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 5px;
}

._new_input_tag li {
    margin-bottom: 5px;
    margin-right: 4px;
}

._cursor_pointer {
    cursor: pointer;
}

._1input_button button {
    border: none;
    text-transform: capitalize;
    padding: 0 11px;
    margin: 0;
    color: #fff;
    height: 36px;
    transition: .2s all ease;
    font-size: 15px;
    background-color: #3177f1;
    font-weight: bold;
    display: inline-flex;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    min-width: 96px;
    line-height: 1;
}

._1input_button button:hover {
    background: #125de0;
    color: #fff;
}

._contact_box .ivu-form-item-content input {
    width: 100% !important;
    border: none !important;
    height: 40px !important;
    font-size: 15px !important;
    padding: 0 15px 0 !important;
    border: 1px solid #eceeef !important;
    background: #f5f7fa !important;
    border-radius: 2px !important;
    transition: .3s all ease !important;
}
._1int:focus {
    box-shadow: 0px 0px 5px -1px #3177f159 !important;
    border: 1px solid #3177f140 !important;
}

._contact_box .ivu-form-item-content textarea {
    width: 100%;
    font-size: 15px;
    padding: 10px 15px;
    border: 1px solid #eceeef;
    background: #f5f7fa;
    border-radius: 2px;
    transition: .3s all ease;

}

._contact_box .ivu-form-item-content textarea:focus {
    box-shadow: 0px 0px 5px -1px #3177f159 !important;
    border: 1px solid #3177f140 !important;

}

._company_info {
}

._company_info h3 {
    color: #000;
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
}

._company_info ul {
    list-style: none;
    margin-top: 8px;
}

._company_info ul li {
    margin-bottom: 6px;
}

._company_info ul li a {
    color: #1d65e4;
    font-size: 16px;
    padding: 8px 10px;
    display: block;
    border-radius: 4px;
    transition: all 0.3s linear;
}

._company_info ul li a:hover {
    background: #f5f8fb;
}

._company_info ul li.active a {
    background-color: #f2f8ff;
}

._company_inq {
    border: 1px solid #98bdff;
    padding: 10px;
    border-radius: 4px;
    margin-top: 25px;
}

._company_inq p {

}

._company_inq p a {
    color: #1d65e4;
}

._company_info_details {

}

._company_info_details_title {

}

._company_info_details_title h2 {
    font-size: 33px;
    color: #000;
    font-weight: 600;
}

._company_info_details_title p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
}

._company_info_details_content {
    margin-top: 10px;
}

._company_info_title {

}

._company_info_title h3 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #d4d4d4;
    padding: 5px 0;
}

._company_info_para {

}

._company_info_para p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
}

._new_header_pad {
    padding-top: 149px;
    padding-bottom: 111px;
    margin-bottom: 141px;
}

._footer_deta p {
    color: #484646;
    line-height: 24px;
}

@media only screen and (min-width: 993px) {
    ._footer_pad_left {
        padding-left: 30px;
    }
}

._auto_scroll_menu {
    display: block;
}

._mobile_fixed_menu {
    display: none;
}

@media only screen and (min-width: 460px) {

}

@media only screen and (max-width: 459px) {
    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }

    ._mobile_fixed_menu {
        display: block;
    }

    ._auto_scroll_menu {
        display: none;
    }
}

._1productDetails_details .ivu-tabs-bar {
    margin-bottom: 25px !important;
}

@media only screen and (max-width: 680px) {
    ._link_row .col-md-3.col-sm-3 {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }

    ._link_row .col-md-9.col-sm-9 {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    ._1login_left {
        position: relative;
        padding: 79px 0 0 0;
    }

    ._1login_left_img {
        width: 65%;
        margin: auto;
    }
}

._new_loading_img {
    width: 32%;
    margin: auto;
    margin-bottom: 20px;
}

._new_same_row ._1select_section_all {
    min-height: 121px;
    height: 100%;
    margin-bottom: 0;
}

@media only screen and (min-width: 576px) {
    ._payment_row .col-sm-6 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media only screen and (max-width: 720px) and (min-width: 576px) {
    ._payment_row ._1edit_card img {
        width: auto;
        margin: 0 auto;
        height: 40px;
    }
}

._ticket_form .ivu-input {
    width: 100% !important;
    border: none !important;
    height: 40px !important;
    font-size: 15px !important;
    padding: 0 15px 0 !important;
    border: 1px solid #eceeef !important;
    background: #f5f7fa !important;
    border-radius: 2px !important;
    transition: .3s all ease !important;
}

._ticket_form textarea.ivu-input {
    height: auto !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

._ticket_form .ivu-select-placeholder {
    width: 100% !important;
    border: none !important;
    height: 40px !important;
    font-size: 15px !important;
    padding: 0 15px 0 !important;
    border: 1px solid #eceeef !important;
    background: #f5f7fa !important;
    border-radius: 2px !important;
    transition: .3s all ease !important;
    line-height: 36px !important;
}

._ticket_form .ivu-select-selection {
    height: auto !important;
    border: 0 !important;
}

._ticket_form .ivu-select-selection .ivu-select-input {
    width: 100% !important;
    border: none !important;
    height: 40px !important;
    font-size: 15px !important;
    padding: 0 15px 0 !important;
    border: 1px solid #eceeef !important;
    background: #f5f7fa !important;
    border-radius: 2px !important;
    transition: .3s all ease !important;
}

._author_name_menu {
    font-size: 15px !important;
}

._license_sec {
    margin: 0 -5px;
    display: flex;
    flex-flow: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 14px 0;
}

._license_sec_item {
    padding: 0 5px;
    flex: 0 0 33.33%;
    width: 33.33%;
    max-width: 33.33%;
}

._license_sec_item_inner {
    display: flex;
    flex-flow: row;
    padding: 37px 15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
    align-items: flex-start;
    cursor: pointer;
    max-height: 179px;
    height: 100%;
    margin-bottom: 15px;
    transition: all 0.3s linear;
    border-radius: 5px;
}

._license_sec_item_inner._license_sec_item_inner_active {
    box-shadow: 0px 10px 40px #00000029;
    border: 2px solid blue;
}

._license_sec_item_inner figure {
    flex: 0 0 86px;
    width: 86px;
    max-width: 86px;
    min-height: 105px;
    height: 100%;
}

._license_sec_item_inner figure img {
    width: 100%;
    height: 100%;
}

._license_item-details {
    flex: 1;
    max-width: 100%;
    width: 100%;
    padding-left: 15px;
    min-height: 105px;
    height: 100%;
    display: flex;
    flex-flow: column;
}

._license_item-details h3 {
    color: #013896;
    font-size: 23px;
    margin-bottom: 6px;
    font-weight: 600;
}

._license_item-details h4 {
    color: #4A4A4A;
    font-size: 15px;
    margin-bottom: 6px;
}

._license_item_price {
    color: #000000;
    font-size: 23px;
    margin-top: auto;
    font-weight: 600;
}

._license_confirm_button {
    margin-top: 26px;
    margin-bottom: 14px;
}

@media only screen and (max-width: 767px) {

    ._license_sec {
        justify-content: center;
    }

    ._license_sec_item {
        flex: 0 0 50%;
        width: 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 550px) {

    ._license_sec {
        justify-content: center;
    }

    ._license_sec_item {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
    }
}


.error_color {
    color: red;
}
._center{
  text-align: center;
  
}
