<template>
  <div style="width: 100%">
    <div class="row">
      <!-- Items -->
      <div class="col-12 col-md-4 col-lg-4">
        <div class="_1card _box_shadow2 _border_radious _mar_b30">
          <div class="_1card_pic">
            <div class="_shimmer _shimmer2_card_img"></div>
          </div>

          <div class="_1card_details">
            <div class="_1card_details_top _flex_row">
              <div class="_1card_title _flex_space _overflow_hidden">
                <div class="_card_title _text_overflow _shimmer1_rev_name _shimmer"></div>
              </div>
              <div class="_1card_price_main">
                <p class="_1card_price _shimmer1_review _shimmer"></p>
              </div>
            </div>

            <div class="_1card_bottom">
              <div class="_1card_status">
                <p class="_1card_status_text _text_overflow _shimmer1_star _shimmer"></p>
              </div>

              <div class="_1card_rating">
                <ul class="_1rating">
                  <li class="_1rating_active _new_card_rating _shimmer1_star_new _shimmer">
                    <!-- <Rate disabled v-model="item.avgRating" allow-half="true" /> -->
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="_1card _box_shadow2 _border_radious _mar_b30">
          <div class="_1card_pic">
            <div class="_shimmer _shimmer2_card_img"></div>
          </div>

          <div class="_1card_details">
            <div class="_1card_details_top _flex_row">
              <div class="_1card_title _flex_space _overflow_hidden">
                <div class="_card_title _text_overflow _shimmer1_rev_name _shimmer"></div>
              </div>
              <div class="_1card_price_main">
                <p class="_1card_price _shimmer1_review _shimmer"></p>
              </div>
            </div>

            <div class="_1card_bottom">
              <div class="_1card_status">
                <p class="_1card_status_text _text_overflow _shimmer1_star _shimmer"></p>
              </div>

              <div class="_1card_rating">
                <ul class="_1rating">
                  <li class="_1rating_active _new_card_rating _shimmer1_star_new _shimmer">
                    <!-- <Rate disabled v-model="item.avgRating" allow-half="true" /> -->
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="_1card _box_shadow2 _border_radious _mar_b30">
          <div class="_1card_pic">
            <div class="_shimmer _shimmer2_card_img"></div>
          </div>

          <div class="_1card_details">
            <div class="_1card_details_top _flex_row">
              <div class="_1card_title _flex_space _overflow_hidden">
                <div class="_card_title _text_overflow _shimmer1_rev_name _shimmer"></div>
              </div>
              <div class="_1card_price_main">
                <p class="_1card_price _shimmer1_review _shimmer"></p>
              </div>
            </div>

            <div class="_1card_bottom">
              <div class="_1card_status">
                <p class="_1card_status_text _text_overflow _shimmer1_star _shimmer"></p>
              </div>

              <div class="_1card_rating">
                <ul class="_1rating">
                  <li class="_1rating_active _new_card_rating _shimmer1_star_new _shimmer"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Items -->
    </div>
    <div class="row">
      <!-- Items -->
      <div class="col-12 col-md-4 col-lg-4">
        <div class="_1card _box_shadow2 _border_radious _mar_b30">
          <div class="_1card_pic">
            <div class="_shimmer _shimmer2_card_img"></div>
          </div>

          <div class="_1card_details">
            <div class="_1card_details_top _flex_row">
              <div class="_1card_title _flex_space _overflow_hidden">
                <div class="_card_title _text_overflow _shimmer1_rev_name _shimmer"></div>
              </div>
              <div class="_1card_price_main">
                <p class="_1card_price _shimmer1_review _shimmer"></p>
              </div>
            </div>

            <div class="_1card_bottom">
              <div class="_1card_status">
                <p class="_1card_status_text _text_overflow _shimmer1_star _shimmer"></p>
              </div>

              <div class="_1card_rating">
                <ul class="_1rating">
                  <li class="_1rating_active _new_card_rating _shimmer1_star_new _shimmer">
                    <!-- <Rate disabled v-model="item.avgRating" allow-half="true" /> -->
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="_1card _box_shadow2 _border_radious _mar_b30">
          <div class="_1card_pic">
            <div class="_shimmer _shimmer2_card_img"></div>
          </div>

          <div class="_1card_details">
            <div class="_1card_details_top _flex_row">
              <div class="_1card_title _flex_space _overflow_hidden">
                <div class="_card_title _text_overflow _shimmer1_rev_name _shimmer"></div>
              </div>
              <div class="_1card_price_main">
                <p class="_1card_price _shimmer1_review _shimmer"></p>
              </div>
            </div>

            <div class="_1card_bottom">
              <div class="_1card_status">
                <p class="_1card_status_text _text_overflow _shimmer1_star _shimmer"></p>
              </div>

              <div class="_1card_rating">
                <ul class="_1rating">
                  <li class="_1rating_active _new_card_rating _shimmer1_star_new _shimmer">
                    <!-- <Rate disabled v-model="item.avgRating" allow-half="true" /> -->
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="_1card _box_shadow2 _border_radious _mar_b30">
          <div class="_1card_pic">
            <div class="_shimmer _shimmer2_card_img"></div>
          </div>

          <div class="_1card_details">
            <div class="_1card_details_top _flex_row">
              <div class="_1card_title _flex_space _overflow_hidden">
                <div class="_card_title _text_overflow _shimmer1_rev_name _shimmer"></div>
              </div>
              <div class="_1card_price_main">
                <p class="_1card_price _shimmer1_review _shimmer"></p>
              </div>
            </div>

            <div class="_1card_bottom">
              <div class="_1card_status">
                <p class="_1card_status_text _text_overflow _shimmer1_star _shimmer"></p>
              </div>

              <div class="_1card_rating">
                <ul class="_1rating">
                  <li class="_1rating_active _new_card_rating _shimmer1_star_new _shimmer"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Items -->
    </div>
  </div>
</template>