<template>
  <div>
    <div class>
      <div class="_1productDetails _content">
        <div class="_my_container">
          <p class="_1title _shimmer1_name _shimmer"></p>
          <div class="row">
            <!-- Left -->
            <div class="col-12 col-md-8 col-lg-8 _1productDetails_left">
              <div class="_1productDetails_left_main">
                <div class="_1productDetails_pic _4box_shadow _border_radious _padd15">
                  <div class="_shimmer1_img _shimmer"></div>
                  <div class="_liveShareButton">
                    <div class="_liveButton">
                      <button>
                        <i class="fas fa-eye"></i> Live preview
                      </button>
                    </div>
                    <div class="_shareButton">
                      <ul>
                        <li>
                          <span>Share</span>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fab fa-facebook-f"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fab fa-twitter"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fab fa-instagram"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- filter -->
                <div class="_1productDetails_details">
                  <div class="_1productDetails_menu _border_color">
                    <Tabs type="card">
                      <!-- Description -->
                      <TabPane label="Description" @click="tab = 1">
                        <div class="_1productDetails_content_des _1border_color">
                          <h3 class="_2title">About This Product</h3>

                          <div class="_1productDetails_content_des_text">
                            <p class="_2text _2color _shimmer1_det _shimmer _mar_t10"></p>
                          </div>
                        </div>

                        <div class="_1productDetails_content_des _1border_color">
                          <h3 class="_2title _mar_b10 _shimmer1_det _shimmer"></h3>
                        </div>

                        <div class="_1productDetails_content_des _1border_color">
                          <h3 class="_2title">About This Product</h3>

                          <div class="_1productDetails_content_des_text">
                            <p class="_2text _2color _shimmer1_det _shimmer _mar_t10"></p>
                          </div>
                        </div>
                      </TabPane>
                      <!-- Description -->

                      <!-- Review -->
                      <TabPane label="Review" @click="tab = 2">
                        <h3 class="_2title _mar_b10">Reviews and Comments</h3>

                        <!-- Comments -->
                        <div class="_1all_comments">
                          <div class="_1all_comments_items _4bg _border_rad3">
                            <div
                              class="_1comment_pic _shimmer_1comment_pic"
                              style="margin-right: 10px;"
                            >
                              <avatar :fullname="sd" size="60"></avatar>
                            </div>

                            <div class="_1comment_details _mar_t10">
                              <p class="_1comment_name _shimmer1_rev_name _shimmer"></p>
                              <p class="_1comment_status _shimmer1_rev_name _shimmer"></p>
                            </div>

                            <div class="_1comment_rating">
                              <div class="_3rating">
                                <ul class="_3rating_list">
                                  <!-- <li class="_3rating_title">Your rating</li> -->
                                  <li
                                    class="_new_review_rating _shimmer1_star _shimmer _shimmer1_white"
                                  >
                                    <!-- <Rate disabled v-model="item.rating" /> -->
                                  </li>
                                </ul>
                              </div>

                              <p class="_1comment_time _shimmer1_star _shimmer _shimmer1_white"></p>
                            </div>
                          </div>
                          <div class="_1all_comments_items _4bg _border_rad3">
                            <div
                              class="_1comment_pic _shimmer_1comment_pic"
                              style="margin-right: 10px;"
                            >
                              <avatar :fullname="sd" size="60"></avatar>
                            </div>

                            <div class="_1comment_details _mar_t10">
                              <p class="_1comment_name _shimmer1_rev_name _shimmer"></p>
                              <p class="_1comment_status _shimmer1_rev_name _shimmer"></p>
                            </div>

                            <div class="_1comment_rating">
                              <div class="_3rating">
                                <ul class="_3rating_list">
                                  <!-- <li class="_3rating_title">Your rating</li> -->
                                  <li
                                    class="_new_review_rating _shimmer1_star _shimmer _shimmer1_white"
                                  >
                                    <!-- <Rate disabled v-model="item.rating" /> -->
                                  </li>
                                </ul>
                              </div>

                              <p class="_1comment_time _shimmer1_star _shimmer _shimmer1_white"></p>
                            </div>
                          </div>
                          <div class="_1all_comments_items _4bg _border_rad3">
                            <div
                              class="_1comment_pic _shimmer_1comment_pic"
                              style="margin-right: 10px;"
                            >
                              <avatar :fullname="sd" size="60"></avatar>
                            </div>

                            <div class="_1comment_details _mar_t10">
                              <p class="_1comment_name _shimmer1_rev_name _shimmer"></p>
                              <p class="_1comment_status _shimmer1_rev_name _shimmer"></p>
                            </div>

                            <div class="_1comment_rating">
                              <div class="_3rating">
                                <ul class="_3rating_list">
                                  <!-- <li class="_3rating_title">Your rating</li> -->
                                  <li
                                    class="_new_review_rating _shimmer1_star _shimmer _shimmer1_white"
                                  >
                                    <!-- <Rate disabled v-model="item.rating" /> -->
                                  </li>
                                </ul>
                              </div>

                              <p class="_1comment_time _shimmer1_star _shimmer _shimmer1_white"></p>
                            </div>
                          </div>
                        </div>
                        <!-- Comments -->
                      </TabPane>
                      <!-- Review -->
                    </Tabs>
                  </div>
                </div>
                <!-- filter -->
              </div>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div class="col-12 col-md-4 col-lg-4">
              <div class="_1productDetails_right">
                <div class="_1productDetails_right_card _border_radious _1box_shadow _mar_b15">
                  <p class="_3price _shimmer1_price _shimmer"></p>
                  <div class="_1productDetails_right_main _newProductDetailsRight _mar_t5">
                    <div class="_1productDetails_right_rating _1border_color">
                      <div class="_2rating">
                        <ul class="_2rating_list">
                          <li class="_2rating_active _shimmer1_star _shimmer"></li>
                          <li class="_newRatingNumber _shimmer1_review _shimmer"></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="_1productDetails_puchases _new_purchases">
                    <div class="_1productDetails_puchases_num _new_1productDetails_puchases_num">
                      <p
                        class="_1productDetails_puchases_title _new_1productDetails_puchases_title _shimmer1_pur _shimmer"
                      >
                        <span></span>
                      </p>
                    </div>
                  </div>

                  <ul class="_1productDetails_list _new_1productDetails_list _1border_color">
                    <li>
                      <span class="_shimmer1_sup _shimmer"></span>
                    </li>

                    <li>
                      <span class="_shimmer1_sup _shimmer"></span>
                    </li>
                  </ul>

                  <div class="_1productDetails_button">
                    <button
                      @click="onClickAddToCart(item)"
                      :disabled="isAddedToCart"
                      class="_5btn"
                      type="button"
                    >
                      <img src="/static/cartTwo.png" alt title />
                      Add to cart
                    </button>

                    <button class="_1btn" type="button" @click="onClickBuyNow(productDetails)">
                      <img src="/static/shopping.png" alt title />
                      Buy Now
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Right -->
          </div>
        </div>

        <!-- Bac Image -->
        <div class="_3appi">
          <img src="/static/Appify.png" alt title />
        </div>
        <!-- Bac Image -->
      </div>
    </div>
  </div>
</template>