<template>
  <div>
    <div class="_content0">
      <!-- Main Content -->
      <div class="_2page">
        <div class="_my_container _pro_rel">
          <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-9">
              <div class="_1profileEdit_main _mobile_1profileEdit_main _1box_shadow _border_rad4">
                <h2 class="_2title _text_center _mar_b30">Your Downloads</h2>
                <div class="row">
                  <template v-if="circleLoading">
                    <img style="width: 30px; margin: 0 auto;" src="/loading.gif" />
                  </template>
                  <template v-else>
                    <template v-if="downloadData.length > 0">
                      <div
                        class="col-12 col-md-4 col-sm-6 col-lg-4 _mar_b30"
                        v-for="(item, index) in downloadData"
                        :key="index"
                      >
                        <div class="_4card _1box_shadow _border_rad4">
                          <div v-if="item.details" class="_4card_pic">
                            <nuxt-link :to="`/products/details/${item.details.slug}`">
                              <img
                                v-if="item.productSingleImage"
                                class="_4card_img"
                                :src="item.productSingleImage.imageURL"
                                alt
                                title
                              />
                            </nuxt-link>
                          </div>

                          <div v-if="item.details" class="_4card_details">
                            <p class="_4card_title _text_overflow2">{{ item.details.title }}</p>

                            <p class="_4card_by">by AppifyLab team</p>
                            <h2
                              v-if="item.license"
                              class="_4card_price _1color"
                            >${{ (item.discount > 0) ? `${item.license.price - (item.license.price * item.discount / 100 )} (${item.discount}%)` : item.license.price }}</h2>

                            <div class="_4card_rating_sales _dis_flex">
                              <p
                                class="_4card_sales _flex_space"
                              >{{ item.details.totalPurchased }} Sales</p>

                              <p class="_4card_rating">
                                {{ item.isReviewed ? item.isReviewed.rating : 0 }}
                                <i class="fas fa-star"></i>
                              </p>
                            </div>
                          </div>

                          <div class="_4card_bottom _dis_flex _1border_color">
                            <div class="_4card_button_one _flex_space">
                              <div @click="download(item)" target="_blank">
                                <button class="_7btn" type="button">Download</button>
                              </div>
                              <div @click="downloadLicense(item)" target="_blank">
                                <button class="_7btn" type="button">Download License</button>
                              </div>
                              <div @click="onClickRate(index, item)" target="_blank" v-if="!item.isReviewed">
                                <button class="_7btn" type="button">Rate it!</button>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </template>
                    <template v-else>
                      <p v-if="isLoaded">You haven nothing to download!</p>
                    </template>
                  </template>
                </div>
              </div>
            </div>
          </div>

          <!-- Image bac -->
          <div class="_1star">
            <img src="/static/star.png" alt title />
          </div>
          <!-- Image bac -->
        </div>

        <!-- Image bac -->
        <div class="_1appi">
          <img src="/static/Appify.png" alt title />
        </div>
        <!-- Image bac -->
      </div>
      <!-- Main Content -->
    </div>
    <Modal
      v-model="reviewModal"
      :footer-hide="true"
      :loading="circleLoading"
      :mask-closable="false"
      width="800px"
    >
      <p slot="close" style="font-size: 20px;">
        <Icon @click="onClickModalClose" type="md-close" />
      </p>
      <h3 class="_2title _mar_b10">Review your review</h3>

      <div class="_1productDetails_comment_box _border_rad3 _4box_shadow _padd20">
        <div class="_1comment_box">
          <div class="_1comment_pic">
            <!-- <img class="_1comment_img" src="/static/pros.png" alt title /> -->
            <vs-avatar circle size="100">
              <template #text>{{ authUser.fullName }}</template>
            </vs-avatar>
          </div>

          <div class="_1comment_box_ratings _mar_l10">
            <div class="_2rating">
              <ul class="_2rating_list">
                <li class="_2rating_title">Your rating</li>
                <Rate v-model="form.rating" />
              </ul>
            </div>

            <div class="_1comment_box_main">
              <p class="_1comment_box_main_title">Write the review</p>

              <div class="_1comment_textera_all">
                <div class="_flex_space">
                  <textarea
                    v-model="form.review"
                    class="_1textera"
                    rows="5"
                    placeholder="Write a comment"
                  ></textarea>
                </div>

                <button
                  @click="submitReview"
                  :disabled="circleLoading"
                  class="_1btn"
                  type="button"
                >Submit Review</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      circleLoading: false,
      downloadData: [],
      isLoaded: false,
      reviewModal: false,
      form: {
        review: "",
        rating: 5,
        product_id: null
      }
    };
  },
    middleware: "auth",

  methods: {
    async submitReview() {
      if (this.form.rating == 0) {
        return this.i("You have to select a number for rating!");
      }

      if (this.form.review == "") {
        return this.i("You can not submit empty review!");
      }

      this.form.user_id = this.authUser.id;
      this.circleLoading = true;

      const res = await this.callApi(
        "post",
        "/app/post/submitReview",
        this.form
      );

      if (res.status == 200) {
        this.s("Your review have been submitted!");
        this.onClickModalClose();
      } else if (res.status == 401) {
        this.e(res.data.message);
        this.circleLoading = false;
        return this.$router.push("/login");
      } else {
        this.swr();
      }

      this.circleLoading = false;
    },
    download(item) {
      window.open(
        `/app/download/product?product_id=${item.product_id}&user_id=${this.authUser.id}`
      );
      //
    },
    onClickModalClose() {
      this.form.review = "";
      this.form.rating = "";
      this.form.product_id = null;
      this.reviewModal = false;
    },
    onClickRate(index, item) {

      this.reviewModal = true;
      this.form.product_id = item.product_id;
    },

    downloadLicense(item) {
      window.open(
        `/app/download/license?product_id=${item.product_id}&user_id=${this.authUser.id}`
      );
    },

    onClickModalClose() {
      this.form.review = "";
      this.form.rating = "";
      this.form.product_id = null;
      this.reviewModal = false;
    },
    onClickCancel() {
      this.isEdit = false;
      this.isEmailSent = false;
      this.isEmailCodeIsVerify = false;
    },

    onClickEdit() {
      this.editData = this.profileData;
      this.isEdit = true;
    },

    onClickRate(index, item) {
      this.reviewModal = true;
      this.form.product_id = item.product_id
    },
    async submitReview() {
      if (this.form.rating == 0) {
        return this.i("You have to select a number for rating!");
      }

      if (this.form.review.trim() == "") {
        return this.i("You can not submit empty review!");
      }

      this.form.user_id = this.authUser.id;
      this.circleLoading = true;

      const res = await this.callApi(
        "post",
        "/app/post/submitReview",
        this.form
      );

      if (res.status == 200) {
        this.s("Your review have been submitted!");
        this.onClickModalClose();
        location.reload()
      } else if (res.status == 401) {
        this.e(res.data.message);
        this.circleLoading = false;
        return this.$router.push("/login");
      } else {
        this.swr();
      }

      this.circleLoading = false;
    }
  },

  async created() {
    this.circleLoading = true;
    const res = await this.callApi("get", `/app/profile/get/downloads`);
    if (res.status == 200) {
      this.downloadData = res.data.allDownloadData;
    } else {
      this.swr();
    }
    this.isLoaded = true;
    this.circleLoading = false;
  },

  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>
