<template>
  <div>
    <div class="_1product _content0">
      <!-- Header -->
      <div class="_2header cheader">
        <div class="_my_container">
          <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-9">
              <div class="_1profile_pro _mobile_1profileEdit_main _1box_shadow _border_rad4">
                <!-- <div class="_1profile_img"> -->
                <vs-avatar circle size="100">
                  <template #text>{{ profileData.fullName }}</template>
                </vs-avatar>
                <!-- </div> -->

                <div class="_1profile_details _mar_l10">
                  <div class="_1profile_details_top">
                    <div class="_1profile_details_name_all">
                      <p v-if="!isEdit" class="_1profile_title">{{ profileData.fullName }}</p>

                      <Input v-if="isEdit" type="text" v-model="profileData.fullName"></Input>

                      <!-- <p class="_1profile_details_add">Sylhet, Bangladesh</p> -->
                    </div>

                    <div v-if="!isEdit" @click="onClickEdit" class="_1profile_details_button">
                      <button class="_1btn" type="button">Edit your name</button>
                    </div>
                    <div v-if="isEdit" class="_1profile_details_button">
                      <button @click="onClickCancel" class="_1btn" type="button">Cancel</button>
                      <button @click="onClickSaveProfile" class="_1btn" type="button">Save</button>
                    </div>
                  </div>

                  <p class="_2text _1profile_details_status _2color">{{ profileData.email }}</p>
                  <!-- <p class="_2text _1profile_details_status _2color">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  </p>-->

                  <div v-if="!isEmailSent && !isEmailCodeIsVerify" class="_profile_input_sec">
                    <div class="_profile_input_sec_input">
                      <button @click="onClickChangeEmail" class="_1btn">Change Email</button>
                    </div>
                  </div>
                  <div v-if="isEmailSent" class="_profile_input_sec">
                    <p class="_profile_input__text _mar_b10 _1profile_title">Verify Email Reset Code</p>
                    <div class="_profile_input_sec_input">
                      <input v-model="code" type="text" placeholder="code" />
                      <button @click="verifyEmailResetToken" class="_1btn">Verify</button>
                    </div>
                  </div>
                  <div v-if="isEmailCodeIsVerify" class="_profile_input_sec">
                    <p class="_profile_input__text _mar_b10 _1profile_title">Type Your New Email</p>
                    <div class="_profile_input_sec_input">
                      <input v-model="newEmail" type="text" placeholder="email" />
                      <button @click="onClickSaveNewEmail" class="_1btn">Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header -->

      <!-- Main Content -->
      <div class="_1page">
        <div class="_my_container _pro_rel">
          <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-9">
              <h1 class="_2header_title _mar_b40">
                <span class="_1color">Your</span> Collection
              </h1>
              <div v-if="profileData.products" class="row">
                <!-- Items -->
                <template v-if="profileData && profileData.products.length">
                  <div
                    class="col-12 col-sm-6 col-md-4 col-lg-4 _mar_b30"
                    v-for="(item, index) in profileData.products"
                    :key="index"
                  >
                    <div class="_4card _1box_shadow _border_rad4">
                      <div v-if="item.details" class="_4card_pic">
                        <nuxt-link :to="`/products/details/${item.details.slug}`">
                          <img
                            v-if="item.productSingleImage"
                            class="_4card_img"
                            :src="item.productSingleImage.imageURL"
                            alt
                            title
                          />
                        </nuxt-link>
                      </div>

                      <div v-if="item.details" class="_4card_details">
                        <p class="_4card_title _text_overflow2">{{ item.details.title }}</p>

                        <p class="_4card_by">by AppifyLab team</p>
                        <h2
                          v-if="item.license"
                          class="_4card_price _1color"
                        >${{ (item.discount > 0) ? `${item.license.price - (item.license.price * item.discount / 100 )} (${item.discount}%)` : item.license.price }}</h2>

                        <div class="_4card_rating_sales _dis_flex">
                          <p
                            class="_4card_sales _flex_space"
                          >{{ item.details.totalPurchased }} Sales</p>

                          <p class="_4card_rating" >
                            {{ item.isReviewed ? item.isReviewed.rating : 0 }}
                            <i class="fas fa-star"></i>
                          </p>
                        </div>
                      </div>

                      <div
                        @click="onClickRate(index)"
                        class="_4card_bottom _dis_flex _1border_color"
                      >
                        <div class="_4card_button_one _flex_space" v-if="!item.isReviewed">
                          <button class="_7btn" type="button">Rate it!</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </template>
                <template v-else>
                  <p
                    class="_2text _2color _dis_flex justify-content-center"
                    style="width: 100%;"
                  >You haven't purchased anything yet!</p>
                </template>
                <!-- Items -->
              </div>
            </div>
          </div>

          <!-- Image bac -->
          <div class="_1star">
            <img src="/static/star.png" alt title />
          </div>
          <!-- Image bac -->
        </div>

        <!-- Image bac -->
        <div class="_1appi">
          <img src="/static/Appify.png" alt title />
        </div>
        <!-- Image bac -->
      </div>
      <!-- Main Content -->
    </div>
    <Modal
      v-model="reviewModal"
      :footer-hide="true"
      :loading="circleLoading"
      :mask-closable="false"
      width="800px"
    >
      <p slot="close" style="font-size: 20px;">
        <Icon @click="onClickModalClose" type="md-close" />
      </p>
      <h3 class="_2title _mar_b10">Review and Comment</h3>

      <div class="_1productDetails_comment_box _border_rad3 _4box_shadow _padd20">
        <div class="_1comment_box">
          <div class="_1comment_pic">
            <!-- <img class="_1comment_img" src="/static/pros.png" alt title /> -->
            <vs-avatar circle size="100">
              <template #text>{{ profileData.fullName }}</template>
            </vs-avatar>
          </div>

          <div class="_1comment_box_ratings _mar_l10">
            <div class="_2rating">
              <ul class="_2rating_list">
                <li class="_2rating_title">Your rating</li>
                <Rate v-model="form.rating" />
              </ul>
            </div>

            <div class="_1comment_box_main">
              <p class="_1comment_box_main_title">Write your review</p>

              <div class="_1comment_textera_all">
                <div class="_flex_space">
                  <textarea
                    v-model="form.review"
                    class="_1textera"
                    rows="5"
                    placeholder="Write a comment"
                  ></textarea>
                </div>

                <button
                  @click="submitReview"
                  :disabled="circleLoading"
                  class="_1btn"
                  type="button"
                >Submit Review</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      circleLoading: true,
      profileData: {},
      editData: {},

      isEdit: false,
      isEmailSent: false,
      isEmailCodeIsVerify: false,
      code: "",
      newEmail: "",

      reviewModal: false,
      form: {
        review: "",
        rating: 5,
        product_id: null
      }
    };
  },

    middleware: "auth",

  methods: {
    onClickModalClose() {
      this.form.review = "";
      this.form.rating = "";
      this.form.product_id = null;
      this.reviewModal = false;
    },
    onClickCancel() {
      this.isEdit = false;
      this.isEmailSent = false;
      this.isEmailCodeIsVerify = false;
    },

    onClickEdit() {
      this.editData = this.profileData;
      this.isEdit = true;
    },

    onClickRate(index) {
      this.reviewModal = true;
      this.form.product_id = this.profileData.products[index].product_id;
    },

    async onClickSaveNewEmail() {
      this.circleLoading = true;
      const loading = this.$vs.loading({
        target: this.$refs.content,
        color: "#3177f1",
        type: "points",
        text: "Please Wait..."
      });

      const res = await this.callApi("post", `/app/profile/change/email`, {
        code: this.code,
        newEmail: this.newEmail
      });
      if (res.status == 200) {
        this.s("You email has been successfully changed!");
        this.profileData.email = this.newEmail;
        this.onClickCancel();
      } else {
        this.e(res.data.message);
      }
      loading.close();
      this.circleLoading = false;
    },

    async verifyEmailResetToken() {
      this.circleLoading = true;
      const loading = this.$vs.loading({
        target: this.$refs.content,
        color: "#3177f1",
        type: "points",
        text: "Please Wait..."
      });

      const res = await this.callApi("post", `/app/profile/verify/emailToken`, {
        code: this.code
      });
      if (res.status == 200) {
        this.s("Please type your new email.");
        this.isEmailSent = false;
        this.isEmailCodeIsVerify = true;
      } else {
        this.e(res.data.message);
      }
      loading.close();
      this.circleLoading = false;
    },

    async onClickChangeEmail() {
      this.circleLoading = true;
      const loading = this.$vs.loading({
        target: this.$refs.content,
        color: "#3177f1",
        type: "points",
        text: "Please Wait..."
      });

      const res = await this.callApi("post", `/app/profile/verify/sendEmail`);
      if (res.status == 200) {
        this.s("An verificaiton email has been sent to your email.");
        this.isEmailSent = true;
        this.code = "";
      } else {
        this.e(res.data.message);
      }
      loading.close();
      this.circleLoading = false;
    },

    async onClickSaveProfile() {
      this.circleLoading = true;
      const loading = this.$vs.loading({
        target: this.$refs.content,
        color: "#3177f1",
        type: "points",
        text: "Please Wait..."
      });

      const res = await this.callApi(
        "post",
        `/app/profile/update`,
        this.editData
      );
      if (res.status == 200) {
        this.profileData = this.editData;
        this.onClickCancel();
      } else {
        this.e(res.data.message);
      }
      loading.close();
      this.circleLoading = false;
    },

    async submitReview() {
      if (this.form.rating == 0) {
        return this.i("You have to select a number for rating!");
      }

      if (this.form.review == "") {
        return this.i("You can not submit empty review!");
      }

      this.form.user_id = this.authUser.id;
      this.circleLoading = true;

      const res = await this.callApi(
        "post",
        "/app/post/submitReview",
        this.form
      );

      if (res.status == 200) {
        this.s("Your review have been submitted!");
        this.onClickModalClose();
        location.reload()
      } else if (res.status == 401) {
        this.e(res.data.message);
        this.circleLoading = false;
        return this.$router.push("/login");
      } else {
        this.swr();
      }

      this.circleLoading = false;
    }
  },

  async mounted() {
    window.scrollTo(0, 0);

    this.circleLoading = true;
    const loading = this.$vs.loading({
      target: this.$refs.content,
      color: "#3177f1",
      type: "points",
      text: "Please Wait..."
    });

    const res = await this.callApi("get", `/app/get/profile/getDetails`);
    if (res.status == 200) {
      this.profileData = res.data;
    } else {
      this.e(res.data.message);
    }
    loading.close();
    this.circleLoading = false;
  }
};
</script>
