<template>
  <div>
    <div class="_content0">
      <!-- Main Content -->
      <div class="_2page">
        <div class="_my_container _pro_rel">
          <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-9">
              <div class="_1profileEdit_main _mobile_1profileEdit_main _1box_shadow _border_rad4">
                <h2 class="_2title _text_center _mar_b30">Your orders</h2>
                <div class="_order_main">
                  <template v-if="profileOrderData.total > 0">
                    <p>
                      You can download your product from -
                      <nuxt-link to="/profile/download" style="color: #2d8cf0;">here</nuxt-link>
                    </p>
                    <table class="_order_table">
                      <tr>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Order status</th>
                      </tr>
                      <tr v-for="(item,index) in profileOrderData.data" :key="index">
                        <td>
                          <nuxt-link :to="`/profile/order/${item.id}`" style="color: #2d8cf0;">#{{ item.id }}</nuxt-link>
                        </td>
                        <td>{{ $moment(item.created_at).format('ll') }}</td>
                        <td>${{ item.totalPrice }}</td>
                        <td>{{ item.status }}</td>
                      </tr>
                    </table>
                    <div class="_pagination _mar_t30 _dis_flex" v-if="profileOrderData.total > 0 ">
                      <Page
                        :current="profileOrderData.page"
                        :total="profileOrderData.total"
                        @on-change="paginateDataInfo"
                        :page-size="profileOrderData.perPage"
                      />
                    </div>
                  </template>
                  <template v-else>
                    <p>You haven't made any order yet</p>
                  </template>
                </div>
              </div>
            </div>
          </div>

          <!-- Image bac -->
          <div class="_1star">
            <img src="/static/star.png" alt title />
          </div>
          <!-- Image bac -->
        </div>

        <!-- Image bac -->
        <div class="_1appi">
          <img src="/static/Appify.png" alt title />
        </div>
        <!-- Image bac -->
      </div>
      <!-- Main Content -->
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      circleLoading: false,
      profileOrderData: [],
      page: ""
    };
  },

    middleware: "auth",

  methods: {
    async paginateDataInfo(e) {
      this.page = e;
      this.circleLoading = true;
      const loading = this.$vs.loading({
        color: "#3177f1",
        type: "points",
        text: "Please Wait..."
      });

      const res = await this.callApi(
        "get",
        `/app/profile/get/orders?page=${this.page}`
      );
      if (res.status == 200) {
        this.profileOrderData = res.data;
        this.$router.push(`/profile/myOrder?page=${this.page}`);
      } else {
        this.swr();
      }
      loading.close();
      this.circleLoading = false;
    }
  },

  async created() {
    if (!this.$route.query.page) {
      this.page = '';
    } else {
      this.page = Number(this.$route.query.page);
    }

    this.circleLoading = true;
    const loading = this.$vs.loading({
      color: "#3177f1",
      type: "points",
      text: "Please Wait..."
    });

    const res = await this.callApi(
      "get",
      `/app/profile/get/orders?page=${this.page}`
    );
    if (res.status == 200) {
      this.profileOrderData = res.data;
    } else {
      this.swr();
    }
    loading.close();
    this.circleLoading = false;
  },

  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>