<template>
  <div>
    <div class="_content0">
      <!-- Main Content -->
      <div class="_2page">
        <div class="_my_container _pro_rel">
          <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-9">
              <div class="_1profileEdit_main _mobile_1profileEdit_main _1box_shadow _border_rad4">
                <div class="_1profileEdit_top">
                  <div class="_1profileEdit_pic">
                    <img class="_1profileEdit_img" src="/static/pros.png" alt title />
                  </div>

                  <div class="_1profileEdit_details">
                    <p class="_1profile_title">Mr. Jhonson Doe</p>

                    <div class="_1profileEdit_upload">
                      <Upload action="//jsonplaceholder.typicode.com/posts/">
                        <Button icon="ios-cloud-upload-outline">Upload Photo</Button>
                      </Upload>
                    </div>
                  </div>
                </div>

                <div class="_1profileEdit_form _mobile_1profileEdit_form">
                  <form>
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-6">
                        <div class="_1input_group">
                          <p class="_1label">First Name</p>
                          <input type="text" placeholder="First name" class="_1int" />
                        </div>
                      </div>

                      <div class="col-12 col-md-6 col-lg-6">
                        <div class="_1input_group">
                          <p class="_1label">Last Name</p>
                          <input type="text" placeholder="Last name" class="_1int" />
                        </div>
                      </div>

                      <div class="col-12 col-md-12 col-lg-12">
                        <div class="_1input_group">
                          <p class="_1label">User Name</p>
                          <input type="text" placeholder="User name" class="_1int" />
                        </div>
                      </div>

                      <div class="col-12 col-md-12 col-lg-12">
                        <div class="_1input_group">
                          <p class="_1label">Email</p>
                          <input type="text" placeholder="@gmail.com" class="_1int" />
                        </div>
                      </div>

                      <div class="col-12 col-md-12 col-lg-12">
                        <div class="_1input_group">
                          <p class="_1label">Address/Location</p>
                          <input type="text" placeholder="Address/Location" class="_1int" />
                        </div>
                      </div>

                      <div class="col-12 col-md-12 col-lg-12">
                        <div class="_1input_group">
                          <p class="_1label">Short bio</p>
                          <textarea
                            class="_1textarea"
                            rows="5"
                            placeholder="Write short bio about you..."
                          ></textarea>
                        </div>
                      </div>

                      <div class="col-12 col-md-12 col-lg-12">
                        <div class="_1input_button">
                          <button type="button" class="_1btn">Edit your profile</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- Image bac -->
          <div class="_1star">
            <img src="/static/star.png" alt title />
          </div>
          <!-- Image bac -->
        </div>

        <!-- Image bac -->
        <div class="_1appi">
          <img src="/static/Appify.png" alt title />
        </div>
        <!-- Image bac -->
      </div>
      <!-- Main Content -->
    </div>

  </div>
</template>


<script>
</script>