<template>
  <div>
    <div class="_content0">
      <!-- Main Content -->
      <div class="_2page">
        <div class="_my_container _pro_rel">
          <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-9">
              <div class="_1profileEdit_main _1box_shadow _border_rad4">
                <div class="_1setting_title_top">
                  <h1 class="_2title _mar_b30">
                    <span class="_1color">Profile</span> setting
                  </h1>
                </div>
                <div class="_1profile_top_section _dis_flex">
                  <div class="_1profile_top_left _dis_flex">
                    <div class="_1profile_top_left_image _mar_r35">
                      <vue-letter-avatar name="fullName" size="96" :rounded="true" />
                      <!-- <avatar :fullname="profileData.fullName" size="96"></avatar> -->
                    </div>
                    <div class="_1profile_top_left_text _mar_t15">
                      <h1 class="_2title _mar_b10">Mr.{{ profileData.fullName }}</h1>
                      <p class="_1profile_top_left_p">Sylhet,Bangladesh</p>
                    </div>
                  </div>
                  <div class="_1profile_top_left_btn">
                    <button type="button" class="_1btn _1edit_btn _1setting_btn">Edit your profile</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 col-lg-3 col-12">
                    <div class="_1profile_detils _mar_t15">
                      <p class="_1profile_detils_p">Your User Name</p>
                    </div>
                  </div>
                  <div class="col-md-9 col-lg-9 col-12">
                    <div class="_1profile_detils _mar_t15">
                      <p class="_1profile_detils_p2">Mr. {{ profileData.fullName }}</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-lg-3 col-12">
                    <div class="_1profile_detils _mar_t15">
                      <p class="_1profile_detils_p">Your Email</p>
                    </div>
                  </div>
                  <div class="col-md-9 col-lg-9 col-12">
                    <div class="_1profile_detils _mar_t15">
                      <p class="_1profile_detils_p2">{{ profileData.email }}</p>
                    </div>
                  </div>
                  <!-- <div class="col-md-3 col-lg-3 col-12">
                    <div class="_1profile_detils _mar_t15">
                      <p class="_1profile_detils_p">Short bio</p>
                    </div>
                  </div>
                  <div class="col-md-9 col-lg-9 col-12">
                    <div class="_1profile_detils _mar_t15">
                      <p
                        class="_1profile_detils_p2"
                      >Here your short bio. Lorem isum, or lipsum as it sometimes known, is dummy text used in lying out print, graphic or web design.</p>
                    </div>
                  </div>-->
                </div>
              </div>
            </div>
          </div>

          <!-- Image bac -->
          <div class="_1star">
            <img src="/static/star.png" alt title />
          </div>
          <!-- Image bac -->
        </div>

        <!-- Image bac -->
        <div class="_1appi">
          <img src="/static/Appify.png" alt title />
        </div>
        <!-- Image bac -->
      </div>
      <!-- Main Content -->
    </div>
  </div>
</template>

<script>
import Avatar from "vue-avatar-component";
export default {
  components: { Avatar },
  data() {
    return {
      circleLoading: true,
      profileData: {}
    };
  },

  middleware: "auth",

  async created() {
    this.circleLoading = true;
    const loading = this.$vs.loading({
      target: this.$refs.content,
      color: "#3177f1",
      type: "points",
      text: "Please Wait..."
    });

    const res = await this.callApi("get", `/app/get/profile/getDetails`);
    if (res.status == 200) {
      this.profileData = res.data;
    } else {
      this.e(res.data.message);
    }
    loading.close();
    this.circleLoading = false;
  },

  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>