<template>
  <div>
    <div class="_content0">
      <!-- Main Content -->
      <div class="_2page">
        <div class="_my_container _pro_rel">
          <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-9">
              <div class="_1profileEdit_main _mobile_1profileEdit_main _1box_shadow _border_rad4">
                <div class="_1edit_title_top">
                  <h1 class="_2title">
                    <span class="_1color">4 items</span> in your cart
                  </h1>
                </div>

                <div class="row _payment_row">
                  <div class="col-md-4 col-lg-4 col-md-6 col-12 _mar_b20">
                    <div class="_1edit_card _4box_shadow">
                      <img src="/static/mastercard.png" alt="image" />
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4 col-md-6 col-12 _mar_b20">
                    <div class="_1edit_card _4box_shadow">
                      <img src="/static/paypal-logo.png" alt="image" />
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4 col-md-6 col-12 _mar_b20">
                    <div class="_1edit_card _4box_shadow">
                      <img src="/static/american_express_logo.png" alt="image" />
                    </div>
                  </div>
                  <div class="col-md-8 col-lg-8 col-12">
                    <div class="row">
                      <div class="col-md-12 col-lg-12 col-12">
                        <div class="_1edit_card_num">
                          <p class="_1edit_card_num_p _padd_b10">Card Number</p>
                          <input class="_1int" type name placeholder="52386262" />
                        </div>
                      </div>
                      <div class="col-lg-5 col-md-5 col-12 _mar_b25">
                        <p class="_1edit_card_num_p _padd_b10">Expire Date</p>
                        <div class="_1edit_card_date _dis_flex">
                          <input class="_1int _input_num" type name placeholder="DD" />
                          <p class="_1edit_dash">-</p>
                          <input class="_1int _input_num" type name placeholder="MM" />
                        </div>
                      </div>
                      <div class="col-lg-7 col-md-7 col-12 _mar_b25">
                        <div class="_1edit_card_date">
                          <p class="_1edit_card_num_p _padd_b10">Card Number</p>
                          <input class="_1int" type name placeholder="DD" />
                        </div>
                      </div>
                    </div>
                    <div class="_1edit_check  _mar_b20">
                      <Checkbox class="_1edit_box">Save card for future use</Checkbox>
                    </div>
                  </div>
                </div>
                <div class="_1edit_order_details_all _padd_t20 _padd_b20">
                  <div class="_1edit_order_details _dis_flex">
                    <div class="_1edit_order_details_text">
                      <p class="_1edit_order_text">Your order</p>
                    </div>
                    <div class="_1edit_order_details_text2">
                      <p class="_1edit_order_text _width50">$237</p>
                    </div>
                  </div>
                  <div class="_1edit_order_details _dis_flex">
                    <div class="_1edit_order_details_text _padd_t20">
                      <p class="_1edit_order_text">Charge</p>
                    </div>
                    <div class="_1edit_order_details_text2 _padd_t20">
                      <p class="_1edit_order_text _width50">$27</p>
                    </div>
                  </div>
                </div>
                <div class="_1edit_order_btm _mar_t20 _mar_b35">
                  <div class="_1edit_order_details _dis_flex">
                    <div class="_1edit_order_details_text">
                      <p class="_1edit_order_text">Amount you have to pay</p>
                    </div>
                    <div class="_1edit_order_details_text2">
                      <p class="_1edit_order_text _width50">$278</p>
                    </div>
                  </div>
                </div>
                <div class="_1edit_btn">
                  <button type="button" class="_1btn _1edit_btn">pay Now</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Image bac -->
          <div class="_1star">
            <img src="/static/star.png" alt title />
          </div>
          <!-- Image bac -->
        </div>

        <!-- Image bac -->
        <div class="_1appi">
          <img src="/static/Appify.png" alt title />
        </div>
        <!-- Image bac -->
      </div>
      <!-- Main Content -->
    </div>
  </div>
</template>


<script>
</script>