<template>
  <div>
    <div class="_content0">
      <!-- Main Content -->
      <div class="_2page">
        <div class="_my_container _pro_rel">
          <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-9">
              <div class="_1profileEdit_main _mobile_1profileEdit_main _1box_shadow _border_rad4">
                <div class="_1edit_title_top">
                  <h1 class="_2title">
                    <span class="_1color">4 items</span> in your cart
                  </h1>
                </div>
                <div class="row _new_same_row">
                  <!--====== card ========-->
                  <div class="col-lg-4 col-md-6 col-12">
                    <div class="_1select_section_all _dis_flex _2box_shadow _cursor_pointer">
                      <div class="_1select_section_left">
                        <img src="/static/laptop.png" alt="mage" />
                      </div>
                      <div class="_1select_section_right">
                        <h4 class="_1select_section_h4">AppifyLab eBusinss</h4>
                        <p class="_1select_section_p">website theme</p>
                        <span class="_1select_section_dlr">$76</span>
                      </div>
                      <div class="_1select_remove_icon">
                        <Icon type="md-close" />
                      </div>
                    </div>
                  </div>
                  <!--====== card ========-->
                  <!--====== card ========-->
                  <div class="col-lg-4 col-md-6 col-12">
                    <div class="_1select_section_all _dis_flex _2box_shadow _cursor_pointer">
                      <div class="_1select_section_left">
                        <img src="/static/laptop.png" alt="mage" />
                      </div>
                      <div class="_1select_section_right">
                        <h4 class="_1select_section_h4">AppifyLab eBusinss</h4>
                        <p class="_1select_section_p">website theme</p>
                        <span class="_1select_section_dlr">$76</span>
                      </div>
                      <div class="_1select_remove_icon">
                        <Icon type="md-close" />
                      </div>
                    </div>
                  </div>
                  <!--====== card ========-->
                  <!--====== card ========-->
                  <div class="col-lg-4 col-md-6 col-12">
                    <div class="_1select_section_all _dis_flex _2box_shadow _cursor_pointer">
                      <div class="_1select_section_left">
                        <img src="/static/mobile2.png" alt="mage" />
                      </div>
                      <div class="_1select_section_right">
                        <h4 class="_1select_section_h4">AppifyLab eBusinss</h4>
                        <p class="_1select_section_p">website theme</p>
                        <span class="_1select_section_dlr">$76</span>
                      </div>
                      <div class="_1select_remove_icon">
                        <Icon type="md-close" />
                      </div>
                    </div>
                  </div>
                  <!--====== card ========-->
                  <!--====== card ========-->
                  <div class="col-lg-4 col-md-6 col-12">
                    <div class="_1select_section_all _dis_flex _2box_shadow _cursor_pointer">
                      <div class="_1select_section_left">
                        <img src="/static/mobile.png" alt="mage" />
                      </div>
                      <div class="_1select_section_right">
                        <h4 class="_1select_section_h4">AppifyLab eBusinss</h4>
                        <p class="_1select_section_p">website theme</p>
                        <span class="_1select_section_dlr">$76</span>
                      </div>
                      <div class="_1select_remove_icon">
                        <Icon type="md-close" />
                      </div>
                    </div>
                  </div>
                  <!--====== card ========-->
                </div>
                <div class="_1select_btm_section">
                  <h2 class="_1select_btm_h2 _mar_t25 _mar_b25">Total price $237</h2>
                  <button type="button" class="_1btn _1edit_btn _1edit_btn2">Proceed to buy</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Image bac -->
          <div class="_1star">
            <img src="/static/star.png" alt title />
          </div>
          <!-- Image bac -->
        </div>

        <!-- Image bac -->
        <div class="_1appi">
          <img src="/static/Appify.png" alt title />
        </div>
        <!-- Image bac -->
      </div>
      <!-- Main Content -->
    </div>
  </div>
</template>


<script>
export default {};
</script>