<template>
  <div>
    <div class="_1product _content0">
      <!-- Header -->
      <div class="_2header">
        <div class="_2my_container">
          <div class="_2header_main">
            <h1 class="_2header_title">
              Templets and Plugins
              <br />from $20
            </h1>

            <p class="_2text _2color">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et
            </p>
          </div>
        </div>
      </div>
      <!-- Header -->

      <!-- Main Content -->
      <div class="_1product_main">
        <div class="_2my_container">
          <!-- Top Filter -->
          <div class="_2filter">
            <div class="_2filter_items _mar_r30">
              <img class="_mar_r5" src alt title />

              <p class="_2filter_text">Filter & Refine</p>
            </div>

            <div class="_2filter_items _mar_r10 _2filter_active">
              <p class="_2filter_text">Best Seller</p>
            </div>

            <div class="_2filter_items _mar_r10">
              <p class="_2filter_text">Newest</p>
            </div>

            <div class="_2filter_items _mar_r10">
              <p class="_2filter_text">Best Rated</p>
            </div>
          </div>
          <!-- Top Filter -->

          <div class="_1product_all">
            <div class="row">
              <!-- Left Filter -->
              <div class="col-12 col-md-auto col-lg-auto _1left _pro_rel">
                <div class="_1left_main _1filter">
                  <div class="_1filter_items _mar_b15 _box_shadow2 _border_radious">
                    <p class="_1filter_title">Categories</p>

                    <ul class="_1filter_list">
                      <li v-for="(item, index) in productCategory" :key="index">{{ item.categoryName }}</li>
                    </ul>
                  </div>
                </div>

                <div class="_1left_main _1filter">
                  <div class="_1filter_items _mar_b15 _box_shadow2 _border_radious">
                    <p class="_1filter_title">Tags</p>

                    <ul class="_1filter_list">
                      <li>
                        <Checkbox>Clean</Checkbox>
                      </li>
                      <li>
                        <Checkbox>Responsive</Checkbox>
                      </li>
                      <li>
                        <Checkbox>Business</Checkbox>
                      </li>
                      <li>
                        <Checkbox>Creative</Checkbox>
                      </li>
                      <li>
                        <Checkbox>Modern</Checkbox>
                      </li>
                      <li>
                        <Checkbox>Agency</Checkbox>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="_1left_main _1filter">
                  <div class="_1filter_items _mar_b15 _box_shadow2 _border_radious">
                    <p class="_1filter_title">Categories</p>

                    <div class="_1filter_list">
                      <li>Blogging</li>
                      <li>CMS Theme</li>
                      <li>Fourms</li>
                      <li>Marketplace</li>
                      <li>Marketing</li>
                    </div>
                  </div>
                </div>

                <div class="_1left_main _1filter _pro_rel">
                  <div class="_1filter_items _mar_b15 _box_shadow2 _border_radious">
                    <p class="_1filter_title">Rating</p>

                    <ul class="_1filter_list">
                      <li>
                        <Checkbox>Show all</Checkbox>
                      </li>
                      <li>
                        <Checkbox>1 star and higher</Checkbox>
                      </li>
                      <li>
                        <Checkbox>2 star and higher</Checkbox>
                      </li>
                      <li>
                        <Checkbox>3 star and higher</Checkbox>
                      </li>
                      <li>
                        <Checkbox>4 star and higher</Checkbox>
                      </li>
                    </ul>
                  </div>

                  <!-- Background Star -->
                  <div class="_1product_star">
                    <img class="_1product_star_img" src="/static/star.png" alt title />
                  </div>
                  <!-- Background Star -->
                </div>
              </div>
              <!-- Left Filter -->

              <!-- Right Card -->
              <div class="col-12 col-md col-lg _pro_rel _overflow_hidden">
                <div class="row">
                  <!-- Items -->
                  <div class="col-12 col-md-6 col-lg-6" v-for="item in 6" :key="j">
                    <div class="_1card _box_shadow2 _border_radious _mar_b30">
                      <div class="_1card_pic">
                        <img class="_1card_img" src="/static/cardone.png" alt title />
                      </div>

                      <div class="_1card_details">
                        <div class="_1card_details_top _flex_row">
                          <div class="_1card_title _flex_space _overflow_hidden">
                            <p class="_card_title _text_overflow">AppifyLab - Website UI Kit</p>
                          </div>

                          <div class="_1card_price_main">
                            <p class="_1card_price">$60.00</p>
                          </div>
                        </div>

                        <div class="_1card_bottom">
                          <div class="_1card_status">
                            <p class="_1card_status_text _text_overflow">Ecommerce & Retail</p>
                          </div>

                          <div class="_1card_rating">
                            <ul class="_1rating">
                              <li class="_1rating_active">
                                <Icon type="md-star" />
                              </li>
                              <li class="_1rating_active">
                                <Icon type="md-star" />
                              </li>
                              <li class="_1rating_active">
                                <Icon type="md-star" />
                              </li>
                              <li class="_1rating_active">
                                <Icon type="md-star" />
                              </li>
                              <li>
                                <Icon type="md-star" />
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Items -->
                </div>

                <!-- Pagination -->
                <div class="_pagination _mar_t10 _dis_flex">
                  <Page :total="100" />
                </div>
                <!-- Pagination -->

                <!-- Background Logo -->
                <div class="_1product_bac_logo">
                  <img class="_1product_bac_logo_img" src="/static/Appify.png" alt title />
                </div>
                <!-- Background Logo -->
              </div>
              <!-- Right Card -->
            </div>
          </div>
        </div>
      </div>
      <!-- Main Content -->
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {};
  },

  async asyncData({ app }) {},

  methods: {},
  
  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>