<template>
  <div>
    <div class>
      <div class="_1productDetails _content">
        <div class="_my_container">
          <p class="_1title">AppifyLab new ecommerce website template</p>
          <div class="row">
            <!-- Left -->
            <div class="col-12 col-md-8 col-lg-8 _1productDetails_left">
              <div class="_1productDetails_left_main">
                <div class="_1productDetails_pic _4box_shadow _border_radious">
                  <img class="_1productDetails_img" src="/static/cardone.png" alt title />
                </div>

                <div class="_1productDetails_details">
                  <div class="_1productDetails_menu _border_color">
                    <ul class="_1productDetails_menu_list _2color">
                      <li
                        @click="tab = 1"
                        :class="(tab == 1) ? '_1productDetails_menu_active' : ''"
                      >Description</li>
                      <li
                        @click="tab = 2"
                        :class="(tab == 2) ? '_1productDetails_menu_active' : ''"
                      >Review</li>
                      <li
                        @click="tab = 3"
                        :class="(tab == 3) ? '_1productDetails_menu_active' : ''"
                      >Changelog</li>
                    </ul>
                  </div>

                  <div class="_1productDetails_content">
                    <div v-if="tab == 1" class="_1productDetails_content_three">
                      <div class="_1productDetails_content_des _1border_color">
                        <h3 class="_2title">About This Product</h3>

                        <div class="_1productDetails_content_des_text">
                          <p
                            class="_2text _2color"
                          >Primis elitphas ipsumae potent onec diam. Isque quisque ies massan natis nislqu sse. Maurisin itur pellent nuncnunc portado rfusce aliquam mauris dolornu enimsed. Justo phasel lacusp usce pretiu parturi auctor. Nostra naeos aliquama ger portado</p>

                          <p
                            class="_2text _2color"
                          >Primis elitphas ipsumae potent onec diam. Isque quisque ies massan natis nislqu sse. Maurisin.</p>
                        </div>
                      </div>

                      <div class="_1productDetails_content_des _1border_color">
                        <h3 class="_2title">Version 1.0.1</h3>

                        <ul class="_1productDetails_content_des_list _2color">
                          <li>Fully responsive and mobile ready.</li>
                          <li>Unlimited color and Typography options.</li>
                          <li>Fully cutomizable every element.</li>
                          <li>Cross Browser Compatible.</li>
                          <li>17 Page Templates</li>
                        </ul>
                      </div>

                      <div class="_1productDetails_content_des _1border_color">
                        <h3 class="_2title">About This Product</h3>

                        <div class="_1productDetails_content_des_text">
                          <p class="_2text _2color">
                            Primis elitphas ipsumae potent onec diam. Isque quisque ies massan natis nislqu sse. Maurisin itur pellent nuncnunc portado rfusce aliquam mauris dolornu enimsed. Justo phasel lacusp usce pretiu parturi auctor. Nostra naeos aliquama ger portado
                            Primis elitphas ipsumae potent onec diam. Isque quisque ies massan natis nislqu sse. Maurisin itur pellent nuncnunc portado rfusce aliquam mauris dolornu enimsed. Justo phasel lacusp usce pretiu parturi auctor. Nostra naeos aliquama ger portado
                          </p>
                        </div>
                      </div>
                    </div>

                    <div v-if="tab == 2" class>
                      <h3 class="_2title">Review and Comment</h3>

                      <div class="_1productDetails_comment_box _border_rad3 _4box_shadow _padd20">
                        <div class="_1comment_box">
                          <div class="_1comment_pic">
                            <img class="_1comment_img" src="/static/pros.png" alt title />
                          </div>

                          <div class="_1comment_box_ratings">
                            <div class="_2rating">
                              <ul class="_2rating_list">
                                <li class="_2rating_title">Your rating</li>

                                <li>
                                  <i class="far fa-star"></i>
                                </li>
                                <li>
                                  <i class="far fa-star"></i>
                                </li>
                                <li>
                                  <i class="far fa-star"></i>
                                </li>
                                <li>
                                  <i class="far fa-star"></i>
                                </li>
                                <li>
                                  <i class="far fa-star"></i>
                                </li>
                              </ul>
                            </div>

                            <div class="_1comment_box_main">
                              <p class="_1comment_box_main_title">Type your comment</p>

                              <div class="_1comment_textera_all">
                                <div class="_flex_space">
                                  <textarea
                                    class="_1textera"
                                    rows="5"
                                    placeholder="Write a comment"
                                  ></textarea>
                                </div>

                                <button class="_1btn" type="button">Comment</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Comments -->
                      <div class="_1all_comments">
                        <!-- Items -->
                        <div
                          class="_1all_comments_items _4bg _border_rad3"
                          v-for="item in 4"
                          :key="j"
                        >
                          <div class="_1comment_pic">
                            <img class="_1comment_img" src="/static/pros.png" alt title />
                          </div>

                          <div class="_1comment_details">
                            <p class="_1comment_name">Customer name</p>
                            <p
                              class="_1comment_status"
                            >cusnam nislsed euismodd cursusve imperdie llu cusnam nislsed.</p>
                          </div>

                          <div class="_1comment_rating">
                            <div class="_3rating">
                              <ul class="_3rating_list">
                                <li class="_3rating_title">Your rating</li>

                                <li class="_3rating_active">
                                  <i class="fas fa-star"></i>
                                </li>
                                <li class="_3rating_active">
                                  <i class="fas fa-star"></i>
                                </li>
                                <li class="_3rating_active">
                                  <i class="fas fa-star"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star"></i>
                                </li>
                              </ul>
                            </div>

                            <p class="_1comment_time">12 April 2019</p>
                          </div>
                        </div>
                        <!-- Items -->
                      </div>
                      <!-- Comments -->

                      <!-- Button -->
                      <div class="_1comment_button _mar_t30 _text_center">
                        <button class="_1btn" type="button">See All Review</button>
                      </div>
                      <!-- Button -->
                    </div>

                    <div v-if="tab == 3" class="_1productDetails_content_two">
                      <div class="_1productDetails_content_des _1border_color">
                        <h3 class="_2title">Version 1.0.1</h3>

                        <ul class="_1productDetails_content_des_list _2color">
                          <li>Fully responsive and mobile ready.</li>
                          <li>Unlimited color and Typography options.</li>
                          <li>Fully cutomizable every element.</li>
                          <li>Cross Browser Compatible.</li>
                          <li>17 Page Templates</li>
                        </ul>
                      </div>

                      <div class="_1productDetails_content_des _1border_color">
                        <h3 class="_2title">Version 1.0.1</h3>

                        <ul class="_1productDetails_content_des_list _2color">
                          <li>Fully responsive and mobile ready.</li>
                          <li>Unlimited color and Typography options.</li>
                          <li>Fully cutomizable every element.</li>
                          <li>Cross Browser Compatible.</li>
                          <li>17 Page Templates</li>
                        </ul>
                      </div>
                    </div>

                    <!-- Back Image -->
                    <div class="_5back">
                      <img src="/static/star.png" alt title />
                    </div>
                    <!-- Back Image -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div class="col-12 col-md-4 col-lg-4">
              <div class="_1productDetails_right">
                <div class="_1productDetails_right_card _border_radious _1box_shadow _mar_b15">
                  <h1 class="_1productDetails_right_price">$16</h1>

                  <div class="_1productDetails_right_main">
                    <div class="_1productDetails_right_rating _1border_color">
                      <p class="_1productDetails_right_rating_title">Rating (4.0)</p>

                      <div class="_2rating">
                        <ul class="_2rating_list">
                          <li class="_2rating_active">
                            <i class="fas fa-star"></i>
                          </li>
                          <li class="_2rating_active">
                            <i class="fas fa-star"></i>
                          </li>
                          <li class="_2rating_active">
                            <i class="fas fa-star"></i>
                          </li>
                          <li class="_2rating_active">
                            <i class="fas fa-star"></i>
                          </li>
                          <li>
                            <i class="fas fa-star"></i>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <div class="_1productDetails_puchases">
                      <div class="_1productDetails_puchases_num">
                        <img src="/static/cardThree.png" alt title />
                        <span>150</span>
                      </div>

                      <p class="_1productDetails_puchases_title">Purchases</p>
                    </div>
                  </div>

                  <ul class="_1productDetails_list _1border_color">
                    <li>
                      <img src="/static/tik.png" alt title />
                      <span>Reviewed by the Bootstrap team</span>
                    </li>

                    <li>
                      <img src="/static/tik.png" alt title />
                      <span>6 months technical support</span>
                    </li>

                    <li>
                      <img src="/static/tik.png" alt title />
                      <span>100% money back guarantee</span>
                    </li>
                  </ul>

                  <div class="_1productDetails_button">
                    <button class="_5btn" type="button">
                      <img src="/static/cartTwo.png" alt title />
                      Add to cart
                    </button>

                    <button class="_1btn" type="button">
                      <img src="/static/shopping.png" alt title />
                      Buy Now
                    </button>
                  </div>
                </div>

                <div class="_1productDetails_upload _border_radious _1box_shadow _mar_b15">
                  <div class="_1productDetails_upload_items _2border_color">
                    <p class="_1productDetails_upload_title">Upload</p>

                    <p class="_1productDetails_upload_num">20 May 2019</p>
                  </div>

                  <div class="_1productDetails_upload_items _1border_color">
                    <p class="_1productDetails_upload_title">Last Update</p>

                    <p class="_1productDetails_upload_num">20 May 2019</p>
                  </div>

                  <div class="_1productDetails_upload_items _1border_color">
                    <p class="_1productDetails_upload_title">Resulation</p>

                    <p class="_1productDetails_upload_num">High</p>
                  </div>

                  <div class="_1productDetails_upload_items _1border_color">
                    <p class="_1productDetails_upload_title">Layout</p>

                    <p class="_1productDetails_upload_num">Responsive</p>
                  </div>

                  <div class="_1productDetails_upload_items _1border_color">
                    <p class="_1productDetails_upload_title">Categories</p>

                    <p class="_1productDetails_upload_num">Business website</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Right -->
          </div>
        </div>

        <!-- Bac Image -->
        <div class="_3appi">
          <img src="/static/Appify.png" alt title />
        </div>
        <!-- Bac Image -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tab: 1
    };
  },

  mounted() {
    window.scrollTo(0, 0);
  },

  // created(){
  // 	if(this.$route.query.tab){
  // 		this.tab = this.$route.query.tab
  // 	}

  // 	if(this.tab < 1 || this.tab > 3){
  // 		this.tab = 1
  // 	}
  // }
};
</script>