<template>
  <div>
    <div class="_1product _content0">
      <!-- Header -->
      <div class="_2header">
        <div class="_2my_container">
          <div class="_2header_main">
            <h1 class="_2header_title">
              <span class="_1color">Services</span> we
              <br />Provide
            </h1>

            <p class="_2text _2color">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et
            </p>
          </div>
        </div>
      </div>
      <!-- Header -->

      <!-- Main Content -->
      <div class="_1page">
        <div class="_2my_container _pro_rel">
          <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-10">
              <div class="row">
                <!-- Items -->
                <div class="col-12 col-md-4 col-lg-4">
                  <div class="_3card _1box_shadow _border_rad4 _cursor_pointer">
                    <div class="_3card_pic">
                      <img class="_3card_img" src="/static/one.png" alt title />
                    </div>

                    <h1 class="_3card_title">Web design and Development</h1>

                    <button class="_6btn" type="button">
                      Request for service
                      <i class="ivu-icon ivu-icon-ios-arrow-round-forward"></i>
                    </button>
                  </div>
                </div>
                <!-- Items -->

                <!-- Items -->
                <div class="col-12 col-md-4 col-lg-4">
                  <div class="_3card _1box_shadow _border_rad4 _cursor_pointer">
                    <div class="_3card_pic">
                      <img class="_3card_img" src="/static/app.png" alt title />
                    </div>

                    <h1 class="_3card_title">Mobile App Development</h1>

                    <button class="_6btn" type="button">
                      Request for service
                      <i class="ivu-icon ivu-icon-ios-arrow-round-forward"></i>
                    </button>
                  </div>
                </div>
                <!-- Items -->

                <!-- Items -->
                <div class="col-12 col-md-4 col-lg-4">
                  <div class="_3card _1box_shadow _border_rad4 _cursor_pointer">
                    <div class="_3card_pic">
                      <img class="_3card_img" src="/static/ui.png" alt title />
                    </div>

                    <h1 class="_3card_title">User Interface Design</h1>

                    <button class="_6btn" type="button">
                      Request for service
                      <i class="ivu-icon ivu-icon-ios-arrow-round-forward"></i>
                    </button>
                  </div>
                </div>
                <!-- Items -->
              </div>
            </div>
          </div>

          <!-- Image bac -->
          <div class="_1star">
            <img src="/static/star.png" alt title />
          </div>
          <!-- Image bac -->
        </div>

        <!-- Image bac -->
        <div class="_1appi">
          <img src="/static/Appify.png" alt title />
        </div>
        <!-- Image bac -->
      </div>
      <!-- Main Content -->
    </div>
  </div>
</template>


<script>
</script>
