<template>
  <div>
    <div class="_1product _content0">
      <!-- Header -->
      <div class="_2header">
        <div class="_2my_container">
          <div class="_2header_main">
            <h1 class="_2header_title">
              <span class="_1color">Request</span> For
              <br />Our Services
            </h1>

            <p class="_2text _2color">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et
            </p>
          </div>
        </div>
      </div>
      <!-- Header -->

      <!-- Main Content -->
      <div class="_1page">
        <div class="_my_container _pro_rel">
          <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-9">
              <div class="_1profileEdit_main _1box_shadow _border_rad4">
                <h2 class="_4title _text_center">
                  <span class="_1color">Service</span> request form
                </h2>

                <div class="_1profileEdit_form">
                  <form>
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-6">
                        <div class="_1input_group">
                          <p class="_1label">Frist Name</p>
                          <input type="text" placeholder="Frist name" class="_1int" />
                        </div>
                      </div>

                      <div class="col-12 col-md-6 col-lg-6">
                        <div class="_1input_group">
                          <p class="_1label">Last Name</p>
                          <input type="text" placeholder="Last name" class="_1int" />
                        </div>
                      </div>

                      <div class="col-12 col-md-12 col-lg-12">
                        <div class="_1input_group">
                          <p class="_1label">Email</p>
                          <input type="text" placeholder="@gmail.com" class="_1int" />
                        </div>
                      </div>

                      <div class="col-12 col-md-12 col-lg-12">
                        <div class="_1input_group">
                          <p class="_1label">Contact Number</p>
                          <input type="text" placeholder="017 00000000" class="_1int" />
                        </div>
                      </div>

                      <div class="col-12 col-md-12 col-lg-12">
                        <div class="_1input_group">
                          <p class="_1label">Address/Location</p>
                          <input type="text" placeholder="Address/Location" class="_1int" />
                        </div>
                      </div>

                      <div class="col-12 col-md-9 col-lg-10">
                        <div class="_1input_group">
                          <p class="_1label">Choose</p>

                          <div class="row _check_Box">
                            <div class="col-12 col-md-6 col-lg-6 _mar_b10">
                              <Checkbox v-model="single">Web design</Checkbox>
                            </div>

                            <div class="col-12 col-md-6 col-lg-6 _mar_b10">
                              <Checkbox v-model="single">Web development</Checkbox>
                            </div>

                            <div class="col-12 col-md-6 col-lg-6 _mar_b10">
                              <Checkbox v-model="single">Mobile App design</Checkbox>
                            </div>

                            <div class="col-12 col-md-6 col-lg-6 _mar_b10">
                              <Checkbox v-model="single">Mobile App Development</Checkbox>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 _mar_b10">
                              <Checkbox v-model="single">User interface design</Checkbox>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 col-md-12 col-lg-12">
                        <div class="_1input_group">
                          <p class="_1label">Add files</p>

                          <Upload action="//jsonplaceholder.typicode.com/posts/">
                            <Button icon="ios-cloud-upload-outline">Add files</Button>
                          </Upload>
                        </div>
                      </div>

                      <div class="col-12 col-md-12 col-lg-12">
                        <div class="_1input_group">
                          <p class="_1label">Short bio</p>
                          <textarea
                            class="_1textarea"
                            rows="5"
                            placeholder="Write short bio about you..."
                          ></textarea>
                        </div>
                      </div>

                      <div class="col-12 col-md-12 col-lg-12">
                        <div class="_1input_button">
                          <button type="button" class="_2btn">
                            Submit
                            <Icon type="ios-arrow-round-forward" />
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- Image bac -->
          <div class="_1star">
            <img src="/static/star.png" alt title />
          </div>
          <!-- Image bac -->
        </div>

        <!-- Image bac -->
        <div class="_1appi">
          <img src="/static/Appify.png" alt title />
        </div>
        <!-- Image bac -->
      </div>
      <!-- Main Content -->
    </div>
  </div>
</template>


<script>
</script>
