<template>
  <div>
    <div class="_1product _content0">
      <!-- Header -->
      <div class="_2header">
        <div class="_my_container">
          <div class="_2header_main pheader">
            <h1 class="_2header_title ptitle">
              <span class="_1color">Services</span> we provide
            </h1>
            <p
              class="_2text _2color"
            >We have highly experienced designers, API developers, front-end developers, and database administrators who can develop web and mobile application solutions for our clients.</p>
          </div>
        </div>
      </div>
      <!-- Header -->

      <!-- Main Content -->
      <div class="_1page">
        <div class="_my_container _pro_rel">
          <div class="_1amazing_titles _dis_flex justify-content-center">
            <h1 class="_1title _border_color">
              <span class="_1color">Request</span> for Service
            </h1>
          </div>
          <div class="row justify-content-center _mobile_justify_content_center">
            <div class="col-12 col-md-12 col-lg-10">
              <div class="row">
                <!-- Items -->
                <div
                  @click="tab = 'web'"
                  class="col-12 col-md-4 col-lg-4 _new_mobile_size _mar_b20"
                >
                  <div
                    :class="(tab == 'web') ? `_3card _new_3card _1box_shadow _border_rad4 _cursor_pointer _new_fixed_boder _new_active_border` : `_3card _new_3card _1box_shadow _border_rad4 _cursor_pointer _new_fixed_boder`"
                  >
                    <div class="_3card_pic">
                      <img class="_3card_img" src="/static/one.png" alt title />
                    </div>

                    <h1 class="_3card_title">Web design and Development</h1>
                  </div>
                </div>
                <!-- Items -->

                <!-- Items -->
                <div
                  @click="tab = 'mobile'"
                  class="col-12 col-md-4 col-lg-4 _new_mobile_size _mar_b20"
                >
                  <div
                    :class="(tab == 'mobile') ? `_3card _new_3card _1box_shadow _border_rad4 _cursor_pointer _new_fixed_boder _new_active_border` : `_3card _new_3card _1box_shadow _border_rad4 _cursor_pointer _new_fixed_boder`"
                  >
                    <div class="_3card_pic">
                      <img class="_3card_img" src="/static/app.png" alt title />
                    </div>

                    <h1 class="_3card_title">Mobile App Development</h1>
                  </div>
                </div>
                <!-- Items -->

                <!-- Items -->
                <div @click="tab = 'ui'" class="col-12 col-md-4 col-lg-4 _new_mobile_size _mar_b20">
                  <div
                    :class="(tab == 'ui') ? `_3card _new_3card _1box_shadow _border_rad4 _cursor_pointer _new_fixed_boder _new_active_border` : `_3card _new_3card _1box_shadow _border_rad4 _cursor_pointer _new_fixed_boder`"
                  >
                    <div class="_3card_pic">
                      <img class="_3card_img" src="/static/ui.png" alt title />
                    </div>

                    <h1 class="_3card_title">User Interface Design</h1>
                  </div>
                </div>
                <!-- Items -->
              </div>

              <!-- form section -->
              <div class="_newTabSection">
                <!-- tab for the form -->
                <div class="_1login_right _box_shadow _margin_auto _box_shadow2 _mobile_100">
                  <h3
                    class="_1login_title"
                  >{{ (tab == 'web') ? 'Web design and Development' : (tab == 'mobile') ? 'Mobile Apps Development' : 'User Interface Design'}}</h3>
                  <form v-if="!isReuqestSuccessful" class="_1login_form">
                    <div class="_1input_group">
                      <p class="_1label">Email</p>
                      <input
                        v-model="form.email"
                        type="text"
                        placeholder="User email"
                        class="_1int"
                      />
                      <p v-if="error.email" class="error_color _mar_t5">Email is required</p>
                      <p v-if="error.invalidEmail" class="error_color _mar_t5">Invalid email</p>
                    </div>
                    <div class="_1input_group">
                      <p class="_1label">Budget Range</p>
                      <div class="_dis_flex">
                        <input
                          v-model="form.minBudget"
                          type="text"
                          style="width: 50%;"
                          placeholder="min"
                          class="_1int"
                        />
                        <input
                          v-model="form.maxBudget"
                          type="text"
                          style="width: 50%;"
                          placeholder="max"
                          class="_1int"
                        />
                      </div>
                      <p
                        v-if="error.minBudget"
                        class="error_color _mar_t5"
                      >Minimum budget is required</p>
                      <p
                        v-if="error.maxBudget"
                        class="error_color _mar_t5"
                      >Maximum budget is required</p>
                    </div>
                    <div class="_1input_group">
                      <p class="_1label">Whatsapp Number</p>
                      <input
                        v-model="form.whatsapp"
                        type="text"
                        placeholder="Optional"
                        class="_1int"
                      />
                    </div>
                    <div class="_1input_group">
                      <p class="_1label">Project Description</p>
                      <textarea
                        v-model="form.description"
                        rows="5"
                        placeholder="Message"
                        class="_1int _1int_textarea"
                      ></textarea>
                      <p v-if="error.description" class="error_color _mar_t5">Project Description</p>
                    </div>
                    <div v-if="isLoading" class="_1input_button">
                      <button type="button" class="_1btn" style="width: 100%;" :disabled="true">
                        <i class="fas fa-circle-notch fa-spin"></i>
                      </button>
                    </div>
                    <div v-else class="_1input_button">
                      <button
                        @click="addRequestForService"
                        style="width: 100%;"
                        type="button"
                        class="_1btn"
                      >Submit</button>
                    </div>
                  </form>
                  <div v-else>
                    <p>We have get your service request. We will contact with you as soon as we are done reviewing your request.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Image bac -->
          <div class="_1star">
            <img src="/static/star.png" alt title />
          </div>
          <!-- Image bac -->
        </div>

        <!-- Image bac -->
        <div class="_1appi">
          <img src="/static/Appify.png" alt title />
        </div>
        <!-- Image bac -->
      </div>
      <!-- Main Content -->
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      requestServiceModal: false,
      tab: "web",

      form: {
        email: this.authUser ? this.authUser.email : "",
        maxBudget: "",
        minBudget: "",
        whatsapp: "",
        description: ""
      },

      error: {
        email: false,
        invalidEmail: false,
        maxBudget: false,
        minBudget: false,
        whatsapp: false,
        description: false
      },
      isReuqestSuccessful: false,
      isLoading: false,

      reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/
    };
  },

  methods: {
    async addRequestForService() {
      this.clearErrorData();
      if (!this.check()) {
        return;
      }

      this.isLoading = true;
      const res = await this.callApi("post", "/app/request/service", this.form);
      if (res.status == 200) {
        this.isReuqestSuccessful = true;
        this.clearForm();
      } else {
        this.swr();
      }

      this.isLoading = false;
    },

    check() {
      if (this.form.email.trim() == "") {
        this.error.email = true;
        return false;
      }

      if (!this.reg.test(this.form.email)) {
        this.error.invalidEmail = true;
        return false;
      }
      if (this.form.minBudget.trim() == "") {
        this.error.minBudget = true;
        return false;
      }
      if (this.form.maxBudget.trim() == "") {
        this.error.maxBudget = true;
        return false;
      }
      if (this.form.description.trim() == "") {
        this.error.description = true;
        return false;
      }

      return true;
    },

    clearForm() {
      this.form = {
        email: this.authUser ? this.authUser.email : "",
        maxBudget: "",
        minBudget: "",
        whatsapp: "",
        description: ""
      };
    },

    clearErrorData() {
      this.error = {
        email: false,
        invalidEmail: false,
        maxBudget: false,
        minBudget: false,
        whatsapp: false,
        description: false
      };
      this.isReuqestSuccessful = false;
      this.isLoading = false;
    }
  },

  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>

<style scoped>

.buttonload {
  border: none; /* Remove borders */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
}
</style>
