<template>
  <div>
    <div class="_1product _content0">
      <!-- Header -->
      <div class="_2header">
        <div class="_my_container">
          <div class="_2header_main">
            <h1 class="_2header_title">
              <span class="_1color">Request</span> For
              <br />Our Services
            </h1>
            <p class="_2text _2color">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et
            </p>
          </div>
        </div>
      </div>
      <!-- Header -->

      <!-- Main Content -->
      <div class="_1page">
        <div class="_my_container _pro_rel">
          <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-9">
              <div class="_1profileEdit_main _1box_shadow _border_rad4">
                <div class="_new_flex_box">
                  <h2 class="_4title">
                    <!-- <span class="_1color">Select</span> your desire category -->
                    This feature is coming soon
                  </h2>
                </div>
                <div class="_platform_section">
                  <!-- platform selction -->
                  <!-- <div class="_platform_section_cat">
                    <div
                      :class="(tab == 'mobile') ?`_platform_cat_item active` : `_platform_cat_item`"
                      @click="onClickSelectService('mobile')"
                    >
                      <span>
                        <i class="fas fa-mobile-alt"></i>
                      </span>
                      <p>Mobile Application</p>
                    </div>
                    <div
                      :class="(tab == 'web') ?`_platform_cat_item active` : `_platform_cat_item`"
                      @click="onClickSelectService('web')"
                    >
                      <span>
                        <i class="fas fa-desktop"></i>
                      </span>
                      <p>Web Application</p>
                    </div>
                    <div
                      :class="(tab == 'both') ?`_platform_cat_item active` : `_platform_cat_item`"
                      @click="onClickSelectService('both')"
                    >
                      <span>
                        <i class="fas fa-mobile-alt"></i>
                        <i class="fas fa-desktop"></i>
                      </span>
                      <p>Both</p>
                    </div>
                  </div> -->
                  <!-- platform selction -->

                  <!-- options -->
                  <div class="_platform_section_cat_inner">
                    <!-- steps -->
                    <!-- <div class="_platform_section_timeline">
                      <div
                        :class="step[tab] >= 1 ? `_timeline_item _timeline_item_active` : `_timeline_item`"
                      ></div>
                      <div
                        :class="step[tab] >= 2 ? `_timeline_item _timeline_item_active` : `_timeline_item`"
                      ></div>
                      <div
                        :class="step[tab] >= 3 ? `_timeline_item _timeline_item_active` : `_timeline_item`"
                      ></div>
                    </div> -->
                    <!-- steps -->
                    <div class="_platform_section_inner_content _mar_b20">
                      <!-- <div class="_new_flex_box _mar_b20">
                        <h3>{{ (tab == 'mobile') ? 'Mobile Application' : (tab == 'web') ? 'Web Application' : 'Mobile + Web'}}</h3>
                        <h4>
                          $
                          <span>{{ calcaulatedPrice }}</span>
                        </h4>
                      </div> -->
                      <div class="_platform_section_process_main">
                        <!-- mobile  -->
                        <div v-if="tab == 'mobile'">
                          <!-- tab 1 -->
                          <!-- <template v-if="step.mobile == 1">
                            <RadioGroup
                              v-model="selectedServices"
                              class="_mar_b20"
                              @on-change="selectService('mobile', 1)"
                            >
                              <Radio
                                v-for="(item, index) in serviceData.mobile[0].data"
                                :key="index"
                                :label="item.price"
                              >
                                <span>{{ item.options }}</span>
                              </Radio>
                            </RadioGroup>
                            <div class="_1input_button">
                              <button type="button" class="_2btn" @click="changeStep('mobile', 2)">
                                Next
                                <i class="ivu-icon ivu-icon-ios-arrow-round-forward"></i>
                              </button>
                            </div>
                          </template> -->
                          <!-- tab 1 -->

                          <!-- tab 2 -->
                          <!-- <template v-if="step.mobile == 2">
                            <RadioGroup v-model="selectedServices" class="_mar_b20">
                              <Radio
                                v-for="(item, index) in serviceData.mobile[1].data"
                                :key="index"
                                :label="item.price"
                              >
                                <span>{{ item.options }}</span>
                              </Radio>
                            </RadioGroup>
                            <div class="_1input_button">
                              <button type="button" class="_2btn" @click="changeStep('mobile', 3)">
                                Next
                                <i class="ivu-icon ivu-icon-ios-arrow-round-forward"></i>
                              </button>
                              <Button type class="_2btn" @click="changeStep('mobile', 1)">Previous</Button>
                            </div>
                          </template> -->
                          <!-- tab 2 -->

                          <!-- tab 3 -->
                          <!-- <template v-if="step.mobile == 3">
                            <Form
                              ref="form"
                              :model="formCustom"
                              :rules="ruleValidate"
                              :label-width="80"
                            >
                              <FormItem label="Password" prop="passwd">
                                <Input type="password" v-model="form.fullName"></Input>
                              </FormItem>
                              <FormItem label="Confirm" prop="passwdCheck">
                                <Input type="password" v-model="form.email"></Input>
                              </FormItem>
                            </Form>
                            <button type="button" class="_2btn" @click="onSubmit">
                              Send Request
                              <i class="ivu-icon ivu-icon-ios-arrow-round-forward"></i>
                            </button>
                            <Button type class="_2btn" @click="changeStep('mobile', 2)">Previous</Button>
                          </template> -->
                          <!-- tab 3 -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- options -->
                </div>
              </div>
            </div>
          </div>

          <!-- Image bac -->
          <div class="_1star">
            <img src="/static/star.png" alt title />
          </div>
          <!-- Image bac -->
        </div>

        <!-- Image bac -->
        <div class="_1appi">
          <img src="/static/Appify.png" alt title />
        </div>
        <!-- Image bac -->
      </div>
      <!-- Main Content -->

      <!-- Main Content -->
      <div class="_1page">
        <div class="_my_container _pro_rel">
          <!-- Image bac -->
          <div class="_1star">
            <img src="/static/star.png" alt title />
          </div>
          <!-- Image bac -->
        </div>

        <!-- Image bac -->
        <div class="_1appi">
          <img src="/static/Appify.png" alt title />
        </div>
        <!-- Image bac -->
      </div>
      <!-- Main Content -->
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      tab: "mobile",
      step: {
        mobile: 1,
        web: 0,
        both: 0
      },
      selectedServices: [],
      test: [],
      form: {
        fullName: "",
        email: ""
      },
      ruleValidate: {
        name: [
          {
            required: true,
            message: "Full Name cannot be empty",
            trigger: "blur"
          }
        ],
        mail: [
          {
            required: true,
            message: "Mail cannot be empty",
            trigger: "blur"
          },
          { type: "email", message: "Incorrect email format", trigger: "blur" }
        ]
      },
      serviceData: {
        mobile: [
          {
            term: 1,
            tab: 1,
            data: [
              {
                options: "Screen Design Only",
                price: "10"
              },
              {
                options: "Screen Design + Validations",
                price: "20"
              },
              {
                options: "Screen Design + Validations + Development",
                price: "40"
              }
            ]
          },
          {
            term: 2,
            tab: 2,
            data: [
              {
                options: "You want us to build UI for your app",
                price: "10"
              },
              {
                options: "You have your own UI",
                price: "0"
              }
            ]
          }
        ],
        web: [
          {
            term: 3,
            termName: "Only HTML CSS Design ( No Backend )",
            price: 22
          },
          {
            term: 4,
            termName: "HTML CSS Desgin With Backend",
            price: 42
          }
        ],
        both: [
          {
            term: 3,
            termName: "Only HTML CSS Design ( No Backend )",
            price: 23
          },
          {
            term: 4,
            termName: "HTML CSS Desgin With Backend",
            price: 43
          }
        ]
      },

      totalPrice: 0
    };
  },

  computed: {
    calcaulatedPrice() {
      let totalPrice = 0;
      if (this.tab == "mobile") {
        totalPrice = 0;
        for (let i of this.serviceData.mobile) {
          for (let j of this.selectedServices) {
            if (i.term == j) {
              totalPrice += i.price;
            }
          }
        }
      }
      if (this.tab == "web") {
        totalPrice = 0;
        for (let i of this.serviceData.web) {
          for (let j of this.selectedServices) {
            if (i.term == j) {
              totalPrice += i.price;
            }
          }
        }
      }
      if (this.tab == "both") {
        totalPrice = 0;
        for (let i of this.serviceData.both) {
          for (let j of this.selectedServices) {
            if (i.term == j) {
              totalPrice += i.price;
            }
          }
        }
      }
      return totalPrice;
    }
  },
  methods: {
    selectService(platform, tab) {
      
      if(platform == 'mobile'){
        // this.selectedServices. 
      }

    },
    onClickSelectService(tab) {
      this.tab = tab;
      this.step.mobile = 1;
      this.step.web = 1;
      this.step.both = 1;
      this.selectedServices = [];
    },

    async onSubmit() {
      return this.i("test");
    },

    changeStep(platform, tab) {
      if (platform == "mobile") {
        return (this.step.mobile = tab);
      }
    }
  },

  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>
<style scoped>
</style>