<template>
  <div>
    <!-- <template>
      <imgShimmer></imgShimmer>
    </template>-->
    <template>
      <div class>
        <div class="_1productDetails _content">

          <div class="_my_container">
            <div class="_center">
                <adsbygoogle  ad-slot="7855974914"  analytics-uacct="UA-67475707-4" analytics-domain-name="appifylab.com"/>
            </div>
            <p class="_1title _new_1title_38">{{ productDetails.title }}</p>
            <div class="row">
              <!-- Left -->
              <div class="col-12 col-md-8 col-lg-8 _1productDetails_left _new_1productDetails_left">
                <div class="_1productDetails_left_main _mar_b20">
                  <div
                    v-if="productDetails.singleImage"
                    class="_1productDetails_pic _4box_shadow _border_radious _padd15"
                  >
                    <template>
                      <a
                        v-if="productDetails.demo_link"
                        :href="productDetails.demo_link"
                        target="_blank"
                        class="_newProductLink"
                      >
                        <img
                          class="_1productDetails_img"
                          v-lazy="productDetails.singleImage.imageURL"
                          alt
                          title
                        />
                      </a>
                    </template>
                    <!-- <template v-else>
                      <img
                        class="_1productDetails_img"
                        v-lazy="productDetails.singleImage.imageURL"
                        alt
                        title
                      />
                    </template>-->
                    <div class="_liveShareButton">
                      <div class="_liveButton">
                        <a
                          v-if="productDetails.demo_link"
                          :href="productDetails.demo_link"
                          target="_blank"
                        >
                          <button>
                            <i class="fas fa-eye"></i>
                            Live preview
                          </button>
                        </a>
                      </div>
                      <!-- <div class="_shareButton">
                        <ul>
                          <li>
                            <span>Share</span>
                          </li>
                          <li>
                            <a href="#">
                              <i class="fab fa-facebook-f"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="fab fa-twitter"></i>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="fab fa-instagram"></i>
                            </a>
                          </li>
                        </ul>
                      </div> -->
                    </div>
                  </div>
                  <!-- filter -->
                  <div class="_1productDetails_details">
                    <div class="_1productDetails_menu _border_color">
                      <Tabs type="card">


                        <!-- Presentation -->
                        <TabPane label="Preview" @click="tab = 3">
                          <img
                            v-if="productDetails.preview_link"
                            :src="productDetails.preview_link"
                          />
                        </TabPane>
                        <!-- Presentation -->
                        <!-- Description -->
                        <TabPane label="Description" @click="tab = 1">
                          <!-- <div class="_1productDetails_content_des _1border_color">
                            <h3 class="_2title">About This Product</h3>

                            <div class="_1productDetails_content_des_text">
                              <p class="_2text _2color">{{ productDetails.shortDescription }}</p>
                            </div>
                          </div>-->

                          <div class="_1productDetails_content_des _1border_color">
                            <h3
                              class="_2title _mar_b10"
                            >Version {{ productDetails.version.version }}({{productDetails.version.type }})</h3>
                          </div>

                          <div class="_1productDetails_content_des _1border_color">
                            <h3 class="_2title">About This Product</h3>

                            <div class="_1productDetails_content_des_text">
                              <div
                                v-html="productDetails.detailedDescription"
                                class="_2text _2color"
                              ></div>
                            </div>
                          </div>
                        </TabPane>
                        <!-- Description -->

                        <!-- Review -->
                        <TabPane label="Review" @click="tab = 2">
                          <h3 class="_2title _mar_b10">Reviews and Comments</h3>

                          <!-- Comments -->
                          <div class="_1all_comments">
                            <!-- Items -->
                            <template
                              v-if="productDetails && productDetails.reviewDetails.length > 0"
                            >
                              <div
                                class="_1all_comments_items _4bg _border_rad3"
                                v-for="(item, index) in productDetails.reviewDetails"
                                :key="index"
                              >
                                <div
                                  v-if="item.user"
                                  class="_1comment_pic"
                                  style="margin-right: 10px;"
                                >
                                  <img src="/person.png" style="width: 50px; border-radius: 100px;" />
                                </div>

                                <div v-if="item.user" class="_1comment_details _mar_t10">
                                  <p class="_1comment_name">{{ item.user.fullName }}</p>
                                  <p class="_1comment_status">{{ item.review }}</p>
                                </div>

                                <div class="_1comment_rating">
                                  <div class="_3rating">
                                    <ul class="_3rating_list">
                                      <!-- <li class="_3rating_title">Your rating</li> -->
                                      <li class="_new_review_rating">
                                        <Rate disabled v-model="item.rating" :allow-half="true" />
                                      </li>
                                    </ul>
                                  </div>

                                  <p
                                    class="_1comment_time"
                                  >{{ $moment(item.created_at).format('ll') }}</p>
                                </div>
                              </div>
                            </template>
                            <template v-else>
                              <p class="_text_center">No Reviews</p>
                            </template>
                            <!-- Items -->
                          </div>
                          <!-- Comments -->
                        </TabPane>
                        <!-- Review -->
                      </Tabs>
                    </div>
                  </div>
                  <!-- filter -->
                </div>
              </div>
              <!-- Left -->

              <!-- Right -->
              <div class="col-12 col-md-4 col-lg-4">
                <div class="_1productDetails_right _mar_b20">
                  <div class="_1productDetails_right_card _border_radious _1box_shadow _mar_b15">
                    <p v-if="finalPrice > 0" class="_3price">
                      ${{ finalPrice }}
                      <span
                        v-if="productDetails.discount > 0"
                      >({{ productDetails.discount }}%)</span>
                    </p>
                    <div class="_1productDetails_right_main _newProductDetailsRight _mar_t5">
                      <div class="_1productDetails_right_rating _1border_color">
                        <div class="_2rating">
                          <ul class="_2rating_list _new_2rating_list">
                            <li class="_2rating_active">
                              <Rate disabled v-model="productDetails.avgRating" :allow-half="true" />
                            </li>
                            <li class="_newRatingNumber">
                              <span>{{ productDetails.total_review }}</span>
                              <span>reviews</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="_1productDetails_puchases _new_purchases">
                      <div class="_1productDetails_puchases_num _new_1productDetails_puchases_num">
                        <img v-lazy="`/static/cardThree.png`" alt title />
                        <p
                          class="_1productDetails_puchases_title _new_1productDetails_puchases_title"
                        >
                          <span>{{ productDetails.totalPurchased }}</span>Purchases
                        </p>
                      </div>
                    </div>

                    <ul
                      v-if="productDetails.extraInfo.length > 0"
                      class="_1productDetails_list _new_1productDetails_list _1border_color"
                    >
                      <li v-for="(item, index) in productDetails.extraInfo" :key="index">
                        <img v-lazy="`/static/tik.png`" alt title />
                        <span>{{ item.title }}</span>
                      </li>
                    </ul>

                    <div class="_1productDetails_button _mar_t15">
                      <button
                        @click="onClickAddToCart(item)"
                        :disabled="isAddedToCart"
                        class="_5btn"
                        type="button"
                      >
                        <img v-lazy="`/static/cartTwo.png`" alt title />
                        Add to cart
                      </button>

                      <button class="_1btn" type="button" @click="onClickBuyNow(productDetails)">
                        <img v-lazy="`/static/shopping.png`" alt title />
                        Buy Now
                      </button>
                    </div>
                    <div class="_center">
                        <adsbygoogle  ad-slot="5516219205"  analytics-uacct="UA-67475707-4" analytics-domain-name="appifylab.com"/>
                    </div>

                  </div>
                </div>
              </div>
              <!-- Right -->
            </div>
          </div>

          <!-- Bac Image -->
          <div class="_3appi">
            <img v-lazy="`/static/Appify.png`" alt title />
          </div>
          <!-- Bac Image -->
        </div>
      </div>
    </template>

    <!-- add to cart modal -->
    <Modal
      v-model="licenseModal"
      title="Select a licence"
      :footer-hide="true"
      :loading="loading"
      :mask-closable="false"
      width="800px"
    >
      <div class="_card_all">
        <div class="_license_sec">
          <div
            class="_license_sec_item"
            v-for="(item, index) in productDetails.license"
            :key="index"
          >
            <div
              @click="selectPackage(index)"
              :class="(index == selectedPackageIndex) ? `_license_sec_item_inner _license_sec_item_inner_active` : '_license_sec_item_inner'"
            >
              <figure>
                <img
                  v-if="item.licenseName.toUpperCase() == 'FREE' "
                  src="/static/lic1.svg"
                  alt="license"
                />
                <img v-if="item.licenseName == 'Single' " src="/static/lic1.svg" alt="license" />
                <img v-if="item.licenseName == 'Multiple' " src="/static/lic2.svg" alt="license" />
                <img v-if="item.licenseName == 'Extended' " src="/static/lic3.svg" alt="license" />
              </figure>
              <div class="_license_item-details">
                <h3>{{ item.licenseName }}</h3>
                <h4>{{ item.Priviledge }}</h4>
                <p
                  class="_license_item_price"
                >$ {{ (productDetails.discount > 0) ? `${item.price - (item.price * productDetails.discount / 100)} (${productDetails.discount}%)` : item.price }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="_license_confirm_button">
          <button class="_1btn" @click="onClickConfirm">Confirm</button>
        </div>
      </div>
    </Modal>
    <!-- add to cart modal -->
  </div>
</template>

<script>
import imgShimmer from "~/components/shimmer/imgShimmer.vue";
export default {
  components: {
    imgShimmer
  },
  data() {
    return {
      tab: 3,
      form: {
        review: "",
        rating: ""
      },

      productDetails: "",
      isloading: false,
      // circleLoading: true,
      isAddedToCart: false,
      loading: false,
      cartModal: false,
      licenseModal: false,
      selectedPackageIndex: -1,
      defaultPrice: 0,
      isClickedBuyNow: false
    };
  },
  computed: {
    finalPrice() {
      this.defaultPrice =
        this.productDetails.discount > 0
          ? this.defaultPrice -
            (this.defaultPrice * this.productDetails.discount) / 100
          : this.defaultPrice;

      return this.defaultPrice;
    }
  },
  methods: {
    onClickAddToCart(item) {
      this.licenseModal = true;
    },

    async onClickBuyNow(item) {
      this.$Modal.confirm({
          title: 'Confirmation',
          content: `<p>Are you sure you want to buy ${item.title } </p>`,
          onOk: () => {
              // this.$Message.info('Clicked ok');
              for (let i of this.cartDetails) {
                if (i.product_id == item.id) {

                  return this.$router.push("/cart/details");
                }
              }

              this.licenseModal = true;
              this.isClickedBuyNow = true;

          },
          onCancel: () => {
              // this.$Message.info('Clicked cancel');
              return
          }
      });


    },

    selectPackage(index) {
      this.selectedPackageIndex = index;
      this.defaultPrice = this.productDetails.license[index].price;
    },

    async onClickConfirm() {
      if (this.selectedPackageIndex == -1) {
        return this.i("Please Select One License First To Conitnue!");
      }

      let obj = {};
      obj.user_id = this.authUser.id;
      obj.product_id = this.productDetails.id;
      obj.licenseId = this.productDetails.license[this.selectedPackageIndex].id;
      await this.addToCart(obj);
      this.licenseModal = false;
    },

    // add to cart
    async addToCart(item) {
      if (!this.authUser) {
        this.i("Please log in to continue!");
        return this.$router.push(
          `/login?return_url=/products/details/${this.$route.params.name}`
        );
      }

      for (let i of this.cartDetails) {
        if (i.product_id == this.productDetails.id) {
          this.isAddedToCart = true;
          if (this.isClickedBuyNow) {
            return this.$router.push("/cart/details");
          }
          return this.i("This product has already been added to your cart!");
        }
      }

      this.isloading = true;
      const res = await this.callApi("post", "/app/cart/addToCart", item);
      if (res.status == 200) {
        let arr = this.cartDetails;
        arr.push(item);
        // save into the store
        this.$store.commit("setCartItem", arr);
        this.$store.commit("setCartItemNumber", this.cartNumber + 1);

        this.isAddedToCart = true;
        this.s("This product has been added to your cart!");

        if (this.isClickedBuyNow) {
        }
        this.closePackageModal();
      } else if (res.status == 401) {
        this.closePackageModal();
        return this.e(res.message);
      } else {
        this.swr();
      }
    },

    // reset all variables
    closePackageModal() {
      this.licenseModal = false;
      this.selectedPackageIndex = -1;
      this.isClickedBuyNow = false;
    }
  },

  async asyncData({ app, store, params, redirect }) {
    try {
      let { data } = await app.$axios.get(
        `/app/get/productDetails/${params.name}`
      );

      if (!data) {
        return redirect("/");
      }

      return {
        productDetails: data.productDetails,
        defaultPrice: data.productDetails.singleLicense
          ? data.productDetails.singleLicense.price
          : 0
      };
    } catch (error) {
      console.log(error.message);
    }
  },

  head() {

    return {
      meta: [
        { hid: 'description', name: 'description', content: this.productDetails.shortDescription },
        { hid: 'og:title', name: 'og:title', content: this.productDetails.title + " By Apppifylab" },
        { hid: 'og:url', name: 'og:title', content: `https://appifylab.com/details/${this.productDetails.slug}`},
        {
          hid: "og:site_name",
          name: "og:site_name",
          content: `Appifylab`
        },
        { hid: "og:type", name: "og:type", content: `Marketplace` },
        {
          hid: "og:image",
          name: "og:image",
          content: this.productDetails.singleImage
            ? this.productDetails.singleImage.imageURL
            : ""
        }
      ],
      title: this.productDetails.title + " By Apppifylab"
    };
  },

  async created() {},

  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>

<style>
@media only screen and (max-width: 800px) {
  .ivu-modal {
    width: 100% !important;
    margin: 0 !important;
  }
}
</style>
