<template>
  <div>
    <div class="_content0">
      <!-- Main Content -->
      <div class="_2page">
        <div class="_my_container _pro_rel">
          <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-9">
              <div class="_1profileEdit_main _mobile_1profileEdit_main _1box_shadow _border_rad4">
                <div class="_1edit_title_top">
                  <h1 class="_2title">
                    <span class="_1color">{{ (authUser) ? cartNumber : 0 }} Items</span> in your cart
                  </h1>
                </div>
                <div class="row justify-content-center _new_same_row">
                  <template v-if="data.totalItems > 0">
                    <!--====== card ========-->
                    <div
                      v-for="(item, index) in computedCartDetails"
                      :key="index"
                      class="col-lg-6 col-md-6 col-12 _mar_b20"
                    >
                      <div class="_1select_section_all _dis_flex _2box_shadow _cursor_pointer">
                        <div v-if="item.product" class="_1select_section_left">
                          <img :src="item.product.singleImage.imageURL" :alt="item.product.title" />
                        </div>
                        <div v-if="item.product" class="_1select_section_right">
                          <h4 class="_1select_section_h4">{{ item.product.title }}</h4>
                          <p
                            v-if="item.product.category"
                            class="_1select_section_p"
                          >{{ item.product.category.categoryName }}</p>
                          <span class="_1select_section_dlr">${{ item.product.discounted_price }}</span>
                        </div>
                        <div
                          v-if="item.product"
                          @click="deleteFromCart(item,index)" 
                          class="_1select_remove_icon"
                        >
                          <Icon type="md-close" />
                        </div>
                      </div>
                    </div>
                    <!--====== card ========-->
                    <div v-if="totalPrice > 0">
                      <div v-if="!isCouponBox">
                        <button @click="isCouponBox=true"  type="button" class="_1btn _1edit_btn _1edit_btn2">Add Coupon</button>
                      </div>
                      <div v-else>
                        <div v-if="couponData.discount == 0" >
                          <input v-model="couponData.code" class="_1int" type="text" placeholder="Coupon Code" />
                          <button @click="checkCoupon"  type="button" class="_1btn _1edit_btn _1edit_btn2">Apply</button>
                        </div>
                        <div v-else-if="couponData.discount > 0" >
                          <input v-model="couponData.code" disabled class="_1int" type="text" placeholder="Coupon Code" />
                          <button @click="clearCoupon"  type="button" class="_1btn _1edit_btn _1edit_btn2">Clear</button>
                        </div>
                      </div>
                    </div>
                  </template>
                  <template v-else>
                    <div class="no_item_in_cart">
                      <p>No Item In Your Cart</p>
                    </div>
                  </template>
                </div>
                <div class="_1select_btm_section">
                  <h2 class="_1select_btm_h2 _mar_t25 _mar_b25" v-if="order.discount>0" >Coupon Discount -${{ order.discount }}</h2>
                  <h2 class="_1select_btm_h2 _mar_t25 _mar_b25">Total price ${{ totalPrice }}</h2>
                  <button v-if="data.totalItems > 0" @click="$router.push(`/checkout?code=${couponData.code}`)" type="button" class="_1btn _1edit_btn _1edit_btn2">Proceed to buy</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Image bac -->
          <div class="_1star">
            <img src="/static/star.png" alt title />
          </div>
          <!-- Image bac -->
        </div>

        <!-- Image bac -->
        <div class="_1appi">
          <img src="/static/Appify.png" alt title />
        </div>
        <!-- Image bac -->
      </div>
      <!-- Main Content -->
    </div>
  </div>
</template>


<script>
export default {
  head() {
    return {
      title: "Appifylab MarketPlace Cart Details"
    };
  },

  data() {
    return {
      totalPrice: 0,
      circleLoading: false,
      couponData:{
        code:'',
        discount:0
      },
      order:{
        discount:0
      },
      isCouponBox:false,
    };
  },

  computed: {
    computedCartDetails() {
      let count = 0;

      for (let i of this.data.cartDetails) {
        if (i.product.discount > 0) {
          i.product.discounted_price =
            i.license.price - i.license.price * (i.product.discount / 100);
        } else {
          i.product.discounted_price = i.license.price;
        }
        count += i.product.discounted_price;
      }
      if(this.order.discount>0) count = count - this.order.discount
      this.totalPrice = count;
      return this.data.cartDetails;
    },
    grandTotal() {
      let count = 0;

      for (let i of this.data.cartDetails) {
        if (i.product.discount > 0) {
          i.product.discounted_price =
            i.license.price - i.license.price * (i.product.discount / 100);
        } else {
          i.product.discounted_price = i.license.price;
        }
        count += i.product.discounted_price;
      }
      return count;
    }
  },

  methods: {
    async checkCoupon(){
        if(this.couponData.code == '') return this.i('Coupon Code  is empty!')

        const res = await this.callApi('post','/app/user/checkout/checkCoupon',{code:this.couponData.code})
        if(res.status == 202){
            console.log(res.data)
            let flag = false;
            for(let d of this.data.cartDetails){
              if(res.data.Coupon.product_id == d.product.id){
                if(res.data.Coupon.discount > d.license.price) return this.i('Grand-Total is too low to active this coupon!!')
                flag = true;
                this.couponData = res.data.Coupon
                this.order.discount = res.data.Coupon.discount
                this.s('You get $'+res.data.Coupon.discount+' discount')

              }
            }
            if(flag==false){
              this.i(`this  Coupon '${this.couponData.code}' isn't applicable to your cart products`)
            }
            
        }
        else if (res.status == 401) {
            this.e(res.data.message) 
        }
        else{
            this.swr();
        }
    },
    clearCoupon(){
        this.order.discount = 0
        this.isCouponBox = false
        let couponData={
              code:'',
              discount:0
            }
        this.couponData = couponData
    },
    async deleteFromCart(item, index) {
      this.circleLoading = true;
      const loading = this.$vs.loading({
        target: this.$refs.content,
        color: "#3177f1",
        type: "points",
        text: "Please Wait..."
      });

      let obj = {
        id: item.id,
        user_id: this.authUser.id
      };

      const res = await this.callApi("post", `/app/cart/delete`, obj);
      if (res.status == 200) {
        this.data.cartDetails.splice(index, 1);
        this.data.totalItems = this.data.totalItems - 1;
        this.$store.commit("setCartItem", this.data.cartDetails);
        this.$store.commit("setCartItemNumber", this.data.cartDetails.length);
        if (this.data.cartDetails.length == 0) {
          this.totalPrice = 0;
        }
      } else {
        this.e(res.data.message);
      }
      loading.close();
      this.circleLoading = false;
    }
  },

  async asyncData(app, store, redirect, params) {
    try {
      let { data } = await app.$axios.get(`/app/cart/getDetails`);

      if (!data) {
        redirect("/");
      }
      return {
        data: data
      };
    } catch (error) {
      return error;
    }
  },

  created() {
    this.$store.commit("setCartItemNumber", this.data.totalItems);

  },

  mounted() {
    console.log('this.this.data.cartDetails')
    console.log(this.data.cartDetails)
    window.scrollTo(0, 0);
  }
};
</script>