<template>
  <div>
    <div class="_1fotter">
      <div class="_1fotter_all">
        <div class="_1fotter_main">
          <div class="_1fotter_top">
            <div class="_my_container">
              <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-10">
                  <div class="row">
                    <div class="col-12 col-md-12 col-sm-12 col-lg-6">
                      <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-7 _mar_b25">
                          <div class="_1fotter_title _1fotter_title_img _dis_flex align-items-center">
                            <img class="_1fotter_img" src="/static/appifylab_logo.png" alt title />
                            
                          </div>
                          <div class="_footer_deta">

                            <p>Appifylab is one of the leading Web and Mobile Application Development service providing company in Bangladesh.</p>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-5 _mar_b25">
                          <p class="_1fotter_title">Useful Links</p>

                          <ul class="_1fotter_list">
                            <li>
                              <a href="https://info.appifylab.com" target="_blank">About us</a>
                            </li>
                            <li>
                              <nuxt-link to="/privacy_policy">Terms of use</nuxt-link>
                            </li>
                            <li>
                              <nuxt-link to="/privacy_policy">Privacy & policy</nuxt-link>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-12 col-sm-12 col-lg-6">
                      <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-5 _mar_b25">
                          <p class="_1fotter_title">Our Services</p>

                          <ul class="_1fotter_list">
                            <li>
                              <nuxt-link to="/products">Products</nuxt-link>
                            </li>
                            <li>
                              <nuxt-link to="/services">Services</nuxt-link>
                            </li>
                          </ul>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-7 _mar_b25">
                          <p class="_1fotter_title">Follow us on</p>
                          <div class="_footer_deta">

                            <p>Connect with AppifyLab by our page through the following social media.</p>
                          </div>
                          <ul class="_1fotter_list">
                            <li>
                              <a href="https://www.facebook.com/appifylabnet/">
                                <i class="fab fa-facebook-square"></i> Facebook
                              </a>
                            </li>
                            <li>
                              <a href="https://www.linkedin.com/company/fastitsolution">
                                <i class="fab fa-linkedin"></i> Linkedin
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-12 col-sm-6 col-md-3 col-lg-3  _mar_b25">
                      <div class="_1fotter_title _1fotter_title_img _dis_flex align-items-center">
                        <img class="_1fotter_img" src="/static/appifylab_logo.png" alt title />
                        
                      </div>
                      <div class="_footer_deta">

                        <p>Appifylab is one of the leading Web and Mobile Application Development service providing company in Bangladesh.</p>
                      </div>
                    </div> -->

                    <!-- <div class="col-12 col-sm-6 col-md-3 col-lg-3 _footer_pad_left _mar_b25">
                      <p class="_1fotter_title">Quick Links</p>

                      <ul class="_1fotter_list">
                        <li>
                          <nuxt-link to="/terms">Terms</nuxt-link>
                        </li>
                        <li>
                          <nuxt-link to="/privacy_policy">Privacy and policy</nuxt-link>
                        </li>
                      </ul>
                    </div> -->

                    <!-- <div class="col-12 col-sm-6 col-md-3 col-lg-3 _footer_pad_left _mar_b25">
                      <p class="_1fotter_title">Help</p>

                      <ul class="_1fotter_list">
                        <li>
                          <nuxt-link to="/products">Products</nuxt-link>
                        </li>
                        <li>
                          <nuxt-link to="/services">Services</nuxt-link>
                        </li>
                      </ul>
                    </div> -->

                    <!-- <div class="col-12 col-sm-6 col-md-3 col-lg-3 _footer_pad_left _mar_b25">
                      <p class="_1fotter_title">Follow us on</p>

                      <ul class="_1fotter_list">
                        <li>
                          <a href="https://www.facebook.com/appifylabnet/">
                            <i class="fab fa-facebook-square"></i> Facebook
                          </a>
                        </li>
                        <li>
                          <a href="https://www.linkedin.com/company/fastitsolution">
                            <i class="fab fa-linkedin"></i> Linkedin
                          </a>
                        </li>
                      </ul>
                    </div> -->

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="_1fotter_bottom _border_color2">
            <div class="_my_container">
              <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-10">
                  <div class="_1fotter_bottom_main _flex_row">
                    <!-- <p class="_1fotter_bottom_title">AppifyLab</p> -->

                    <p
                      class="_1fotter_bottom_text _new_1fotter_bottom_text _flex_space text-center"
                    >Copyright @ 2020 AppifyLab. All rights reserved.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="_footer_bac_img"></div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      circleLoading: false
    };
  }
};
</script>