<template>
  <div>
    <div id="_1menu" class="_1menu _fixed _auto_scroll_menu">
      <!-- desktop menu -->
      <div class="_my_container _desktop_container">
        <div class="_1menu_main">
          <div class="_1menu_logo_pic">
            <router-link to="/">
              <img
                class="_1menu_logo_img"
                src="/static/appifylab_logo.png"
                alt="appifylab logo"
                title
              />
            </router-link>
          </div>

          <div class="_1menu_list">
            <ul class="_1menu_list_ul">
              <li :class="($route.path == '/') ? '_1menu_list_active' : ''">
                <nuxt-link to="/">Home</nuxt-link>
              </li>
              <li :class="($route.path == '/products') ? '_1menu_list_active' : ''">
                <nuxt-link to="/products/All">Products</nuxt-link>
              </li>
              <li :class="($route.path == '/services') ? '_1menu_list_active' : ''">
                <nuxt-link to="/services">Services</nuxt-link>
              </li>

              <li :class="($route.path == '/contact') ? '_1menu_list_active' : ''">
                <nuxt-link to="/contact_us">Contact Us</nuxt-link>
              </li>

              <li>
                <a target="_blank" href="https://info.appifylab.com" to="/contact_us">About Us</a>
              </li>
            </ul>
          </div>

          <div class="_1menu_right">
            <div class="_1menu_card">
              <nuxt-link to="/cart/details">
                <img class="_1menu_card_img" src="/static/cart.png" alt title />
                <p v-if="cartNumber > 0" class="_1menu_card_num">{{ cartNumber }}</p>
              </nuxt-link>
            </div>
            <div class="hide_in_mobile">
              <Dropdown style="margin-left: 20px" v-if="authUser">
                <Button type="primary" class="_1btn">
                  {{ authUser.fullName }}
                  <Icon type="ios-arrow-down"></Icon>
                </Button>
                <DropdownMenu slot="list">
                  <DropdownItem>
                    <p @click="$router.push('/profile')">Profile</p>
                  </DropdownItem>
                  <DropdownItem>
                    <p @click="$router.push('/profile/myOrder')">My Orders</p>
                  </DropdownItem>
                  <DropdownItem>
                    <p @click="$router.push('/profile/download')">My Downloads</p>
                  </DropdownItem>

                  <DropdownItem divided>
                    <p @click="logout">Logout</p>
                  </DropdownItem>
                </DropdownMenu>
              </Dropdown>
            </div>

            <div v-if="!authUser">
              <Button
                v-if="$route.path != '/login'"
                @click="$router.push('/login')"
                class="_1btn"
                type="primary"
              >Log in</Button>
              <Button
                v-if="$route.path != '/signup'"
                @click="$router.push('/signup')"
                class="_1btn"
                type="primary"
              >Register</Button>
            </div>
          </div>
        </div>
      </div>

      <div class="_my_container _mobile_container">
        <div class="_mobile_menu_top">
          <div class="_1menu_logo_pic">
            <router-link to="/">
              <img
                class="_1menu_logo_img"
                src="/static/appifylab_logo.png"
                alt="appifylab logo"
                title
              />
            </router-link>
          </div>
          <div class="_menu_icon">
            <div class="_1menu_card">
              <nuxt-link to="/cart/details">
                <img class="_1menu_card_img" src="/static/cart.png" alt title />
                <p v-if="cartNumber > 0" class="_1menu_card_num">{{ cartNumber }}</p>
              </nuxt-link>
            </div>
            <div class="_menu_bar">
              <span>
                <i class="fas fa-bars"></i>
              </span>
            </div>

          </div>
        </div>
        <div class="_mobile_menu_overlay">
          <div class="_mobile_menu_list">
            <div class="_mobile_menu_close">
              <span>
                <i class="fas fa-times"></i>
              </span>
            </div>
            <ul class="_1menu_list_ul">
              <li :class="($route.path == '/products') ?  '_1menu_list_active' : ''">
                <nuxt-link to="/products">Products</nuxt-link>
              </li>

              <li :class="($route.path == '/services') ? '_1menu_list_active' : ''">
                <nuxt-link to="/services">Services</nuxt-link>>
              </li>

              <li :class="($route.path == '/contact') ? '_1menu_list_active' : ''">
                <nuxt-link to="/contact_us">Contact Us</nuxt-link>
              </li>

              <li>
                <a target="_blank" href="https://info.appifylab.com" to="/contact_us">About Us</a>
              </li>
            </ul>
            <div class="_1menu_pro">
              <button
                v-if="$route.path != '/login'"
                @click="$router.push('/login')"
                class="_1btn"
                type="button"
              >Log in</button>
              <button
                v-if="$route.path != '/signup'"
                @click="$router.push('/signup')"
                class="_1btn"
                type="button"
              >Register</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="_1menu" class="_1menu _fixed _mobile_fixed_menu menu_fixed">
      <div class="_my_container _mobile_container">
        <div class="_mobile_menu_top">
          <div class="_1menu_logo_pic">
            <router-link to="/">
              <img class="_1menu_logo_img" src="/static/appifylab_logo.png" alt title />
            </router-link>
          </div>
          <div class="_menu_icon">
            <div class="_1menu_card">
              <nuxt-link to="/cart/details">
                <img class="_1menu_card_img" src="/static/cart.png" alt title />
                <p v-if="cartNumber > 0" class="_1menu_card_num">{{ cartNumber }}</p>
              </nuxt-link>
            </div>
            <div class="_menu_bar">
              <span>
                <i class="fas fa-bars"></i>
              </span>
            </div>

          </div>
        </div>
        <div class="_mobile_menu_overlay">
          <div class="_mobile_menu_list">
            <div class="_mobile_menu_close">
              <span>
                <i class="fas fa-times"></i>
              </span>
            </div>
            <ul class="_1menu_list_ul">
              <template v-if="authUser">

                  <li :class="($route.path == '/products') ?  '_1menu_list_active' : ''">
                    <nuxt-link to="/products">Profile</nuxt-link>
                  </li>

                  <li :class="($route.path == '/profile/myOrder') ?  '_1menu_list_active' : ''">
                    <nuxt-link to="/profile/myOrder">My Orders</nuxt-link>
                  </li>
                  <li :class="($route.path == '/profile/download') ?  '_1menu_list_active' : ''">
                    <nuxt-link to="/profile/download">My Downloads</nuxt-link>
                  </li>
              </template>

              <li :class="($route.path == '/') ?  '_1menu_list_active' : ''">
                <nuxt-link to="/">Home</nuxt-link>
              </li>
              <li :class="($route.path == '/products') ?  '_1menu_list_active' : ''">
                <nuxt-link to="/products">Products</nuxt-link>
              </li>

              <li :class="($route.path == '/services') ? '_1menu_list_active' : ''">
                <nuxt-link to="/services">Services</nuxt-link>>
              </li>

              <li :class="($route.path == '/contact') ? '_1menu_list_active' : ''">
                <nuxt-link to="/contact_us">Contact Us</nuxt-link>
              </li>

              <li>
                <a target="_blank" href="https://info.appifylab.com" to="/contact_us">About Us</a>
              </li>
              <li v-if="authUser">
                  <button

                      @click="logout"
                      class="_1btn"
                      type="button"
                    >Logout</button>

              </li>
            </ul>
            <div class="_1menu_pro" v-if='!authUser'>
              <button
                v-if="$route.path != '/login'"
                @click="$router.push('/login')"
                class="_1btn"
                type="button"
              >Log in</button>
              <button
                v-if="$route.path != '/signup'"
                @click="$router.push('/signup')"
                class="_1btn"
                type="button"
              >Register</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      //showMenuItem: false,
    };
  },
  computed: {
    ...mapGetters({
      authUser: "getAuthUser",
    }),
  },

  methods: {
    async logout() {
      const res = await this.callApi("get", "/app/user/logout");

      if (res.status === 200) {
        this.$store.commit("updateAuthUser", false);
        window.location = "/";
      }
    },
  },

  filters: {
    firstName: function (value) {
      var result = value.split(" ").slice(0, -1).join(" ");
      return result;
    },
  },
};
</script>
