<template>
  <div>
    <my-header />
    <nuxt />
    <footerdd />
  </div>
</template>

<script>
import MyHeader from "~/components/Header.vue";
import footerdd from "~/components/footerdd.vue";
export default {
  components: {
    MyHeader,
    footerdd
  },

  async created() {
    const [res, cart] = await Promise.all([
      this.callApi("get", "/app/get/product/allCategory"),
      this.callApi("get", "/app/cart/getDetails")
    ]);
    if (res.status === 200 && cart.status == 200) {
      this.$store.commit("setProductCategory", res.data.productCategory);
      this.$store.commit("setCartItemNumber", cart.data.totalItems);
      this.$store.commit("setCartItem", cart.data.cartDetails);
    } else {
      this.i("Product Category didn't load. Please Try again!");
    }
  }
};
</script>

<style>
</style>
