
<template>
  <div class="_1product _content0">
    <!-- Header -->
    <div class="_2header">
      <div class="_my_container">
        <div class="_2header_main">
          <h1 class="_2header_title">
            <span class="_1color">{{ error.statusCode }}</span>
            <br />
            {{ error.message }}
          </h1>

          <nuxt-link class="button" to="/">
            <button style="width: 100%;" type="button" class="_2btn">Go back to Homepage</button>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>
  

<script>
export default {
  props: ["error"]
};
</script>