<template>
  <div>
    <div class="_1product _content0">
      <!-- Header -->
      <div class="_2header">
        <div class="_my_container">
          <div class="_2header_main pheader">
            <h1 class="_2header_title ptitle">
              Download free & premium website templates and Flutter mobile app UI starting from as low as
              <br />10$
            </h1>

            <p class="_2text _2color">
              Choose from our unique website templates and Flutter app UI, customize them to fit your needs and get an exclusive look without struggling to create it.
              Making beautiful software has never been quicker.
              For any help our expert support team is always ready!

            </p>
          </div>
        </div>


      </div>
      <!-- Header -->

      <!-- Main Content -->
      <div class="_1product_main">
        <div class="_my_container">
          <!-- Top Filter -->
          <div class="_2filter">
            <div
              :class="(tab == 'All') ? `_2filter_items _mar_r10 _2filter_active` : `_2filter_items _mar_r10`"
              @click="onClickFilter('All')"
            >
              <p class="_2filter_text">All</p>
            </div>
            <div
              :class="(tab == 'themes') ? `_2filter_items _mar_r10 _2filter_active` : `_2filter_items _mar_r10`"
              @click="onClickFilter('themes')"
            >
              <p class="_2filter_text">Themes & Templates</p>
            </div>
            <div
              :class="(tab == 'flutter_apps') ? `_2filter_items _mar_r10 _2filter_active` : `_2filter_items _mar_r10`"
              @click="onClickFilter('flutter_apps')"
            >
              <p class="_2filter_text">Flutter Apps</p>
            </div>

          </div>
          <!-- Top Filter -->

          <div class="_1product_all">
             <div class="_center">
                <adsbygoogle  ad-slot="7855974914"   analytics-uacct="UA-67475707-4" analytics-domain-name="appifylab.com"/>
            </div>
            <div class="row">
              <!-- Right Card -->
              <div class="col-12 col-md col-lg _pro_rel _overflow_hidden">
                <div class="row">
                  <!-- shimmer -->
                  <template v-if="isLoading">
                    <cateShimmer></cateShimmer>
                  </template>
                  <!-- shimmer -->

                  <!-- Items -->
                  <template v-else>
                    <template v-if="allProducts">
                      <div
                        class="col-12 col-md-6 col-lg-4"
                        v-for="(item, index) in allProducts"
                        :key="index"
                      >
                        <div class="_1card _box_shadow2 _border_radious _mar_b30">
                          <div v-if="item.singleImage" class="_1card_pic">
                            <nuxt-link :to="`/products/details/${item.slug}`">
                              <img
                                class="_1card_img"
                                :src="item.singleImage.imageURL"
                                :alt="item.title "
                              />
                            </nuxt-link>
                            <div v-if="item.discount > 0" class="_off">
                              <p class="_off_text">{{ item.discount }}% off</p>
                            </div>
                          </div>

                          <div class="_1card_details">
                            <div class="_1card_details_top _flex_row">
                              <div class="_1card_title _flex_space _overflow_hidden">
                                <nuxt-link :to="`/products/details/${item.slug}`">
                                  <p class="_card_title _text_overflow">{{ item.title }}</p>
                                </nuxt-link>
                              </div>
                              <div v-if="item.singleLicense" class="_1card_price_main">
                                <p class="_1card_price">
                                  ${{ (item.discount > 0) ? item.singleLicense.price - (item.singleLicense.price * item.discount / 100) : item.singleLicense.price }}
                                  <del
                                    v-if="item.discount > 0"
                                    class="_delete _padd_l5"
                                  >${{ item.singleLicense.price }}</del>
                                </p>
                              </div>
                            </div>

                            <div class="_1card_bottom">
                              <div class="_1card_status">
                                <p
                                  class="_1card_status_text _text_overflow"
                                >{{ item.category.categoryName }}</p>
                              </div>

                              <div class="_1card_rating">
                                <ul class="_1rating">
                                  <li class="_1rating_active">
                                    <Rate disabled v-model="item.avgRating" :allow-half="true" />
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                       <adsbygoogle  ad-slot="7356555117" ad-layout-key="+12+s7-h-50+aq" ad-format="fluid"  analytics-uacct="UA-67475707-4" analytics-domain-name="appifylab.com"/>
                    </template>

                    <template v-else>
                      <div class="col-12 col-md col-lg">
                        <p class="_dis_flex justify-content-center">No Products Found!</p>
                      </div>
                    </template>
                  </template>
                  <!-- Items -->
                </div>

                <!-- Background Logo -->
                <div class="_1product_bac_logo">
                  <img class="_1product_bac_logo_img" src="/static/Appify.png" alt title />
                </div>
                <!-- Background Logo -->
              </div>
              <!-- Right Card -->
            </div>
          </div>
        </div>
      </div>
      <!-- Main Content -->
    </div>
  </div>
</template>


<script>
import cateShimmer from "~/components/shimmer/cateShimmer.vue";
export default {
  components: {
    cateShimmer
  },
  data() {
    return {
      allProducts: [],
      isLoading: false,
      filter: "themes",
      tab:'All'
    };
  },

  head() {
    return {
      meta: [
        {
          name: "title",
          content: "HTML website  templates | flutter app templates | AppifyLab"
        },
        {
          name: "keywords",
          content:
            "html template ,flutter app,flutter app templates ,website html template ,website template,"
        },
        {
          name: "description",
          content:
            "Download the Professional HTML templates and flutter app templates. All templates are premium and you can use these templates for job websites, beauty & spa or salon websites, training websites, food websites, e-commerce, or a commercial website, social chat app, hotel booking app, marketplace app, food delivery app, eCommerce app, and social app."
        }
      ],
      title: "HTML website  templates | flutter app templates | AppifyLab"
    };
  },

  methods: {
    onClickFilter(filter) {
      this.filter = filter;
      this.tab = filter;
      history.pushState({}, null, `/products/${filter}`);
      this.getProductDetails(this.filter);
      return;
    },
    async getProductDetails(filter='All') {
      this.isLoading = true;
      const res = await this.callApi(
        "get",
        `/app/get/products?filter=${filter}`
      );

      if (res.status == 200) {
        this.allProducts = res.data.allProducts;
      } else if (res.status == 401) {
        this.e(res.data.message);
      } else {
        this.i("All products didn't load, try again");
      }
      this.isLoading = false;
    }
  },

  async created() {
    // get product details
    this.tab = this.$route.params.name
    this.getProductDetails(this.tab);
    return;
  },

  async asyncData({ app }) {},

  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>

<style scoped>
</style>
