<template>
  <div>
    <div class="_1login">
      <div class="_content _my_container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="_1login_left">
              <img class="_1login_left_img" src="/static/signimg.png" alt title />

              <div class="_1login_bac_one"></div>
            </div>
          </div>

          <div class="col-12 col-md-5 col-lg-auto">
            <div class="_1login_right _box_shadow">
              <template v-if="isLoading">
                <div class="_load_img">
                  <img src="/loading.gif" alt="Please Wait..."  />
                </div>
              </template>
              <template v-else>
                <h3 class="_1login_title">
                  <template v-if="!isTokenVerified">Invalid Token</template>
                  <template v-else>
                    Your email has been successfully verified!
                    Please log in to continue.
                    <nuxt-link to="/login" style="display: block; margin-top: 17px;">
                      <Button>Go to login</Button>
                    </nuxt-link>
                  </template>
                </h3>
              </template>
            </div>
          </div>
        </div>
      </div>

      <div class="_1login_bac">
        <div class="_1login_bac_two"></div>
      </div>
    </div>
  </div>
</template>

<script>
import VueRecaptcha from "vue-recaptcha";
export default {
  data() {
    return {
      isTokenVerified: false,
      isLoading: false
    };
  },
  async created() {
    this.isLoading = true;
    let emailVerifyData = {
      user_email: this.$route.query.user_email ? this.$route.query.user_email : "",
      token: this.$route.query.token ? this.$route.query.token : ""
    };
    const res = await this.callApi(
      "post",
      "/app/user/verify/email",
      emailVerifyData
    );
    if (res.status === 200) {
      this.isLoading = false;
      this.isTokenVerified = true;
    } else {
      this.isLoading = false;
      this.isTokenVerified = false;
      if (res.data.message) {
        this.e(res.data.message);
      }
    }
  },

  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>
