<template>
  <div>
    <div class="_1login">
      <div class="_content _my_container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="_1login_left">
              <img class="_1login_left_img" src="/static/signimg.png" alt title />

              <div class="_1login_bac_one"></div>
            </div>
          </div>

          <div class="col-12 col-md-5 col-lg-auto">
            <div class="_1login_right _box_shadow">
              <template v-if="isLoading">
                <div class="_load_img">
                  <img src="/loading.gif" alt="Please Wait..." />
                </div>
              </template>
              <template v-else>
                <h3 class="_1login_title">
                  <template v-if="!isTokenVerified">Invalid Token</template>
                  <template v-else>
                    <form class="_1login_form">
                      <div class="_1input_group">
                        <p class="_1label">New password</p>

                        <input
                          v-model="form.newPassword"
                          class="_1int"
                          type="password"
                          placeholder="password"
                        />
                      </div>
                      <div class="_1input_group">
                        <p class="_1label">Re-type password</p>

                        <input
                          v-model="form.newPassword2"
                          class="_1int"
                          type="password"
                          placeholder="re-type password"
                        />
                      </div>
                      <div class="_1input_button">
                        <button
                          @click="onClickResetPassword"
                          :disabled="isLoading"
                          class="_1btn"
                          type="button"
                        >Reset Password</button>
                      </div>
                    </form>
                  </template>
                </h3>
              </template>
            </div>
          </div>
        </div>
      </div>

      <div class="_1login_bac">
        <div class="_1login_bac_two"></div>
      </div>
    </div>
  </div>
</template>

<script>
import VueRecaptcha from "vue-recaptcha";
export default {
  data() {
    return {
      isTokenVerified: false,
      isLoading: false,

      form: {
        newPassword: "",
        newPassword2: "",
        token: ""
      }
    };
  },

  methods: {
    async onClickResetPassword() {
      if (this.form.newPassword.trim() == "") {
        return this.i("password is required!");
      }

      if (this.form.newPassword2.trim() == "") {
        return this.i("please retype password");
      }

      if (this.form.newPassword2 != this.form.newPassword) {
        return this.i(`password doesn't match`);
      }

      if (this.form.token.trim() == "") {
        return this.i("Invalid Token!");
      }

      this.isLoading = true;
      let data = {
        newPassword: this.form.newPassword,
        token: this.form.token
      };
      console.log(this.form);
      const res = await this.callApi("post", "/app/user/password/reset", data);
      if (res.status === 200) {
        this.isLoading = false;
        this.s(
          "You password has been successfully reset! Please log in to continue!"
        );
        this.$router.push("/login");
      } else {
        this.isLoading = false;
        if (res.data.message) {
          this.e(res.data.message);
        }
      }
    }
  },
  async created() {
    this.form.token = this.$route.query.token ? this.$route.query.token : "";
    this.isLoading = true;
    let tokenData = {
      token: this.form.token
    };
    const res = await this.callApi(
      "post",
      "/app/user/verify/passwordResetCode",
      tokenData
    );
    if (res.status === 200) {
      this.isLoading = false;
      this.isTokenVerified = true;
    } else {
      this.isLoading = false;
      this.isTokenVerified = false;
      if (res.data.message) {
        this.e(res.data.message);
      }
    }
  },

  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>