<template>
  <div>
    <div class="_1login">
      <div class="_content _my_container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="_1login_left">
              <img class="_1login_left_img" src="/static/signimg.png" alt title />

              <div class="_1login_bac_one"></div>
            </div>
          </div>

          <div class="col-12 col-md-5 col-lg-auto">
            <div class="_1login_right _box_shadow">
              <h3 class="_1login_title">
                <span class="_1color">Reset</span> you password
              </h3>
              <template v-if="isLoading">
                <div class="_load_img">
                  <img src="/loading.gif" alt="Please Wait..." />
                </div>
              </template>
              <template v-else>
                <form v-if="!isEmailSent" class="_1login_form">
                  <div class="_1input_group">
                    <p class="_1label">Email</p>

                    <input v-model="form.email" class="_1int" type="text" placeholder="email" />
                  </div>
                  <div class="_1input_button">
                    <button
                      @click="onSubmit"
                      :disabled="isLoading"
                      class="_1btn"
                      type="button"
                    >Send Password Reset Code</button>
                  </div>
                </form>
                <div v-else>
                  <p>A password reset link has been sent to your email. Please check you mail.</p>
                  <p class="Never">Didn't received mail?</p>
                  <template v-if="countDown">
                    <a class="_2link" disabled>Resent Email</a>
                    <span v-if="minutes && seconds">({{minutes}}:{{seconds}})</span>
                  </template>
                  <template v-else>
                    <a class="_2link" @click="resendEmail">
                      <button>Resend Email</button>
                    </a>
                  </template>
                </div>
                <div class="_1login_bottom _border_color">
                  <p class="Never">
                    Never used AppifyLab?
                    <nuxt-link class="_2link" to="/signup">Sign Up Now</nuxt-link>
                  </p>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>

      <div class="_1login_bac">
        <div class="_1login_bac_two"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: ""
      },
      passwordResetCode: false,
      isLoading: false,
      isEmailSent: false,
      isTokenVerified: false,
      countDown: false,
      minutes: "",
      seconds: ""
    };
  },

  methods: {
    startTimer() {
      var duration = 180;
      var timer = duration;
      var minutes, seconds;
      var self = this;
      this.countDown = true;

      var myCountDown = setInterval(function() {
        this.countDown = true;
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);
        self.minutes = minutes < 10 ? "0" + minutes : minutes;
        self.seconds = seconds < 10 ? "0" + seconds : seconds;

        if (--timer < 0) {
          self.countDown = false;
          return clearInterval(myCountDown);
        }
      }, 1000);
    },

    async resendEmail() {
      this.onSubmit();
    },
    async onSubmit() {
      if (this.form.email == "") {
        return this.i("Email is required!");
      }

      this.isLoading = true;

      const res = await this.callApi(
        "post",
        "/app/user/send/passwordResetCode",
        this.form
      );

      if (res.status == 200) {
        this.isLoading = false;
        this.isEmailSent = true;
        await this.startTimer();
      } else {
        if(res.status==401){
          this.i(res.data.message)
        }else{
          this.swr();
        }

        this.isLoading = false;
      }
    },

    async onCheckVerifyCode() {
      if (this.passwordResetCode == "") {
        this.i("Code is required!");
      }

      this.isLoading = true;
      let verifyData = {
        code: this.passwordResetCode
      };
      const res = await this.callApi(
        "post",
        "/app/user/verify/passwordResetCode",
        verifyData
      );

      if (res.status == 200) {
        this.isLoading = false;

        if (this.$route.query.return_url) {
          return this.$router.push(this.$route.query.return_url);
        }
      } else {
        this.swr();
        this.isLoading = false;
      }
    }
  },

  mounted() {
    window.scrollTo(0, 0);
  }
};
</script>
